<a href="https://colab.research.google.com/github/curtiscu/LYIT/blob/master/BeatTrackingTests_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Work out beats, timings, etc for loaded data

Doc that came in handy creating this notebook..

* https://stackoverflow.com/questions/48905127/importing-py-files-in-google-colab
* https://ipython.org/ipython-doc/stable/config/extensions/autoreload.html
* https://switowski.com/blog/ipython-autoreload

# Setup env

In [0]:
def set_pandas_display_options() -> None:
    # Ref: https://stackoverflow.com/a/52432757/
    display = pd.options.display

    display.max_columns = 1000
    display.max_rows = 100
    display.max_colwidth = 199
    display.width = None
    # display.precision = 2  # set as needed

set_pandas_display_options()

In [63]:
# print all cell output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# install required libs
!pip install mido

LOADING - data_prep.py module name is: data_prep
Requirement already satisfied: mido in /usr/local/lib/python3.6/dist-packages (1.2.9)

In [64]:
# mount google drive

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [65]:
# test, peek at data
! ls -al '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/'

# test, modules from local  'E:\Google Drive\LYIT\Dissertation\modules'
! ls -al '/content/drive/My Drive/LYIT/Dissertation/modules/'

total 35
-rw------- 1 root root 2589 Apr 27 12:01 10_soul-groove10_102_beat_4-4.mid
-rw------- 1 root root 4793 Apr 27 12:01 1_funk-groove1_138_beat_4-4.mid
-rw------- 1 root root 3243 Apr 27 12:01 2_funk-groove2_105_beat_4-4.mid
-rw------- 1 root root 4466 Apr 27 12:01 3_soul-groove3_86_beat_4-4.mid
-rw------- 1 root root 2551 Apr 27 12:01 4_soul-groove4_80_beat_4-4.mid
-rw------- 1 root root 3798 Apr 27 12:01 5_funk-groove5_84_beat_4-4.mid
-rw------- 1 root root 3760 Apr 27 12:01 6_hiphop-groove6_87_beat_4-4.mid
-rw------- 1 root root 1894 Apr 27 12:01 7_pop-groove7_138_beat_4-4.mid
-rw------- 1 root root 2437 Apr 27 12:01 8_rock-groove8_65_beat_4-4.mid
-rw------- 1 root root 3448 Apr 27 12:01 9_soul-groove9_105_beat_4-4.mid
total 10
-rw------- 1 root root 5785 May 10 22:10 data_prep.py
drwx------ 2 root root 4096 May 10 22:11 __pycache__

## Auto reload module

I'm now using a module edited and saved to google drive which is automatically pushed to the cloud and made available to the colab env. Changes need time to propagate, and imports don't 'reimport' to load changes, so trying the following...

Note the code below is not very reliable, it seems to work occasionally, after some time, but haven't been able to work out the pattern to it. 

If in a hurry, brute force loading of changes by restarting the runtime.

In [66]:
# tool to auto reload modules.
%load_ext autoreload

# config to auto-reload all modules, handy to make 
# writing and testing modules much easier.
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [0]:
# imports
import pandas as pd
import mido 
from mido import MidiFile

import datetime

# import my modules
import sys
sys.path.append('/content/drive/My Drive/LYIT/Dissertation/modules/')
import data_prep

In [68]:
print(datetime.datetime.now())

2020-05-10 22:11:25.317404

In [69]:
# testing auto reload of modules 
data_prep.test_function_call('bling')

test function called worked! :)  bling

# Test creating object from custom module

In [70]:
midi_file = data_prep.MIDI_File_Wrapper('/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/10_soul-groove10_102_beat_4-4.mid')

__ FILE: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/10_soul-groove10_102_beat_4-4.mid
tracks: [<midi track 'MIDI' 639 messages>]
time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
tempo: <meta message set_tempo tempo=588235 time=0>

... the above verifies I'm able to create custom objects from custom code, great!

# Brainstorming ways to calculate beat times

Things I might need to calculate..
* start/ end times of bars
* beat times for 1/4, 1/8, 1/16, 1/32 notes
* shuffles in 4/4?

Ways to go about it...
* Take list of MIDI note_on, find what beat & bar to associate each beat with.
* For a given musical beat, take the acceptable timing range for something to be considered related to it, filter all the MIDI notes against this range to see which if any fall into that range.

Python code/ libs for ranges and splitting datasets..
* python 'range', only works on integers
* pandas.cut, pandas.qcut
* numpy
* itertools 

Some handy refs...
* https://realpython.com/how-to-use-numpy-arange/
* https://numpy.org/doc/stable/reference/generated/numpy.linspace.html
* https://pbpython.com/pandas-qcut-cut.html < looks very promising!!!

## peek at example object data..

In [71]:
# take a peek inside what we've setup already...
midi_file.__dict__

{'df_midi_data':             msg_type  delta_time  ... ticks_since_start  seconds_since_start
 0         track_name           0  ...                 0             0.000000
 1    instrument_name           0  ...                 0             0.000000
 2     time_signature           0  ...                 0             0.000000
 3      key_signature           0  ...                 0             0.000000
 4       smpte_offset           0  ...                 0             0.000000
 ..               ...         ...  ...               ...                  ...
 634          note_on          37  ...             30566            37.458315
 635         note_off          83  ...             30649            37.560030
 636          note_on          24  ...             30673            37.589442
 637         note_off          83  ...             30756            37.691158
 638     end_of_track           0  ...             30756            37.691158

 [639 rows x 5 columns],
 'my_file_midi': <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/10_soul-groove10_102_beat_4-4.mid' type 0, 1 tracks, 639 messages>,
 'my_file_name': '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/10_soul-groove10_102_beat_4-4.mid',
 'my_tempo': <meta message set_tempo tempo=588235 time=0>,
 'my_time_sig': <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>}

In [72]:
midi_file.__doc__

' utility wrapper for loading, parsding a mido.MidiFile object'

## Calulate some time metrics

In [91]:
print('file name: {}'.format(midi_file.my_file_name))
print('ticks per quarter note: {}'.format(midi_file.ticks()))
print('tempo (microseconds p/ quarter): {}'.format(midi_file.tempo_us()))
print('tempo (bpm): {}'.format(midi_file.tempo_bpm()))

file name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/10_soul-groove10_102_beat_4-4.mid
ticks per quarter note: 480
tempo (microseconds p/ quarter): 588235
tempo (bpm): 102.0000510000255

In [95]:

def calc_sec(ticks):
  return mido.tick2second(ticks, midi_file.ticks(), midi_file.tempo_us() )

# caluate absolute time in milliseconds
# mido.tick2second(ticks, < ticks per quarter >, < tempo in microseconds> )
print('seconds per tick (ticks2seconds): {}'.format(mido.tick2second(1, midi_file.ticks(), midi_file.tempo_us() )))

# NOTE: calculate microseconds per tick
# µs_per_tick  = ticks per qaurter beat / file time in microseconds
us_per_tick =  midi_file.tempo_us()/ midi_file.ticks()
print('microseconds per tick: {}'.format(us_per_tick))

# NOTE: the following works for different time sigs, i.e. 
#   will handle 6/8  and  4/4 ok...
# beat ticks = <ticks per quarter beat> x  ( 4/ < file time sig denominator > )
ticks_per_beat = midi_file.ticks() * ( 4/ midi_file.ts_denom() )
print('per beat: {}, ticks: {}, sec: {}'.format(midi_file.ts_denom(), ticks_per_beat, calc_sec(ticks_per_beat)))

# NOTE: total ticks for a measure..
# bar ticks = < beat ticks >  x < beats per bar >
ticks_per_bar = ticks_per_beat * midi_file.ts_num()
print('per bar - ticks: {}, sec: {}'.format(ticks_per_bar, calc_sec(ticks_per_bar)))

# Ticks per 1/8 note
ticks_per_8 = midi_file.ticks() * ( 4/ 8 )
print('per 1/8 - ticks: {}, sec: {}'.format(ticks_per_8, calc_sec(ticks_per_8)))

# Ticks per 1/16 note
ticks_per_16 = midi_file.ticks() * ( 4/ 16 )
print('per 1/16 - ticks: {}, sec: {}'.format(ticks_per_16, calc_sec(ticks_per_16)))

seconds per tick (ticks2seconds): 0.0012254895833333332
microseconds per tick: 1225.4895833333333
per beat: 4, ticks: 480.0, sec: 0.588235
per bar - ticks: 1920.0, sec: 2.35294
per 1/8 - ticks: 240.0, sec: 0.2941175
per 1/16 - ticks: 120.0, sec: 0.14705875

## Calculate number of bars in file

In [97]:

# last note_on event in file, in seconds..
#    event# 636, time(s): 37.589442
# .. divided by length of bar in seconds
total_bars = 37.589442 /2.35294
print('number bars in file: {}'.format( total_bars))

number bars in file: 15.975520837760419

In [103]:
import math

# round up number of bars
total_bars = math.ceil(total_bars)

print('# bars, rounded up: {}'.format(total_bars))

# bars, rounded up: 16

# Calculate number of beats in file

In [104]:
# number of beats in file
total_beats = total_bars * midi_file.ts_num()
print('total beatz: {}'.format(total_beats))

total beatz: 64

In [0]:
# 1/16s in file

# Ticks per 1/16 note
ticks_per_16 = midi_file.ticks() * ( 4/ 16 )

# Splitting data

## Testing pandas.cut

* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html

In [122]:
# example usage -> pd.cut(df['ext price'], bins=4)
display(pd.cut(midi_file.df_midi_data['ticks_since_start'], bins=64).to_frame())

        ticks_since_start
0      (-30.756, 480.562]
1      (-30.756, 480.562]
2      (-30.756, 480.562]
3      (-30.756, 480.562]
4      (-30.756, 480.562]
..                    ...
634  (30275.438, 30756.0]
635  (30275.438, 30756.0]
636  (30275.438, 30756.0]
637  (30275.438, 30756.0]
638  (30275.438, 30756.0]

[639 rows x 1 columns]

There's a problem using pd.cut above, note the last bucket ends at precisely the last numbered tick, but the first bucket has a start that's a negative! Looks like it works by segmenting from the high number/ end of the data down, therefore ends up -ve.

Looks like there are additional params to 'cut' I can use to sort this out, more info here..
* https://stackoverflow.com/a/57041772
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html

The above stack overflow link gives the following example..

`df['score_range'] = pd.cut(x=df['score'], bins=range(0, 125, 25), right=False)`

I need to use 'bins=range' ...

* total_range = (ticks_per_beat x beats_per_bar x bars_in_file)
* bin size = ticks_per_beat

In [134]:
# df['score_range'] = pd.cut(x=df['score'], bins=range(0, 125, 25), right=False)

file_range = int(ticks_per_beat * midi_file.ts_num() * total_bars)
bin_size = int(ticks_per_beat)

print('file_range: {}, bin_size: {}'.format(file_range, bin_size))

df = midi_file.df_midi_data
just_ons = df[df['msg_type'] == 'note_on']
my_bins=range(0, file_range + bin_size, bin_size)

display(pd.cut(just_ons['ticks_since_start'], bins=my_bins, right=False).to_frame())

file_range: 30720, bin_size: 480

    ticks_since_start
7            [0, 480)
8            [0, 480)
12           [0, 480)
14           [0, 480)
16           [0, 480)
..                ...
625    [30240, 30720)
629    [30240, 30720)
631    [30240, 30720)
634    [30240, 30720)
636    [30240, 30720)

[247 rows x 1 columns]

BOOM! The above looks right :)

The next bit of code shows count of number of beats in each bucket..

In [139]:

pd.cut(just_ons['ticks_since_start'], bins=my_bins, right=False).value_counts()

[1440, 1920)      7
[25920, 26400)    6
[18240, 18720)    6
[14400, 14880)    6
[20640, 21120)    6
[11040, 11520)    5
[18720, 19200)    5
[16320, 16800)    5
[29760, 30240)    5
[12480, 12960)    5
[30240, 30720)    5
[10560, 11040)    5
[8640, 9120)      5
[7200, 7680)      5
[6720, 7200)      5
[5280, 5760)      5
[4800, 5280)      5
[20160, 20640)    5
[0, 480)          5
[22080, 22560)    5
[28800, 29280)    5
[27840, 28320)    5
[24000, 24480)    5
[24480, 24960)    5
[26400, 26880)    4
[12960, 13440)    4
[1920, 2400)      4
[2880, 3360)      4
[3360, 3840)      4
[4320, 4800)      4
[27360, 27840)    4
[8160, 8640)      4
[9120, 9600)      4
[21600, 22080)    4
[14880, 15360)    4
[16800, 17280)    4
[23520, 24000)    4
[22560, 23040)    4
[23040, 23520)    4
[17760, 18240)    4
[29280, 29760)    3
[19200, 19680)    3
[3840, 4320)      3
[5760, 6240)      3
[960, 1440)       3
[25440, 25920)    3
[12000, 12480)    3
[9600, 10080)     3
[11520, 12000)    3
[15840, 16320)    3
[15360, 15840)    3
[26880, 27360)    2
[24960, 25440)    2
[19680, 20160)    2
[2400, 2880)      2
[10080, 10560)    2
[28320, 28800)    2
[6240, 6720)      2
[13920, 14400)    2
[480, 960)        2
[7680, 8160)      2
[13440, 13920)    2
[17280, 17760)    1
[21120, 21600)    1
Name: ticks_since_start, dtype: int64

# DEBUG

Test filtering the df to just message type 'note_on'

In [135]:
df = midi_file.df_midi_data
df[df['msg_type'] == 'note_on']

,msg_type,delta_time,raw_data,ticks_since_start,seconds_since_start
7,note_on,0,"{'type': 'note_on', 'time': 0, 'note': 22, 'velocity': 99, 'channel': 9}",0,0.000000
8,note_on,0,"{'type': 'note_on', 'time': 0, 'note': 36, 'velocity': 127, 'channel': 9}",0,0.000000
12,note_on,0,"{'type': 'note_on', 'time': 0, 'note': 42, 'velocity': 21, 'channel': 9}",235,0.287990
14,note_on,144,"{'type': 'note_on', 'time': 144, 'note': 40, 'velocity': 127, 'channel': 9}",461,0.564951
16,note_on,0,"{'type': 'note_on', 'time': 0, 'note': 42, 'velocity': 75, 'channel': 9}",468,0.573529
...,...,...,...,...,...
625,note_on,33,"{'type': 'note_on', 'time': 33, 'note': 43, 'velocity': 96, 'channel': 9}",30330,37.169099
629,note_on,6,"{'type': 'note_on', 'time': 6, 'note': 44, 'velocity': 77, 'channel': 9}",30419,37.278168
631,note_on,2,"{'type': 'note_on', 'time': 2, 'note': 43, 'velocity': 89, 'channel': 9}",30446,37.311256
634,note_on,37,"{'type': 'note_on', 'time': 37, 'note': 43, 'velocity': 112, 'channel': 9}",30566,37.458315
636,note_on,24,"{'type': 'note_on', 'time': 24, 'note': 36, 'velocity': 127, 'channel': 9}",30673,37.589442