<a href="https://colab.research.google.com/github/curtiscu/LYIT/blob/master/BulkVisualisations_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Visualisations across bulk loaded data

# Setup env

In [1]:
# print all cell output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Google drive access

In [2]:
# mount google drive

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
# test, peek at data
! ls -al '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/'

# test, modules from local  'E:\Google Drive\LYIT\Dissertation\modules'
! ls -al '/content/drive/My Drive/LYIT/Dissertation/modules/'

total 35
-rw------- 1 root root 2589 Apr 27 12:01 10_soul-groove10_102_beat_4-4.mid
-rw------- 1 root root 4793 Apr 27 12:01 1_funk-groove1_138_beat_4-4.mid
-rw------- 1 root root 3243 Apr 27 12:01 2_funk-groove2_105_beat_4-4.mid
-rw------- 1 root root 4466 Apr 27 12:01 3_soul-groove3_86_beat_4-4.mid
-rw------- 1 root root 2551 Apr 27 12:01 4_soul-groove4_80_beat_4-4.mid
-rw------- 1 root root 3798 Apr 27 12:01 5_funk-groove5_84_beat_4-4.mid
-rw------- 1 root root 3760 Apr 27 12:01 6_hiphop-groove6_87_beat_4-4.mid
-rw------- 1 root root 1894 Apr 27 12:01 7_pop-groove7_138_beat_4-4.mid
-rw------- 1 root root 2437 Apr 27 12:01 8_rock-groove8_65_beat_4-4.mid
-rw------- 1 root root 3448 Apr 27 12:01 9_soul-groove9_105_beat_4-4.mid
total 43
-rw------- 1 root root 22877 Jul  2 21:06 data_prep.py
drwx------ 2 root root  4096 May 10 13:31 __pycache__
-rw------- 1 root root  7272 Jun 26 14:53 stats_n_features.py
-rw------- 1 root root  8416 Jun  2 21:24 visualizations.py

## Auto reload module

Now using library code I've created and saved to google drive which is automatically pushed to the cloud and made available to the colab env. The autoreload stuff below should help imports to 'reimport' to load changes to the library code.

It's not the quickest/ most reliable, so if in a hurry, brute force loading of changes by restarting the runtime.

In [4]:
# tool to auto reload modules.
%load_ext autoreload

# config to auto-reload all modules, handy to make 
# writing and testing modules much easier.
%autoreload 2

## Imports and accessing lib functions

In [5]:
# install required libs
!pip install mido

Collecting mido
  Downloading https://files.pythonhosted.org/packages/20/0a/81beb587b1ae832ea6a1901dc7c6faa380e8dd154e0a862f0a9f3d2afab9/mido-1.2.9-py2.py3-none-any.whl (52kB)
     |████████████████████████████████| 61kB 2.9MB/s
Installing collected packages: mido
Successfully installed mido-1.2.9

In [6]:
# import my modules
import sys
sys.path.append('/content/drive/My Drive/LYIT/Dissertation/modules/')
import data_prep as dp

>> LOADING custom module, when: 2020-07-02 21:28:54.756802, module name: data_prep

In [7]:
# imports
import pandas as pd
import math
import matplotlib.pyplot as plt
import numpy as np


# object that provides colours for charts
from itertools import cycle

In [8]:
# testing auto reload of modules 
dp.test_function_call('bling')

Test function in data_prep.py called and worked! when: 2020-07-02 21:28:54.803776,  param:bling

In [9]:
import stats_n_features as sf

>> LOADING custom module, when: 2020-07-02 21:28:55.158152, module name: stats_n_features

In [10]:
sf.test_function_call('hello')

Test function in stats_n_features called and worked! when: 2020-07-02 21:28:55.184843,  param:hello

## Pandas display options

In [11]:
def set_pandas_display_options() -> None:
    # Ref: https://stackoverflow.com/a/52432757/
    display = pd.options.display

    display.max_columns = 1000
    display.max_rows = 2000
    display.max_colwidth = 1000
    display.width = None
    # display.precision = 2  # set as needed

set_pandas_display_options()
#pd.reset_option('all')

# Bulk Load Data

### Setup

In [12]:
metafile = '/content/drive/My Drive/groove-v1.0.0-midionly/groove/info.csv'

meta_df = pd.read_csv(metafile, dtype = {"drummer": "string", 
                                         "session" : "string", 
                                         "id": "string", 
                                         "style": "string", 
                                         "beat_type": "string", 
                                         "time_signature" : "string",
                                         "midi_filename" : "string",
                                         "audio_filename" : "string",
                                         "split" : "string"})

# show count of test/ train/ validation split specified in file...
meta_df.groupby(['split', 'drummer']).size()

split       drummer
test        drummer1      48
            drummer3       8
            drummer5      13
            drummer7      40
            drummer8      17
            drummer9       3
train       drummer1     386
            drummer10     10
            drummer2      17
            drummer3      83
            drummer4       7
            drummer5      36
            drummer6      11
            drummer7     263
            drummer8      58
            drummer9      26
validation  drummer1      60
            drummer2       1
            drummer3       7
            drummer4       2
            drummer5       5
            drummer6       4
            drummer7      39
            drummer8       5
            drummer9       1
dtype: int64

In [13]:

# pull out the data for just 'eval_session' ..
eval_df = meta_df[meta_df['session'].str.contains('eval_session')].copy()
eval_df.info()

eval_df.drop(columns=['audio_filename', 'duration', 'beat_type'], inplace=True)

eval_df.groupby('drummer', as_index=False).count()
print('list of unique drummer IDs: {}'.format(eval_df['drummer'].unique()))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 1033
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   drummer         40 non-null     string
 1   session         40 non-null     string
 2   id              40 non-null     string
 3   style           40 non-null     string
 4   bpm             40 non-null     int64
 5   beat_type       40 non-null     string
 6   time_signature  40 non-null     string
 7   midi_filename   40 non-null     string
 8   audio_filename  40 non-null     string
 9   duration        40 non-null     float64
 10  split           40 non-null     string
dtypes: float64(1), int64(1), string(9)
memory usage: 3.8 KB

    drummer  session  id  style  bpm  time_signature  midi_filename  split
0  drummer1       10  10     10   10              10             10     10
1  drummer5       10  10     10   10              10             10     10
2  drummer7       10  10     10   10              10             10     10
3  drummer8       10  10     10   10              10             10     10

list of unique drummer IDs: <StringArray>
['drummer1', 'drummer5', 'drummer7', 'drummer8']
Length: 4, dtype: string

In [14]:
file_prefix = '/content/drive/My Drive/groove-v1.0.0-midionly/groove/'

eval_df['long_midi_filename'] = eval_df['midi_filename'].apply(lambda x: "{}{}".format(file_prefix, x))

In [15]:
# display(eval_df)

## Do the loading bit ...

In [16]:
all_drummer_data = {}

# iterate over rows with iterrows()
for index, row in eval_df.iterrows():

  # access data using column names
  next_drummer = row['drummer']
  next_file = row['long_midi_filename']

  # loads DataFrame (file_df), MIDI_File_Wrapper (f), and
  # the associated MidiTimingTools (mtt) objects..
  file_df, f, mtt = dp.load_file(next_file)

  err_bucks = sf.error_buckets(file_df) # parse for problem beats
  stats_dict = sf.gather_stats(file_df) # parse to gather stats

  # add tuple of data elements to dict with filename as key
  all_drummer_data[next_file] = (next_drummer, file_df, f, mtt, err_bucks, stats_dict)

FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/1_funk-groove1_138_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/1_funk-groove1_138_beat_4-4.mid' type 0, 1 tracks, 1300 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=434783 time=0>
    track count: 1, tracks: [<midi track 'MIDI' 1300 messages>]
    MIDI file type: 0
    > processing track: <midi track 'MIDI' 1300 messages>
    __notes pre-filter: [36. 37. 38. 40. 43. 44. 51. 52. 53. 55.]
    __applying filter: [44]
    __notes post filter: [36. 37. 38. 40. 43. 51. 52. 53. 55.]
    note_on span - first tick: 3 , last tick: 30658
    good instruments: 5, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 43.0: 'High Floor Tom (43)', 49.0: 'Crash Cymbal 1 (49)', 51.0: 'Ride Cymbal 1 (51)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/10_soul-groove10_102_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/10_soul-groove10_102_beat_4-4.mid' type 0, 1 tracks, 639 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=588235 time=0>
    track count: 1, tracks: [<midi track 'MIDI' 639 messages>]
    MIDI file type: 0
    > processing track: <midi track 'MIDI' 639 messages>
    __notes pre-filter: [22. 26. 36. 37. 38. 40. 42. 43. 44. 48.]
    __applying filter: [44]
    __notes post filter: [22. 26. 36. 37. 38. 40. 42. 43. 48.]
    note_on span - first tick: 0 , last tick: 30673
    good instruments: 6, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 43.0: 'High Floor Tom (43)', 46.0: 'Open Hi-Hat (46)', 50.0: 'High Tom (50)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/2_funk-groove2_105_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/2_funk-groove2_105_beat_4-4.mid' type 0, 1 tracks, 829 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=571429 time=0>
    track count: 1, tracks: [<midi track 'MIDI' 829 messages>]
    MIDI file type: 0
    > processing track: <midi track 'MIDI' 829 messages>
    __notes pre-filter: [22. 26. 36. 37. 38. 40. 42. 44. 52.]
    __applying filter: [44]
    __notes post filter: [22. 26. 36. 37. 38. 40. 42. 52.]
    note_on span - first tick: 20 , last tick: 30450
    good instruments: 5, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 46.0: 'Open Hi-Hat (46)', 49.0: 'Crash Cymbal 1 (49)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/3_soul-groove3_86_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/3_soul-groove3_86_beat_4-4.mid' type 0, 1 tracks, 1179 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=697674 time=0>
    track count: 1, tracks: [<midi track 'MIDI' 1179 messages>]
    MIDI file type: 0
    > processing track: <midi track 'MIDI' 1179 messages>
    __notes pre-filter: [22. 26. 36. 37. 38. 40. 42. 44. 46.]
    __applying filter: [44]
    __notes post filter: [22. 26. 36. 37. 38. 40. 42. 46.]
    note_on span - first tick: 0 , last tick: 30696
    good instruments: 4, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 46.0: 'Open Hi-Hat (46)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/4_soul-groove4_80_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/4_soul-groove4_80_beat_4-4.mid' type 0, 1 tracks, 626 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=750000 time=0>
    track count: 1, tracks: [<midi track 'MIDI' 626 messages>]
    MIDI file type: 0
    > processing track: <midi track 'MIDI' 626 messages>
    __notes pre-filter: [22. 26. 36. 38. 40. 42. 44.]
    __applying filter: [44]
    __notes post filter: [22. 26. 36. 38. 40. 42.]
    note_on span - first tick: 0 , last tick: 30470
    good instruments: 4, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 46.0: 'Open Hi-Hat (46)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/5_funk-groove5_84_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/5_funk-groove5_84_beat_4-4.mid' type 0, 1 tracks, 984 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=714286 time=0>
    track count: 1, tracks: [<midi track 'MIDI' 984 messages>]
    MIDI file type: 0
    > processing track: <midi track 'MIDI' 984 messages>
    __notes pre-filter: [22. 26. 36. 37. 38. 40. 42. 44. 46.]
    __applying filter: [44]
    __notes post filter: [22. 26. 36. 37. 38. 40. 42. 46.]
    note_on span - first tick: 0 , last tick: 30614
    good instruments: 4, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 46.0: 'Open Hi-Hat (46)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/6_hiphop-groove6_87_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/6_hiphop-groove6_87_beat_4-4.mid' type 0, 1 tracks, 971 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=689655 time=0>
    track count: 1, tracks: [<midi track 'MIDI' 971 messages>]
    MIDI file type: 0
    > processing track: <midi track 'MIDI' 971 messages>
    __notes pre-filter: [22. 26. 36. 37. 38. 40. 42. 44.]
    __applying filter: [44]
    __notes post filter: [22. 26. 36. 37. 38. 40. 42.]
    note_on span - first tick: 0 , last tick: 30474
    good instruments: 4, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 46.0: 'Open Hi-Hat (46)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/7_pop-groove7_138_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/7_pop-groove7_138_beat_4-4.mid' type 0, 1 tracks, 491 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=434783 time=0>
    track count: 1, tracks: [<midi track 'MIDI' 491 messages>]
    MIDI file type: 0
    > processing track: <midi track 'MIDI' 491 messages>
    __notes pre-filter: [36. 37. 38. 40. 42.]
    __applying filter: [44]
    __notes post filter: [36. 37. 38. 40. 42.]
    note_on span - first tick: 0 , last tick: 30476
    good instruments: 3, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/8_rock-groove8_65_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/8_rock-groove8_65_beat_4-4.mid' type 0, 1 tracks, 600 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=923077 time=0>
    track count: 1, tracks: [<midi track 'MIDI' 600 messages>]
    MIDI file type: 0
    > processing track: <midi track 'MIDI' 600 messages>
    __notes pre-filter: [22. 26. 36. 37. 38. 40. 42. 44. 46.]
    __applying filter: [44]
    __notes post filter: [22. 26. 36. 37. 38. 40. 42. 46.]
    note_on span - first tick: 0 , last tick: 30370
    good instruments: 4, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 46.0: 'Open Hi-Hat (46)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/9_soul-groove9_105_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/9_soul-groove9_105_beat_4-4.mid' type 0, 1 tracks, 937 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=571429 time=0>
    track count: 1, tracks: [<midi track 'MIDI' 937 messages>]
    MIDI file type: 0
    > processing track: <midi track 'MIDI' 937 messages>
    __notes pre-filter: [36. 38. 40. 44.]
    __applying filter: [44]
    __notes post filter: [36. 38. 40.]
    note_on span - first tick: 4 , last tick: 30454
    good instruments: 2, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/1_funk-groove1_138_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/1_funk-groove1_138_beat_4-4.mid' type 0, 1 tracks, 1037 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=434783 time=0>
    track count: 1, tracks: [<midi track 'Base Midi' 1037 messages>]
    MIDI file type: 0
    > processing track: <midi track 'Base Midi' 1037 messages>
    __notes pre-filter: [36. 38. 40. 44. 51.]
    __applying filter: [44]
    __notes post filter: [36. 38. 40. 51.]
    note_on span - first tick: 5 , last tick: 30634
    good instruments: 3, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 51.0: 'Ride Cymbal 1 (51)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/10_soul-groove10_102_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/10_soul-groove10_102_beat_4-4.mid' type 0, 1 tracks, 777 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=588235 time=0>
    track count: 1, tracks: [<midi track 'Base Midi' 777 messages>]
    MIDI file type: 0
    > processing track: <midi track 'Base Midi' 777 messages>
    __notes pre-filter: [22. 26. 36. 37. 38. 40. 42. 44.]
    __applying filter: [44]
    __notes post filter: [22. 26. 36. 37. 38. 40. 42.]
    note_on span - first tick: 0 , last tick: 30588
    good instruments: 4, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 46.0: 'Open Hi-Hat (46)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/2_funk-groove2_105_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/2_funk-groove2_105_beat_4-4.mid' type 0, 1 tracks, 867 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=571429 time=0>
    track count: 1, tracks: [<midi track 'Base Midi' 867 messages>]
    MIDI file type: 0
    > processing track: <midi track 'Base Midi' 867 messages>
    __notes pre-filter: [22. 26. 36. 37. 38. 40. 42. 44.]
    __applying filter: [44]
    __notes post filter: [22. 26. 36. 37. 38. 40. 42.]
    note_on span - first tick: 35 , last tick: 30629
    good instruments: 4, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 46.0: 'Open Hi-Hat (46)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/3_soul-groove3_86_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/3_soul-groove3_86_beat_4-4.mid' type 0, 1 tracks, 1146 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=697674 time=0>
    track count: 1, tracks: [<midi track 'Base Midi' 1146 messages>]
    MIDI file type: 0
    > processing track: <midi track 'Base Midi' 1146 messages>
    __notes pre-filter: [22. 26. 36. 37. 38. 40. 42.]
    __applying filter: [44]
    __notes post filter: [22. 26. 36. 37. 38. 40. 42.]
    note_on span - first tick: 0 , last tick: 30587
    good instruments: 4, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 46.0: 'Open Hi-Hat (46)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/4_soul-groove4_80_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/4_soul-groove4_80_beat_4-4.mid' type 0, 1 tracks, 606 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=750000 time=0>
    track count: 1, tracks: [<midi track 'Base Midi' 606 messages>]
    MIDI file type: 0
    > processing track: <midi track 'Base Midi' 606 messages>
    __notes pre-filter: [22. 26. 36. 37. 38. 40. 42. 44.]
    __applying filter: [44]
    __notes post filter: [22. 26. 36. 37. 38. 40. 42.]
    note_on span - first tick: 0 , last tick: 30476
    good instruments: 4, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 46.0: 'Open Hi-Hat (46)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/5_funk-groove5_84_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/5_funk-groove5_84_beat_4-4.mid' type 0, 1 tracks, 1087 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=714286 time=0>
    track count: 1, tracks: [<midi track 'Base Midi' 1087 messages>]
    MIDI file type: 0
    > processing track: <midi track 'Base Midi' 1087 messages>
    __notes pre-filter: [22. 26. 36. 37. 38. 40. 42. 44.]
    __applying filter: [44]
    __notes post filter: [22. 26. 36. 37. 38. 40. 42.]
    note_on span - first tick: 7 , last tick: 30606
    good instruments: 4, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 46.0: 'Open Hi-Hat (46)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/6_hiphop-groove6_87_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/6_hiphop-groove6_87_beat_4-4.mid' type 0, 1 tracks, 625 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=689655 time=0>
    track count: 1, tracks: [<midi track 'Base Midi' 625 messages>]
    MIDI file type: 0
    > processing track: <midi track 'Base Midi' 625 messages>
    __notes pre-filter: [22. 36. 38. 40. 42.]
    __applying filter: [44]
    __notes post filter: [22. 36. 38. 40. 42.]
    note_on span - first tick: 0 , last tick: 30442
    good instruments: 3, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/7_pop-groove7_138_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/7_pop-groove7_138_beat_4-4.mid' type 0, 1 tracks, 800 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=434783 time=0>
    track count: 1, tracks: [<midi track 'Base Midi' 800 messages>]
    MIDI file type: 0
    > processing track: <midi track 'Base Midi' 800 messages>
    __notes pre-filter: [22. 26. 36. 37. 38. 40. 42. 44.]
    __applying filter: [44]
    __notes post filter: [22. 26. 36. 37. 38. 40. 42.]
    note_on span - first tick: 0 , last tick: 30584
    good instruments: 4, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 46.0: 'Open Hi-Hat (46)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/8_rock-groove8_65_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/8_rock-groove8_65_beat_4-4.mid' type 0, 1 tracks, 679 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=923077 time=0>
    track count: 1, tracks: [<midi track 'Base Midi' 679 messages>]
    MIDI file type: 0

In [17]:
# take a peek at some loaded data
for next_file in all_drummer_data.keys():
  next_drummer, file_df, f, mtt, err_bucks, stats_dict = all_drummer_data[next_file]
  print('drummer: {}, file: {}'.format(next_drummer, next_file))
  details = err_bucks
  if details.size == 0:
    print('  ..nothing to see here')
  else:
    display(details)

drummer: drummer1, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/1_funk-groove1_138_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
1          9               51            0:43          940        46
                           51            0:46          971         0
2          16              38           0:155         3710        37
                           38           0:158         3747        41
3          1               38           0:161         3796        33
                           38           0:168         3846        23
4          10              38           0:289         6813        37
                           38           0:290         6867        20
5          16              38           0:401         9468        37
                           38           0:404         9506        33
                           38           0:406         9532        30
6          16              38           0:487        11397        36
                           38           0:491        11441        32
9          16              38           0:730        17147        38
                           38           0:733        17182        38
10         16              38           0:814        19056        43
                           38           0:817        19092        46
                           38           0:820        19116        40
13         16              38          0:1056        24797        33
                           38          0:1059        24845        32
                           38          0:1062        24876        32
14         16              38          0:1140        26733        40
                           38          0:1143        26778        41
                           38          0:1145        26805        34

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
1          9               51            -20         960           1
                           51             11         960           1
2          16              38            -10        3720           2
                           38             27        3720           2
3          1               38            -44        3840           3
                           38              6        3840           3
4          10              38            -27        6840           4
                           38             27        6840           4
5          16              38            -12        9480           5
                           38             26        9480           5
                           38             52        9480           5
6          16              38             -3       11400           6
                           38             41       11400           6
9          16              38            -13       17160           9
                           38             22       17160           9
10         16              38            -24       19080          10
                           38             12       19080          10
                           38             36       19080          10
13         16              38            -43       24840          13
                           38              5       24840          13
                           38             36       24840          13
14         16              38            -27       26760          14
                           38             18       26760          14
                           38             45       26760          14

                                 bar_beat_number
bar_number bar_beat_number note
1          9               51                  9
                           51                  9
2          16              38                 16
                           38                 16
3          1               38                  1
                           38                  1
4          10              38                 10
                           38                 10
5          16              38                 16
                           38                 16
                           38                 16
6          16              38                 16
                           38                 16
9          16              38                 16
                           38                 16
10         16              38                 16
                           38                 16
                           38                 16
13         16              38                 16
                           38                 16
                           38                 16
14         16              38                 16
                           38                 16
                           38                 16

drummer: drummer1, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/10_soul-groove10_102_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
1          14              38            0:35         1509        28
                           38            0:38         1555        10
3          6               38            0:93         4418        10
                           38            0:94         4448         7
4          13              38           0:148         7167       127
                           38           0:151         7231        33
11         13              38           0:414        20622       127
                           38           0:417        20685        37

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
1          14              38            -51        1560           1
                           38             -5        1560           1
3          6               38            -22        4440           3
                           38              8        4440           3
4          13              38            -33        7200           4
                           38             31        7200           4
11         13              38            -18       20640          11
                           38             45       20640          11

                                 bar_beat_number
bar_number bar_beat_number note
1          14              38                 14
                           38                 14
3          6               38                  6
                           38                  6
4          13              38                 13
                           38                 13
11         13              38                 13
                           38                 13

drummer: drummer1, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/2_funk-groove2_105_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
1          13              38            0:40         1431       117
                           38            0:43         1496        31
2          1               38            0:54         1867        32
                           38            0:56         1892        26
           13              38            0:98         3335       127
                           38           0:102         3407        33
           16              38           0:109         3726        32
                           38           0:110         3770        34
3          1               38           0:112         3794        28
                           38           0:115         3813        27
           5               38           0:129         4307       114
                           38           0:132         4373        24
           16              38           0:167         5638        31
                           38           0:168         5673        35
                           38           0:170         5695        34
4          14              38           0:215         7263        33
                           38           0:218         7342         8
           16              38           0:224         7556        24
                           38           0:225         7587        25
                           38           0:227         7610        19
6          16              38           0:326        11392        25
                           38           0:327        11424        21
                           38           0:329        11441        23
7          16              38           0:376        13318        26
                           38           0:377        13352        25
8          11              38           0:412        14598        32
                           38           0:417        14658       122
           16              38           0:427        15259        35
                           38           0:428        15299        31
9          1               38           0:430        15323        30
                           38           0:433        15346        24
           16              38           0:483        17141        33
                           38           0:484        17207        33
11         13              38           0:568        20646       127
                           38           0:571        20666       101
12         14              38           0:626        22696         6
                           38           0:627        22728         5
13         1               38           0:634        22980        41
                           38           0:637        23012        28
16         1               38           0:782        28740        15
                           38           0:784        28768        18

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
1          13              38             -9        1440           1
                           38             56        1440           1
2          1               38            -53        1920           2
                           38            -28        1920           2
           13              38            -25        3360           2
                           38             47        3360           2
           16              38              6        3720           2
                           38             50        3720           2
3          1               38            -46        3840           3
                           38            -27        3840           3
           5               38            -13        4320           3
                           38             53        4320           3
           16              38             -2        5640           3
                           38             33        5640           3
                           38             55        5640           3
4          14              38            -57        7320           4
                           38             22        7320           4
           16              38             -4        7560           4
                           38             27        7560           4
                           38             50        7560           4
6          16              38             -8       11400           6
                           38             24       11400           6
                           38             41       11400           6
7          16              38             -2       13320           7
                           38             32       13320           7
8          11              38            -42       14640           8
                           38             18       14640           8
           16              38             19       15240           8
                           38             59       15240           8
9          1               38            -37       15360           9
                           38            -14       15360           9
           16              38            -19       17160           9
                           38             47       17160           9
11         13              38              6       20640          11
                           38             26       20640          11
12         14              38             16       22680          12
                           38             48       22680          12
13         1               38            -60       23040          13
                           38            -28       23040          13
16         1               38            -60       28800          16
                           38            -32       28800          16

                                 bar_beat_number
bar_number bar_beat_number note
1          13              38                 13
                           38                 13
2          1               38                  1
                           38                  1
           13              38                 13
                           38                 13
           16              38                 16
                           38                 16
3          1               38                  1
                           38                  1
           5               38                  5
                           38                  5
           16              38                 16
                           38                 16
                           38                 16
4          14              38                 14
                           38                 14
           16              38                 16
                           38                 16
                           38                 16
6          16              38                 16
                           38                 16
                           38                 16
7          16              38                 16
                           38                 16
8          11              38                 11
                           38                 11
           16              38                 16
                           38                 16
9          1               38                  1
                           38                  1
           16              38                 16
                           38                 16
11         13              38                 13
                           38                 13
12         14              38                 14
                           38                 14
13         1               38                  1
                           38                  1
16         1               38                  1
                           38                  1

drummer: drummer1, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/3_soul-groove3_86_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
1          10              38            0:42         1049        17
                           38            0:46         1088        13
6          5               38           0:393        10078        89
                           38           0:396        10136        24
13         1               38           0:885        23034        13
                           38           0:889        23055         9
14         13              38          0:1009        26380       102
                           38          0:1012        26436        26

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
1          10              38            -31        1080           1
                           38              8        1080           1
6          5               38             -2       10080           6
                           38             56       10080           6
13         1               38             -6       23040          13
                           38             15       23040          13
14         13              38            -20       26400          14
                           38             36       26400          14

                                 bar_beat_number
bar_number bar_beat_number note
1          10              38                 10
                           38                 10
6          5               38                  5
                           38                  5
13         1               38                  1
                           38                  1
14         13              38                 13
                           38                 13

drummer: drummer1, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/4_soul-groove4_80_beat_4-4.mid
  ..nothing to see here
drummer: drummer1, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/5_funk-groove5_84_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
2          16              38           0:111         3695        19
                           38           0:112         3717        21
                           38           0:114         3732        24
6          16              38           0:359        11393        30
                           38           0:360        11415        27
                           38           0:362        11433        23
7          16              38           0:431        13288        26
                           38           0:434        13319        20
                           38           0:436        13335        25
10         16              38           0:605        19070        27
                           38           0:607        19093        26
16         16              38           0:978        30574        28
                           38           0:979        30614        28

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
2          16              38            -25        3720           2
                           38             -3        3720           2
                           38             12        3720           2
6          16              38             -7       11400           6
                           38             15       11400           6
                           38             33       11400           6
7          16              38            -32       13320           7
                           38             -1       13320           7
                           38             15       13320           7
10         16              38            -10       19080          10
                           38             13       19080          10
16         16              38            -26       30600          16
                           38             14       30600          16

                                 bar_beat_number
bar_number bar_beat_number note
2          16              38                 16
                           38                 16
                           38                 16
6          16              38                 16
                           38                 16
                           38                 16
7          16              38                 16
                           38                 16
                           38                 16
10         16              38                 16
                           38                 16
16         16              38                 16
                           38                 16

drummer: drummer1, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/6_hiphop-groove6_87_beat_4-4.mid
  ..nothing to see here
drummer: drummer1, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/7_pop-groove7_138_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
13         5               38           0:375        23485        93
                           38           0:377        23578        21

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
13         5               38            -35       23520          13
                           38             58       23520          13

                                 bar_beat_number
bar_number bar_beat_number note
13         5               38                  5
                           38                  5

drummer: drummer1, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/8_rock-groove8_65_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
15         5               38           0:534        27372       114
                           38           0:537        27416        20

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
15         5               38             12       27360          15
                           38             56       27360          15

                                 bar_beat_number
bar_number bar_beat_number note
15         5               38                  5
                           38                  5

drummer: drummer1, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/9_soul-groove9_105_beat_4-4.mid
  ..nothing to see here
drummer: drummer5, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/1_funk-groove1_138_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
3          12              36           0:171         5112        16
                           38           0:174         5143         9
                           36           0:176         5161         6
                           38           0:180         5181         9
5          2               38           0:269         7776        39
                           38           0:270         7840        17
10         2               38           0:586        17395        31
                           38           0:590        17453        13
13         2               38           0:779        23101        27
                           38           0:783        23169        12
15         3               38           0:912        27091         9
                           38           0:917        27138         6

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
3          12              36            -48        5160           3
                           38            -17        5160           3
                           36              1        5160           3
                           38             21        5160           3
5          2               38            -24        7800           5
                           38             40        7800           5
10         2               38             -5       17400          10
                           38             53       17400          10
13         2               38            -59       23160          13
                           38              9       23160          13
15         3               38            -29       27120          15
                           38             18       27120          15

                                 bar_beat_number
bar_number bar_beat_number note
3          12              36                 12
                           38                 12
                           36                 12
                           38                 12
5          2               38                  2
                           38                  2
10         2               38                  2
                           38                  2
13         2               38                  2
                           38                  2
15         3               38                  3
                           38                  3

drummer: drummer5, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/10_soul-groove10_102_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
1          11              38            0:31         1145         5
                           38            0:33         1160         6
5          1               36           0:174         7666        43
                           36           0:175         7731         9
           10              38           0:192         8727         7
                           38           0:194         8750         8
6          11              36           0:244        10796        43
                           36           0:245        10842        13
7          10              38           0:286        12592         8
                           38           0:287        12618         7
                           38           0:289        12637        11
                           38           0:291        12653        10
8          1               36           0:315        13428        40
                           36           0:317        13497         6
           2               38           0:321        13545        14
                           38           0:322        13593         9
           16              38           0:354        15248         9
                           38           0:356        15271         9
9          5               38           0:369        15821       121
                           38           0:372        15874        37
           16              38           0:399        17168        13
                           38           0:401        17200        11
10         5               38           0:416        17749       127
                           38           0:419        17801        43
           13              38           0:438        18715       127
                           38           0:439        18762        52
           16              38           0:447        19068         6
                           38           0:448        19095         5
11         10              38           0:477        20268        11
                           38           0:478        20318         7
           16              38           0:497        21003        10
                           38           0:498        21040        10
12         10              38           0:530        22180        12
                           38           0:531        22206         8
                           38           0:533        22247         5
           11              36           0:538        22300        44
                           36           0:539        22347        16
13         5               38           0:576        23499       110
                           38           0:577        23567        45
           10              38           0:588        24103         8
                           38           0:589        24128         6
15         2               38           0:663        27001        13
                           38           0:664        27042         8
           3               38           0:666        27071        10
                           38           0:669        27094        15
           10              38           0:688        27957        11
                           38           0:689        28009         6
           11              36           0:696        28068        41
                           36           0:697        28114        12
16         1               36           0:719        28781        41
                           36           0:721        28853         6
           11              36           0:750        29986        43
                           36           0:754        30032        12

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
1          11              38            -55        1200           1
                           38            -40        1200           1
5          1               36            -14        7680           5
                           36             51        7680           5
           10              38            -33        8760           5
                           38            -10        8760           5
6          11              36             -4       10800           6
                           36             42       10800           6
7          10              38             -8       12600           7
                           38             18       12600           7
                           38             37       12600           7
                           38             53       12600           7
8          1               36            -12       13440           8
                           36             57       13440           8
           2               38            -15       13560           8
                           38             33       13560           8
           16              38              8       15240           8
                           38             31       15240           8
9          5               38            -19       15840           9
                           38             34       15840           9
           16              38              8       17160           9
                           38             40       17160           9
10         5               38            -11       17760          10
                           38             41       17760          10
           13              38             -5       18720          10
                           38             42       18720          10
           16              38            -12       19080          10
                           38             15       19080          10
11         10              38            -12       20280          11
                           38             38       20280          11
           16              38              3       21000          11
                           38             40       21000          11
12         10              38            -20       22200          12
                           38              6       22200          12
                           38             47       22200          12
           11              36            -20       22320          12
                           36             27       22320          12
13         5               38            -21       23520          13
                           38             47       23520          13
           10              38            -17       24120          13
                           38              8       24120          13
15         2               38              1       27000          15
                           38             42       27000          15
           3               38            -49       27120          15
                           38            -26       27120          15
           10              38             -3       27960          15
                           38             49       27960          15
           11              36            -12       28080          15
                           36             34       28080          15
16         1               36            -19       28800          16
                           36             53       28800          16
           11              36            -14       30000          16
                           36             32       30000          16

                                 bar_beat_number
bar_number bar_beat_number note
1          11              38                 11
                           38                 11
5          1               36                  1
                           36                  1
           10              38                 10
                           38                 10
6          11              36                 11
                           36                 11
7          10              38                 10
                           38                 10
                           38                 10
                           38                 10
8          1               36                  1
                           36                  1
           2               38                  2
                           38                  2
           16              38                 16
                           38                 16
9          5               38                  5
                           38                  5
           16              38                 16
                           38                 16
10         5               38                  5
                           38                  5
           13              38                 13
                           38                 13
           16              38                 16
                           38                 16
11         10              38                 10
                           38                 10
           16              38                 16
                           38                 16
12         10              38                 10
                           38                 10
                           38                 10
           11              36                 11
                           36                 11
13         5               38                  5
                           38                  5
           10              38                 10
                           38                 10
15         2               38                  2
                           38                  2
           3               38                  3
                           38                  3
           10              38                 10
                           38                 10
           11              36                 11
                           36                 11
16         1               36                  1
                           36                  1
           11              36                 11
                           36                 11

drummer: drummer5, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/2_funk-groove2_105_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
1          3               38            0:11          216        13
                           38            0:12          261         8
2          9               38            0:76         2831         8
                           38            0:77         2863        11
                           38            0:79         2887        11
           11              38            0:87         3092         6
                           38            0:92         3143        12
4          3               38           0:167         5976         7
                           38           0:171         6006         7
5          3               38           0:226         7893        16
                           38           0:229         7932        19
           9               38           0:245         8609         7
                           38           0:247         8631         7
                           38           0:251         8669         5
8          3               38           0:382        13644         7
                           38           0:384        13669         6
9          3               38           0:436        15543        13
                           38           0:437        15579         9
           11              38           0:459        16502         5
                           38           0:460        16530         6
11         3               38           0:544        19407        11
                           38           0:546        19435        13
           11              38           0:571        20352         8
                           38           0:576        20390        13
12         2               38           0:600        21250        17
                           38           0:601        21279        10
13         1               36           0:642        23039        40
                           36           0:644        23085        13
15         1               36           0:749        26874        41
                           36           0:750        26919        13
           3               38           0:755        27084         6
                           38           0:758        27114         8
16         1               36           0:806        28808        38
                           36           0:807        28852        14
           3               38           0:812        28986        12
                           38           0:814        29016        11
                           38           0:817        29041        12

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
1          3               38            -24         240           1
                           38             21         240           1
2          9               38            -49        2880           2
                           38            -17        2880           2
                           38              7        2880           2
           11              38            -28        3120           2
                           38             23        3120           2
4          3               38            -24        6000           4
                           38              6        6000           4
5          3               38            -27        7920           5
                           38             12        7920           5
           9               38            -31        8640           5
                           38             -9        8640           5
                           38             29        8640           5
8          3               38            -36       13680           8
                           38            -11       13680           8
9          3               38            -57       15600           9
                           38            -21       15600           9
           11              38            -58       16560           9
                           38            -30       16560           9
11         3               38            -33       19440          11
                           38             -5       19440          11
           11              38            -48       20400          11
                           38            -10       20400          11
12         2               38             10       21240          12
                           38             39       21240          12
13         1               36             -1       23040          13
                           36             45       23040          13
15         1               36             -6       26880          15
                           36             39       26880          15
           3               38            -36       27120          15
                           38             -6       27120          15
16         1               36              8       28800          16
                           36             52       28800          16
           3               38            -54       29040          16
                           38            -24       29040          16
                           38              1       29040          16

                                 bar_beat_number
bar_number bar_beat_number note
1          3               38                  3
                           38                  3
2          9               38                  9
                           38                  9
                           38                  9
           11              38                 11
                           38                 11
4          3               38                  3
                           38                  3
5          3               38                  3
                           38                  3
           9               38                  9
                           38                  9
                           38                  9
8          3               38                  3
                           38                  3
9          3               38                  3
                           38                  3
           11              38                 11
                           38                 11
11         3               38                  3
                           38                  3
           11              38                 11
                           38                 11
12         2               38                  2
                           38                  2
13         1               36                  1
                           36                  1
15         1               36                  1
                           36                  1
           3               38                  3
                           38                  3
16         1               36                  1
                           36                  1
           3               38                  3
                           38                  3
                           38                  3

drummer: drummer5, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/3_soul-groove3_86_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
1          3               38            0:14          190         7
                           38            0:15          220         6
           12              38            0:62         1287        13
                           38            0:63         1309        11
2          11              36           0:132         3117        40
                           36           0:133         3153        12
6          2               38           0:375         9672        11
                           38           0:376         9694        10
9          6               42           0:607        15940        16
                           42           0:609        15944        40
           13              38           0:638        16788        91
                           38           0:640        16856        18
16         15              38          0:1134        30472         9
                           38          0:1135        30527         5

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
1          3               38            -50         240           1
                           38            -20         240           1
           12              38            -33        1320           1
                           38            -11        1320           1
2          11              36             -3        3120           2
                           36             33        3120           2
6          2               38            -48        9720           6
                           38            -26        9720           6
9          6               42            -20       15960           9
                           42            -16       15960           9
           13              38            -12       16800           9
                           38             56       16800           9
16         15              38             -8       30480          16
                           38             47       30480          16

                                 bar_beat_number
bar_number bar_beat_number note
1          3               38                  3
                           38                  3
           12              38                 12
                           38                 12
2          11              36                 11
                           36                 11
6          2               38                  2
                           38                  2
9          6               42                  6
                           42                  6
           13              38                 13
                           38                 13
16         15              38                 15
                           38                 15

drummer: drummer5, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/4_soul-groove4_80_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
7          11              38           0:242        12675         8
                           38           0:244        12690         7

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
7          11              38            -45       12720           7
                           38            -30       12720           7

                                 bar_beat_number
bar_number bar_beat_number note
7          11              38                 11
                           38                 11

drummer: drummer5, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/5_funk-groove5_84_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
1          1               38             0:6            7        77
                           38             0:8           53        49
           4               38            0:20          345       104
                           38            0:22          363        90
           8               38            0:35          827       102
                           38            0:36          845       113
                           38            0:38          887        45
           11              38            0:44         1166       111
                           38            0:45         1184        99
                           38            0:48         1232        30
           12              38            0:51         1341        18
                           38            0:52         1364        13
           16              38            0:66         1767        88
                           38            0:70         1859        34
2          1               36            0:72         1879        40
                           36            0:75         1915        12
           5               38            0:96         2381       120
                           38            0:99         2453        22
           13              38           0:132         3338        99
                           38           0:136         3403        36
5          1               38           0:290         7665       117
                           38           0:291         7694       100
           4               38           0:298         8026       111
                           38           0:300         8044        99
                           38           0:303         8096        28
           7               38           0:307         8391        79
                           38           0:308         8404        92
           8               38           0:311         8507       109
                           38           0:312         8537       107
                           38           0:315         8579        30
           11              38           0:320         8855       115
                           38           0:321         8870        97
                           38           0:324         8913        34
                           38           0:326         8937        24
8          11              36           0:528        14633        41
                           36           0:531        14669        12
9          1               38           0:556        15358       118
                           38           0:557        15388        90
           4               38           0:571        15711       110
                           38           0:574        15730       105
           7               38           0:583        16067        85
                           38           0:584        16079        94
           8               38           0:587        16181        96
                           38           0:588        16205       110
                           38           0:590        16247        44
           11              38           0:594        16523       115
                           38           0:595        16540       104
           12              38           0:599        16665         6
                           38           0:600        16684         9
10         1               38           0:623        17222         6
                           36           0:624        17235        41
                           36           0:627        17271        13
                           38           0:632        17333        14
           5               38           0:649        17741       119
                           38           0:650        17807        33
13         1               38           0:828        23033       116
                           38           0:829        23049        98
           4               38           0:837        23394       105
                           38           0:838        23413       121
           7               38           0:841        23761        79
                           38           0:842        23772        83
           8               38           0:845        23877       100
                           38           0:846        23899       103
           11              38           0:849        24211        97
                           38           0:850        24236       104
                           38           0:852        24274        29
           16              38           0:869        24817       110
                           38           0:871        24892        24
14         1               36           0:872        24921        40
                           36           0:875        24956        12
           2               38           0:880        25027        13
                           38           0:883        25062        14
           13              38           0:933        26398       108
                           38           0:934        26450        33
15         5               38           0:969        27358       104
                           38           0:970        27408        35
16         11              36          0:1060        30007        43
                           36          0:1061        30044        14

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
1          1               38              7           0           1
                           38             53           0           1
           4               38            -15         360           1
                           38              3         360           1
           8               38            -13         840           1
                           38              5         840           1
                           38             47         840           1
           11              38            -34        1200           1
                           38            -16        1200           1
                           38             32        1200           1
           12              38             21        1320           1
                           38             44        1320           1
           16              38            -33        1800           1
                           38             59        1800           1
2          1               36            -41        1920           2
                           36             -5        1920           2
           5               38            -19        2400           2
                           38             53        2400           2
           13              38            -22        3360           2
                           38             43        3360           2
5          1               38            -15        7680           5
                           38             14        7680           5
           4               38            -14        8040           5
                           38              4        8040           5
                           38             56        8040           5
           7               38             -9        8400           5
                           38              4        8400           5
           8               38            -13        8520           5
                           38             17        8520           5
                           38             59        8520           5
           11              38            -25        8880           5
                           38            -10        8880           5
                           38             33        8880           5
                           38             57        8880           5
8          11              36             -7       14640           8
                           36             29       14640           8
9          1               38             -2       15360           9
                           38             28       15360           9
           4               38             -9       15720           9
                           38             10       15720           9
           7               38            -13       16080           9
                           38             -1       16080           9
           8               38            -19       16200           9
                           38              5       16200           9
                           38             47       16200           9
           11              38            -37       16560           9
                           38            -20       16560           9
           12              38            -15       16680           9
                           38              4       16680           9
10         1               38            -58       17280          10
                           36            -45       17280          10
                           36             -9       17280          10
                           38             53       17280          10
           5               38            -19       17760          10
                           38             47       17760          10
13         1               38             -7       23040          13
                           38              9       23040          13
           4               38             -6       23400          13
                           38             13       23400          13
           7               38              1       23760          13
                           38             12       23760          13
           8               38             -3       23880          13
                           38             19       23880          13
           11              38            -29       24240          13
                           38             -4       24240          13
                           38             34       24240          13
           16              38            -23       24840          13
                           38             52       24840          13
14         1               36            -39       24960          14
                           36             -4       24960          14
           2               38            -53       25080          14
                           38            -18       25080          14
           13              38             -2       26400          14
                           38             50       26400          14
15         5               38             -2       27360          15
                           38             48       27360          15
16         11              36              7       30000          16
                           36             44       30000          16

                                 bar_beat_number
bar_number bar_beat_number note
1          1               38                  1
                           38                  1
           4               38                  4
                           38                  4
           8               38                  8
                           38                  8
                           38                  8
           11              38                 11
                           38                 11
                           38                 11
           12              38                 12
                           38                 12
           16              38                 16
                           38                 16
2          1               36                  1
                           36                  1
           5               38                  5
                           38                  5
           13              38                 13
                           38                 13
5          1               38                  1
                           38                  1
           4               38                  4
                           38                  4
                           38                  4
           7               38                  7
                           38                  7
           8               38                  8
                           38                  8
                           38                  8
           11              38                 11
                           38                 11
                           38                 11
                           38                 11
8          11              36                 11
                           36                 11
9          1               38                  1
                           38                  1
           4               38                  4
                           38                  4
           7               38                  7
                           38                  7
           8               38                  8
                           38                  8
                           38                  8
           11              38                 11
                           38                 11
           12              38                 12
                           38                 12
10         1               38                  1
                           36                  1
                           36                  1
                           38                  1
           5               38                  5
                           38                  5
13         1               38                  1
                           38                  1
           4               38                  4
                           38                  4
           7               38                  7
                           38                  7
           8               38                  8
                           38                  8
           11              38                 11
                           38                 11
                           38                 11
           16              38                 16
                           38                 16
14         1               36                  1
                           36                  1
           2               38                  2
                           38                  2
           13              38                 13
                           38                 13
15         5               38                  5
                           38                  5
16         11              36                 11
                           36                 11

drummer: drummer5, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/6_hiphop-groove6_87_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
2          3               38            0:50         2111        19
                           38            0:54         2135        11
11         1               36           0:393        19181        41
                           36           0:396        19219        13
13         1               36           0:471        22989        48
                           36           0:474        23030        14
                           36           0:476        23059        10
14         9               36           0:539        25908        42
                           36           0:540        25959         8
                           36           0:542        25975        10
15         1               36           0:552        26847        45
                           36           0:555        26885        15

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
2          3               38            -49        2160           2
                           38            -25        2160           2
11         1               36            -19       19200          11
                           36             19       19200          11
13         1               36            -51       23040          13
                           36            -10       23040          13
                           36             19       23040          13
14         9               36            -12       25920          14
                           36             39       25920          14
                           36             55       25920          14
15         1               36            -33       26880          15
                           36              5       26880          15

                                 bar_beat_number
bar_number bar_beat_number note
2          3               38                  3
                           38                  3
11         1               36                  1
                           36                  1
13         1               36                  1
                           36                  1
                           36                  1
14         9               36                  9
                           36                  9
                           36                  9
15         1               36                  1
                           36                  1

drummer: drummer5, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/7_pop-groove7_138_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
2          9               38            0:76         2878         7
                           38            0:80         2905         6
4          10              38           0:177         6799        11
                           38           0:180         6847         7
5          16              38           0:235         9455        11
                           38           0:236         9507         6
9          1               38           0:381        15308        11
                           38           0:385        15355        11
                           38           0:387        15388        10
           8               38           0:406        16183         8
                           38           0:411        16236         7
10         8               38           0:455        18110         6
                           38           0:457        18149         6
           16              38           0:482        19037        11
                           38           0:486        19119         5
12         1               38           0:538        21063        14
                           38           0:542        21110         9
                           38           0:544        21133        11
                           38           0:549        21176         9
           9               38           0:579        22061         6
                           38           0:584        22101         7
16         11              36           0:775        29975        38
                           36           0:778        30033        12

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
2          9               38             -2        2880           2
                           38             25        2880           2
4          10              38            -41        6840           4
                           38              7        6840           4
5          16              38            -25        9480           5
                           38             27        9480           5
9          1               38            -52       15360           9
                           38             -5       15360           9
                           38             28       15360           9
           8               38            -17       16200           9
                           38             36       16200           9
10         8               38            -10       18120          10
                           38             29       18120          10
           16              38            -43       19080          10
                           38             39       19080          10
12         1               38            -57       21120          12
                           38            -10       21120          12
                           38             13       21120          12
                           38             56       21120          12
           9               38            -19       22080          12
                           38             21       22080          12
16         11              36            -25       30000          16
                           36             33       30000          16

                                 bar_beat_number
bar_number bar_beat_number note
2          9               38                  9
                           38                  9
4          10              38                 10
                           38                 10
5          16              38                 16
                           38                 16
9          1               38                  1
                           38                  1
                           38                  1
           8               38                  8
                           38                  8
10         8               38                  8
                           38                  8
           16              38                 16
                           38                 16
12         1               38                  1
                           38                  1
                           38                  1
                           38                  1
           9               38                  9
                           38                  9
16         11              36                 11
                           36                 11

drummer: drummer5, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/8_rock-groove8_65_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
1          1               36             0:6            0        45
                           36             0:9           18        13
                           36            0:11           40        11
           5               38            0:20          468       111
                           38            0:21          515        44
           9               36            0:30          944        44
                           36            0:33          973        15
                           36            0:35          996         6
           13              38            0:44         1418       110
                           38            0:47         1472        21
2          5               38            0:67         2388        93
                           38            0:70         2447        36
           9               36            0:79         2864        46
                           36            0:82         2894        15
           14              36            0:94         3453        45
                           46            0:96         3469       120
                           36            0:97         3482        15
                           46           0:102         3537        20
3          1               36           0:106         3823        43
                           36           0:109         3851        12
                           36           0:112         3871         9
           9               36           0:129         4764        44
                           36           0:132         4814         9
4          5               38           0:159         6237       104
                           38           0:160         6280        49
           9               36           0:169         6712        42
                           36           0:172         6761        10
5          1               36           0:191         7684        43
                           36           0:194         7729         9
           9               36           0:212         8614        48
                           36           0:215         8644        15
                           36           0:217         8663         9
6          9               36           0:250        10544        47
                           36           0:253        10574        16
                           36           0:255        10595         9
7          1               36           0:273        11513        43
                           36           0:276        11560         9
           9               36           0:295        12462        45
                           36           0:298        12511         9
           13              38           0:307        12942        95
                           38           0:310        13001        31
8          9               36           0:333        14370        45
                           36           0:336        14399        13
                           36           0:338        14420         8
9          1               36           0:357        15342        45
                           36           0:361        15391        11
           9               36           0:378        16304        47
                           36           0:381        16334        16
                           36           0:383        16354         9
10         9               36           0:418        18226        46
                           36           0:419        18255        13
                           36           0:421        18276         9
           14              36           0:433        18819        43
                           36           0:436        18847        13
11         9               36           0:461        20132        44
                           36           0:464        20161        15
12         9               36           0:499        22076        44
                           36           0:500        22105        14
           14              36           0:512        22667        44
                           36           0:515        22711         7
13         5               38           0:529        23503        95
                           38           0:532        23550        36
           9               36           0:541        23978        44
                           36           0:544        24007        13
14         9               36           0:579        25910        45
                           36           0:582        25940        15
15         9               36           0:619        27821        43
                           36           0:622        27850        13
16         9               36           0:655        29748        48
                           36           0:658        29778        14
                           36           0:660        29800         9

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
1          1               36              0           0           1
                           36             18           0           1
                           36             40           0           1
           5               38            -12         480           1
                           38             35         480           1
           9               36            -16         960           1
                           36             13         960           1
                           36             36         960           1
           13              38            -22        1440           1
                           38             32        1440           1
2          5               38            -12        2400           2
                           38             47        2400           2
           9               36            -16        2880           2
                           36             14        2880           2
           14              36            -27        3480           2
                           46            -11        3480           2
                           36              2        3480           2
                           46             57        3480           2
3          1               36            -17        3840           3
                           36             11        3840           3
                           36             31        3840           3
           9               36            -36        4800           3
                           36             14        4800           3
4          5               38             -3        6240           4
                           38             40        6240           4
           9               36             -8        6720           4
                           36             41        6720           4
5          1               36              4        7680           5
                           36             49        7680           5
           9               36            -26        8640           5
                           36              4        8640           5
                           36             23        8640           5
6          9               36            -16       10560           6
                           36             14       10560           6
                           36             35       10560           6
7          1               36             -7       11520           7
                           36             40       11520           7
           9               36            -18       12480           7
                           36             31       12480           7
           13              38            -18       12960           7
                           38             41       12960           7
8          9               36            -30       14400           8
                           36             -1       14400           8
                           36             20       14400           8
9          1               36            -18       15360           9
                           36             31       15360           9
           9               36            -16       16320           9
                           36             14       16320           9
                           36             34       16320           9
10         9               36            -14       18240          10
                           36             15       18240          10
                           36             36       18240          10
           14              36            -21       18840          10
                           36              7       18840          10
11         9               36            -28       20160          11
                           36              1       20160          11
12         9               36             -4       22080          12
                           36             25       22080          12
           14              36            -13       22680          12
                           36             31       22680          12
13         5               38            -17       23520          13
                           38             30       23520          13
           9               36            -22       24000          13
                           36              7       24000          13
14         9               36            -10       25920          14
                           36             20       25920          14
15         9               36            -19       27840          15
                           36             10       27840          15
16         9               36            -12       29760          16
                           36             18       29760          16
                           36             40       29760          16

                                 bar_beat_number
bar_number bar_beat_number note
1          1               36                  1
                           36                  1
                           36                  1
           5               38                  5
                           38                  5
           9               36                  9
                           36                  9
                           36                  9
           13              38                 13
                           38                 13
2          5               38                  5
                           38                  5
           9               36                  9
                           36                  9
           14              36                 14
                           46                 14
                           36                 14
                           46                 14
3          1               36                  1
                           36                  1
                           36                  1
           9               36                  9
                           36                  9
4          5               38                  5
                           38                  5
           9               36                  9
                           36                  9
5          1               36                  1
                           36                  1
           9               36                  9
                           36                  9
                           36                  9
6          9               36                  9
                           36                  9
                           36                  9
7          1               36                  1
                           36                  1
           9               36                  9
                           36                  9
           13              38                 13
                           38                 13
8          9               36                  9
                           36                  9
                           36                  9
9          1               36                  1
                           36                  1
           9               36                  9
                           36                  9
                           36                  9
10         9               36                  9
                           36                  9
                           36                  9
           14              36                 14
                           36                 14
11         9               36                  9
                           36                  9
12         9               36                  9
                           36                  9
           14              36                 14
                           36                 14
13         5               38                  5
                           38                  5
           9               36                  9
                           36                  9
14         9               36                  9
                           36                  9
15         9               36                  9
                           36                  9
16         9               36                  9
                           36                  9
                           36                  9

drummer: drummer5, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/9_soul-groove9_105_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
3          3               38            0:83         4020         9
                           38            0:84         4055        12
11         11              36           0:403        20388        43
                           36           0:404        20435        13
12         11              36           0:440        22313        44
                           36           0:443        22360        14
16         10              38           0:605        29905         6
                           38           0:606        29934         6

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
3          3               38          -60.0        4080           3
                           38          -25.0        4080           3
11         11              36          -12.0       20400          11
                           36           35.0       20400          11
12         11              36           -7.0       22320          12
                           36           40.0       22320          12
16         10              38           25.0       29880          16
                           38           54.0       29880          16

                                 bar_beat_number
bar_number bar_beat_number note
3          3               38                  3
                           38                  3
11         11              36                 11
                           36                 11
12         11              36                 11
                           36                 11
16         10              38                 10
                           38                 10

drummer: drummer7, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/1_funk-groove1_138_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
10         13              51           0:323        18761        55
                           51           0:324        18764       127

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
10         13              51             41       18720          10
                           51             44       18720          10

                                 bar_beat_number
bar_number bar_beat_number note
10         13              51                 13
                           51                 13

drummer: drummer7, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/10_soul-groove10_102_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
5          1               38           0:158         7623        29
                           38           0:162         7670        19
8          7               38           0:294        14136        42
                           38           0:295        14189        40
           8               38           0:298        14232        25
                           38           0:299        14268        43
                           38           0:302        14314        43
           9               38           0:304        14350        29
                           38           0:306        14376       127
11         1               38           0:401        19147        23
                           38           0:404        19171        28
                           38           0:408        19225        10
16         7               38           0:613        29491        42
                           38           0:614        29535        45
                           38           0:616        29569        29
           8               38           0:619        29614        41
                           38           0:621        29658        40
                           38           0:622        29694        27

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
5          1               38            -57        7680           5
                           38            -10        7680           5
8          7               38            -24       14160           8
                           38             29       14160           8
           8               38            -48       14280           8
                           38            -12       14280           8
                           38             34       14280           8
           9               38            -50       14400           8
                           38            -24       14400           8
11         1               38            -53       19200          11
                           38            -29       19200          11
                           38             25       19200          11
16         7               38            -29       29520          16
                           38             15       29520          16
                           38             49       29520          16
           8               38            -26       29640          16
                           38             18       29640          16
                           38             54       29640          16

                                 bar_beat_number
bar_number bar_beat_number note
5          1               38                  1
                           38                  1
8          7               38                  7
                           38                  7
           8               38                  8
                           38                  8
                           38                  8
           9               38                  9
                           38                  9
11         1               38                  1
                           38                  1
                           38                  1
16         7               38                  7
                           38                  7
                           38                  7
           8               38                  8
                           38                  8
                           38                  8

drummer: drummer7, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/2_funk-groove2_105_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
2          10              36            0:74         2964        13
                           36            0:77         3059        28

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
2          10              36            -36        3000           2
                           36             59        3000           2

                                 bar_beat_number
bar_number bar_beat_number note
2          10              36                 10
                           36                 10

drummer: drummer7, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/3_soul-groove3_86_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
9          12              38           0:586        16621        10
                           38           0:588        16653         8
14         4               38           0:901        25289         6
                           38           0:902        25314         7

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
9          12              38            -59       16680           9
                           38            -27       16680           9
14         4               38            -31       25320          14
                           38             -6       25320          14

                                 bar_beat_number
bar_number bar_beat_number note
9          12              38                 12
                           38                 12
14         4               38                  4
                           38                  4

drummer: drummer7, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/4_soul-groove4_80_beat_4-4.mid
  ..nothing to see here
drummer: drummer7, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/5_funk-groove5_84_beat_4-4.mid
  ..nothing to see here
drummer: drummer7, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/6_hiphop-groove6_87_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
5          13              38           0:246         9101        77
                           38           0:249         9140        25
6          5               38           0:284        10087        74
                           38           0:285        10117        29
13         13              38           0:663        24451        93
                           38           0:666        24489        26

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
5          13              38            -19        9120           5
                           38             20        9120           5
6          5               38              7       10080           6
                           38             37       10080           6
13         13              38            -29       24480          13
                           38              9       24480          13

                                 bar_beat_number
bar_number bar_beat_number note
5          13              38                 13
                           38                 13
6          5               38                  5
                           38                  5
13         13              38                 13
                           38                 13

drummer: drummer7, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/7_pop-groove7_138_beat_4-4.mid
  ..nothing to see here
drummer: drummer7, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/8_rock-groove8_65_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
14         9               36           0:472        25913        51
                           36           0:474        25948        10

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
14         9               36             -7       25920          14
                           36             28       25920          14

                                 bar_beat_number
bar_number bar_beat_number note
14         9               36                  9
                           36                  9

drummer: drummer7, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/9_soul-groove9_105_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
5          11              36           0:160         8842        53
                           36           0:163         8902        12
6          11              36           0:196        10780        52
                           36           0:199        10847        10

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
5          11              36            -38        8880           5
                           36             22        8880           5
6          11              36            -20       10800           6
                           36             47       10800           6

                                 bar_beat_number
bar_number bar_beat_number note
5          11              36                 11
                           36                 11
6          11              36                 11
                           36                 11

drummer: drummer8, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/1_funk-groove1_138_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
4          6               38           0:153         6349        33
                           38           0:154         6372        34
7          6               38           0:289        12148        33
                           38           0:290        12170        31
8          6               38           0:335        14070        42
                           38           0:336        14096        44
10         14              38           0:449        18853        45
                           38           0:450        18888        34
11         6               38           0:473        19824        38
                           38           0:474        19849        35
13         7               38           0:561        23702        39
                           38           0:562        23732        31
           14              38           0:587        24612        42
                           38           0:588        24638        41
15         16              38           0:682        28690        30
                           38           0:683        28718        28
16         6               38           0:703        29389        45
                           38           0:704        29411        48

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
4          6               38            -11        6360           4
                           38             12        6360           4
7          6               38             28       12120           7
                           38             50       12120           7
8          6               38             30       14040           8
                           38             56       14040           8
10         14              38             13       18840          10
                           38             48       18840          10
11         6               38             24       19800          11
                           38             49       19800          11
13         7               38            -58       23760          13
                           38            -28       23760          13
           14              38             12       24600          13
                           38             38       24600          13
15         16              38             10       28680          15
                           38             38       28680          15
16         6               38            -11       29400          16
                           38             11       29400          16

                                 bar_beat_number
bar_number bar_beat_number note
4          6               38                  6
                           38                  6
7          6               38                  6
                           38                  6
8          6               38                  6
                           38                  6
10         14              38                 14
                           38                 14
11         6               38                  6
                           38                  6
13         7               38                  7
                           38                  7
           14              38                 14
                           38                 14
15         16              38                 16
                           38                 16
16         6               38                  6
                           38                  6

drummer: drummer8, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/10_soul-groove10_102_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
1          10              38            0:29         1096        35
                           38            0:30         1126        38
2          9               38            0:69         2859        22
                           38            0:72         2889        18
3          11              38           0:116         4986        36
                           38           0:118         5009        33
5          11              38           0:200         8828        37
                           38           0:202         8852        35
                           38           0:204         8874        23
7          2               36           0:265        11595         7
                           36           0:269        11660        60
           11              38           0:286        12663        25
                           38           0:288        12686        20
8          9               38           0:325        14371        21
                           38           0:327        14401        15
9          11              38           0:374        16507        28
                           38           0:376        16531        24
10         9               38           0:411        18184        30
                           38           0:413        18208        29
                           38           0:415        18225        23
11         10              38           0:459        20296        27
                           38           0:460        20330        17
12         8               38           0:494        21987        19
                           38           0:495        22019        20
14         1               36           0:558        24936         8
                           36           0:559        24968        88
15         10              38           0:623        27988        23
                           38           0:624        28019        22
           11              38           0:626        28039        26
                           38           0:628        28059        28

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
1          10              38             16        1080           1
                           38             46        1080           1
2          9               38            -21        2880           2
                           38              9        2880           2
3          11              38            -54        5040           3
                           38            -31        5040           3
5          11              38            -52        8880           5
                           38            -28        8880           5
                           38             -6        8880           5
7          2               36            -45       11640           7
                           36             20       11640           7
           11              38            -57       12720           7
                           38            -34       12720           7
8          9               38            -29       14400           8
                           38              1       14400           8
9          11              38            -53       16560           9
                           38            -29       16560           9
10         9               38            -56       18240          10
                           38            -32       18240          10
                           38            -15       18240          10
11         10              38             16       20280          11
                           38             50       20280          11
12         8               38             27       21960          12
                           38             59       21960          12
14         1               36            -24       24960          14
                           36              8       24960          14
15         10              38             28       27960          15
                           38             59       27960          15
           11              38            -41       28080          15
                           38            -21       28080          15

                                 bar_beat_number
bar_number bar_beat_number note
1          10              38                 10
                           38                 10
2          9               38                  9
                           38                  9
3          11              38                 11
                           38                 11
5          11              38                 11
                           38                 11
                           38                 11
7          2               36                  2
                           36                  2
           11              38                 11
                           38                 11
8          9               38                  9
                           38                  9
9          11              38                 11
                           38                 11
10         9               38                  9
                           38                  9
                           38                  9
11         10              38                 10
                           38                 10
12         8               38                  8
                           38                  8
14         1               36                  1
                           36                  1
15         10              38                 10
                           38                 10
           11              38                 11
                           38                 11

drummer: drummer8, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/2_funk-groove2_105_beat_4-4.mid
  ..nothing to see here
drummer: drummer8, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/3_soul-groove3_86_beat_4-4.mid
  ..nothing to see here
drummer: drummer8, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/4_soul-groove4_80_beat_4-4.mid
  ..nothing to see here
drummer: drummer8, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/5_funk-groove5_84_beat_4-4.mid
  ..nothing to see here
drummer: drummer8, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/6_hiphop-groove6_87_beat_4-4.mid

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
9          8               36           0:418        16193        64
                           36           0:421        16234        18

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
9          8               36             -7       16200           9
                           36             34       16200           9

                                 bar_beat_number
bar_number bar_beat_number note
9          8               36                  8
                           36                  8

drummer: drummer8, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/7_pop-groove7_138_beat_4-4.mid
  ..nothing to see here
drummer: drummer8, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/8_rock-groove8_65_beat_4-4.mid
  ..nothing to see here
drummer: drummer8, file: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/9_soul-groove9_105_beat_4-4.mid
  ..nothing to see here