<a href="https://colab.research.google.com/github/curtiscu/LYIT/blob/master/GatheringBaseMetrics_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Gathering Metrics

# Setup env

In [0]:
# print all cell output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Google drive access

In [0]:
# mount google drive

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [0]:
# test, peek at data
! ls -al '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/'

# test, modules from local  'E:\Google Drive\LYIT\Dissertation\modules'
! ls -al '/content/drive/My Drive/LYIT/Dissertation/modules/'

total 35
-rw------- 1 root root 2589 Apr 27 12:01 10_soul-groove10_102_beat_4-4.mid
-rw------- 1 root root 4793 Apr 27 12:01 1_funk-groove1_138_beat_4-4.mid
-rw------- 1 root root 3243 Apr 27 12:01 2_funk-groove2_105_beat_4-4.mid
-rw------- 1 root root 4466 Apr 27 12:01 3_soul-groove3_86_beat_4-4.mid
-rw------- 1 root root 2551 Apr 27 12:01 4_soul-groove4_80_beat_4-4.mid
-rw------- 1 root root 3798 Apr 27 12:01 5_funk-groove5_84_beat_4-4.mid
-rw------- 1 root root 3760 Apr 27 12:01 6_hiphop-groove6_87_beat_4-4.mid
-rw------- 1 root root 1894 Apr 27 12:01 7_pop-groove7_138_beat_4-4.mid
-rw------- 1 root root 2437 Apr 27 12:01 8_rock-groove8_65_beat_4-4.mid
-rw------- 1 root root 3448 Apr 27 12:01 9_soul-groove9_105_beat_4-4.mid
total 34
-rw------- 1 root root 21727 Jun  4 19:53 data_prep.py
drwx------ 2 root root  4096 May 10 13:31 __pycache__
-rw------- 1 root root  8416 Jun  2 21:24 visualizations.py

## Auto reload module

Now using library code I've created and saved to google drive which is automatically pushed to the cloud and made available to the colab env. The autoreload stuff below should help imports to 'reimport' to load changes to the library code.

It's not the quickest/ most reliable, so if in a hurry, brute force loading of changes by restarting the runtime.

In [0]:
# tool to auto reload modules.
%load_ext autoreload

# config to auto-reload all modules, handy to make 
# writing and testing modules much easier.
%autoreload 2

## Imports and accessing lib functions

In [0]:
# install required libs
!pip install mido

Requirement already satisfied: mido in /usr/local/lib/python3.6/dist-packages (1.2.9)

In [0]:
# import my modules
import sys
sys.path.append('/content/drive/My Drive/LYIT/Dissertation/modules/')
import data_prep as dp

LOADING custom module, when: 2020-06-13 18:04:06.918029, module name: data_prep

In [0]:
# imports
import pandas as pd
import math
import matplotlib.pyplot as plt
import numpy as np


# object that provides colours for charts
from itertools import cycle

In [0]:
# testing auto reload of modules 
dp.test_function_call('bling')

Test function called worked! when: 2020-06-13 18:04:06.960317,  param:bling

## Pandas display options

In [0]:
def set_pandas_display_options() -> None:
    # Ref: https://stackoverflow.com/a/52432757/
    display = pd.options.display

    display.max_columns = 1000
    display.max_rows = 2000
    display.max_colwidth = 1000
    display.width = None
    # display.precision = 2  # set as needed

set_pandas_display_options()
#pd.reset_option('all')

# Load some data

In [0]:

file_1 = '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/1_funk-groove1_138_beat_4-4.mid'
file_7 = '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/1_funk-groove1_138_beat_4-4.mid'

file_df, f, mtt = dp.load_file(file_1)  # load data

FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/1_funk-groove1_138_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/1_funk-groove1_138_beat_4-4.mid' type 0, 1 tracks, 1300 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=434783 time=0>
    track count: 1, tracks: [<midi track 'MIDI' 1300 messages>]
    MIDI file type: 0
    > processing track: <midi track 'MIDI' 1300 messages>
    note_on span - first tick: 3 , last tick: 30658
    good instruments: 6, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 43.0: 'High Floor Tom (43)', 49.0: 'Crash Cymbal 1 (49)', 51.0: 'Ride Cymbal 1 (51)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120

In [0]:
file_df[file_df.index.isin([10], level=1)]

                                track_msg_num  total_ticks  note  velocity  \
bar_number bar_beat_number note
1          10              38            0:47         1066    38        33
                           42            0:50         1131    42        47
2          10              38           0:125         2995    38        24
3          10              38           0:210         4905    38        27
4          10              38           0:289         6813    38        37
                           38           0:290         6867    38        20
5          10              38           0:370         8767    38        33
6          10              38           0:457        10692    38        33
7          10              38           0:542        12624    38        22
8          10              38           0:621        14523    38        16
9          10              38           0:700        16435    38        27
10         10              38           0:784        18350    38        36
11         10              38           0:870        20285    38        32
12         10              38           0:950        22176    38        33
13         10              38          0:1028        24108    38        38
14         10              38          0:1109        26012    38        31
                           42          0:1113        26094    42        42
15         10              38          0:1191        27962    38        42
16         10              38          0:1270        29856    38        37
                           42          0:1274        29936    42        22

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
1          10              38            -14        1080           1
                           42             51        1080           1
2          10              38             -5        3000           2
3          10              38            -15        4920           3
4          10              38            -27        6840           4
                           38             27        6840           4
5          10              38              7        8760           5
6          10              38             12       10680           6
7          10              38             24       12600           7
8          10              38              3       14520           8
9          10              38             -5       16440           9
10         10              38            -10       18360          10
11         10              38              5       20280          11
12         10              38            -24       22200          12
13         10              38            -12       24120          13
14         10              38            -28       26040          14
                           42             54       26040          14
15         10              38              2       27960          15
16         10              38            -24       29880          16
                           42             56       29880          16

                                 bar_beat_number
bar_number bar_beat_number note
1          10              38                 10
                           42                 10
2          10              38                 10
3          10              38                 10
4          10              38                 10
                           38                 10
5          10              38                 10
6          10              38                 10
7          10              38                 10
8          10              38                 10
9          10              38                 10
10         10              38                 10
11         10              38                 10
12         10              38                 10
13         10              38                 10
14         10              38                 10
                           42                 10
15         10              38                 10
16         10              38                 10
                           42                 10

In [0]:
file_df.head()
file_df.info()

                                track_msg_num  total_ticks  note  velocity  \
bar_number bar_beat_number note
1          1               49             0:6            3    49        60
                           51             0:7            7    51        55
                           36             0:8           10    36        64
           3               36            0:14          211    36        57
                           51            0:16          238    51        31

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
1          1               49              3           0           1
                           51              7           0           1
                           36             10           0           1
           3               36            -29         240           1
                           51             -2         240           1

                                 bar_beat_number
bar_number bar_beat_number note
1          1               49                  1
                           51                  1
                           36                  1
           3               36                  3
                           51                  3

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 412 entries, (1, 1, 49) to (16, 16, 42)
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   track_msg_num    412 non-null    string
 1   total_ticks      412 non-null    int64
 2   note             412 non-null    int64
 3   velocity         412 non-null    int64
 4   beat_offset      412 non-null    int64
 5   beat_center      412 non-null    category
 6   bar_number       412 non-null    int64
 7   bar_beat_number  412 non-null    int64
dtypes: category(1), int64(6), string(1)
memory usage: 25.2 KB

In [0]:
tmp_df = file_df.copy()

# GroupBy tests

Very good info on using DataFrame groupby operations...
* https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html
* https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/
* https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
* https://chrisalbon.com/python/data_wrangling/pandas_apply_operations_to_groups/
* https://stackoverflow.com/a/51231000
* http://www.gregreda.com/2013/10/26/working-with-pandas-dataframes/

In [0]:
# calculate number of hits per metric position 
op = tmp_df.groupby(level=1)['note'].count()

In [0]:
print(str(op))

bar_beat_number
1     54
2      7
3     43
4      7
5     48
6      2
7     30
8     16
9     34
10    20
11    44
12     8
13    40
14     2
15    37
16    20
Name: note, dtype: int64

We have duplicate columns & index names, need to drop some stuff to explore more.

In [0]:
tmp2 = tmp_df.drop(columns=['bar_beat_number', 'note'])

In [0]:
tmp2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 412 entries, (1, 1, 49) to (16, 16, 42)
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   track_msg_num  412 non-null    string
 1   total_ticks    412 non-null    int64
 2   velocity       412 non-null    int64
 3   beat_offset    412 non-null    int64
 4   beat_center    412 non-null    category
 5   bar_number     412 non-null    int64
dtypes: category(1), int64(4), string(1)
memory usage: 18.7 KB

In [0]:
# calculate number of hits per instrument, per metric position 
op2 = tmp2.groupby(by=['bar_beat_number', 'note'])['velocity'].count()

In [0]:
op2

bar_beat_number  note
1                36      12
                 38      10
                 42      15
                 49       1
                 51      16
2                38       5
                 42       2
3                36      16
                 42      11
                 51      16
4                36       4
                 51       3
5                38      16
                 42      16
                 51      16
6                42       2
7                42      14
                 51      16
8                38      16
9                42      17
                 51      17
10               38      17
                 42       3
11               36      15
                 42      13
                 43       1
                 49       3
                 51      12
12               36       6
                 38       2
13               38       8
                 42      16
                 51      16
14               36       1
                 42       1
15               38       8
                 42      13
                 51      16
16               38      19
                 42       1
Name: velocity, dtype: int64

In [0]:
op3 = pd.DataFrame(op2)

In [0]:
op3.columns = ['hit_count']

# Frequency table

Handy to know..
* https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

In [0]:
op3

                      hit_count
bar_beat_number note
1               36           12
                38           10
                42           15
                49            1
                51           16
2               38            5
                42            2
3               36           16
                42           11
                51           16
4               36            4
                51            3
5               38           16
                42           16
                51           16
6               42            2
7               42           14
                51           16
8               38           16
9               42           17
                51           17
10              38           17
                42            3
11              36           15
                42           13
                43            1
                49            3
                51           12
12              36            6
                38            2
13              38            8
                42           16
                51           16
14              36            1
                42            1
15              38            8
                42           13
                51           16
16              38           19
                42            1

In [0]:
# flip things around, fill with '0' instead of NaN, then convert to int
op4 = op3.unstack(0).fillna(0).astype('int32')

In [0]:
op4

                hit_count                                                     \
bar_beat_number        1  2   3  4   5  6   7   8   9   10  11 12  13 14  15
note
36                     12  0  16  4   0  0   0   0   0   0  15  6   0  1   0
38                     10  5   0  0  16  0   0  16   0  17   0  2   8  0   8
42                     15  2  11  0  16  2  14   0  17   3  13  0  16  1  13
43                      0  0   0  0   0  0   0   0   0   0   1  0   0  0   0
49                      1  0   0  0   0  0   0   0   0   0   3  0   0  0   0
51                     16  0  16  3  16  0  16   0  17   0  12  0  16  0  16


bar_beat_number  16
note
36                0
38               19
42                1
43                0
49                0
51                0

## Flesh out missing quantize buckets
Some metric positions don't have any beats, for completeness/ presentation, do a bit of extra work to flesh out those columns and fill with zeros.
* https://stackoverflow.com/a/56907742

In [0]:
op4.columns = op4.columns.droplevel(level=0)

In [0]:
fill_cols = pd.DataFrame(columns=[x for x in range(1, 17)])
fill_cols

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Index: []

In [0]:
full_col_list = list(set().union(op4.columns, fill_cols.columns))
full_col_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [0]:
op5 = op4.reindex(columns=full_col_list, fill_value=0)

In [0]:
op5

bar_beat_number,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
note,,,,,,,,,,,,,,,,
36,12,0,16,4,0,0,0,0,0,0,15,6,0,1,0,0
38,10,5,0,0,16,0,0,16,0,17,0,2,8,0,8,19
42,15,2,11,0,16,2,14,0,17,3,13,0,16,1,13,1
43,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
49,1,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0
51,16,0,16,3,16,0,16,0,17,0,12,0,16,0,16,0

In [0]:
from data_prep import MidiTools as mt

In [0]:
mt.getInstruments(op5.index.values)

['Bass Drum 1 (36)',
 'Acoustic Snare (38)',
 'Closed Hi Hat (42)',
 'High Floor Tom (43)',
 'Crash Cymbal 1 (49)',
 'Ride Cymbal 1 (51)']

In [0]:
new_row_index = dict(zip(op5.index.values, mt.getInstruments(op5.index.values)))
new_row_index

{36: 'Bass Drum 1 (36)',
 38: 'Acoustic Snare (38)',
 42: 'Closed Hi Hat (42)',
 43: 'High Floor Tom (43)',
 49: 'Crash Cymbal 1 (49)',
 51: 'Ride Cymbal 1 (51)'}

In [0]:
op6 = op5.rename(new_row_index)

## Complete Frequency Table

In [0]:
op6

bar_beat_number,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
note,,,,,,,,,,,,,,,,
Bass Drum 1 (36),12,0,16,4,0,0,0,0,0,0,15,6,0,1,0,0
Acoustic Snare (38),10,5,0,0,16,0,0,16,0,17,0,2,8,0,8,19
Closed Hi Hat (42),15,2,11,0,16,2,14,0,17,3,13,0,16,1,13,1
High Floor Tom (43),0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
Crash Cymbal 1 (49),1,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0
Ride Cymbal 1 (51),16,0,16,3,16,0,16,0,17,0,12,0,16,0,16,0

# Detect multiple hits in quantize bucket

This detects multiple hits of the same instrument, within our quantize window - this is a problem. Need to decide what to do here, maybe ignore all these hits by pre-filtering?

In [0]:
m_hits = file_df.copy()

In [0]:
m_hits.drop(columns=['note'], inplace=True)

In [0]:
m_hits.groupby(['beat_center','note']).count().head(10)

                  track_msg_num  total_ticks  velocity  beat_offset  \
beat_center note
0           36              1.0          1.0       1.0          1.0
            38              NaN          NaN       NaN          NaN
            42              NaN          NaN       NaN          NaN
            43              NaN          NaN       NaN          NaN
            49              1.0          1.0       1.0          1.0
            51              1.0          1.0       1.0          1.0
120         36              NaN          NaN       NaN          NaN
            38              NaN          NaN       NaN          NaN
            42              NaN          NaN       NaN          NaN
            43              NaN          NaN       NaN          NaN

                  bar_number  bar_beat_number
beat_center note
0           36           1.0              1.0
            38           NaN              NaN
            42           NaN              NaN
            43           NaN              NaN
            49           1.0              1.0
            51           1.0              1.0
120         36           NaN              NaN
            38           NaN              NaN
            42           NaN              NaN
            43           NaN              NaN

Handy filter functions..
* https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#filtration

Lets us filter entire dataframe groupby result to only show groups with more than 1 member, i.e. duplicate hits in bucket.

**Basically the output below must (currently) be flagged as an error**

In [0]:
# filters entire dataframe to only show groups
# with more than 1 member, i.e. duplicate htis in bucket
m_hits.groupby(['beat_center','note']).filter(lambda a_group: len(a_group) > 1)

                                track_msg_num  total_ticks  velocity  \
bar_number bar_beat_number note
1          9               42            0:41          908        77
                           51            0:43          940        46
                           42            0:45          971         0
                           51            0:46          971         0
2          16              38           0:155         3710        37
                           38           0:158         3747        41
3          1               38           0:161         3796        33
                           38           0:168         3846        23
4          10              38           0:289         6813        37
                           38           0:290         6867        20
5          16              38           0:401         9468        37
                           38           0:404         9506        33
                           38           0:406         9532        30
6          16              38           0:487        11397        36
                           38           0:491        11441        32
9          16              38           0:730        17147        38
                           38           0:733        17182        38
10         16              38           0:814        19056        43
                           38           0:817        19092        46
                           38           0:820        19116        40
13         16              38          0:1056        24797        33
                           38          0:1059        24845        32
                           38          0:1062        24876        32
14         16              38          0:1140        26733        40
                           38          0:1143        26778        41
                           38          0:1145        26805        34

                                 beat_offset beat_center  bar_number  \
bar_number bar_beat_number note
1          9               42            -52         960           1
                           51            -20         960           1
                           42             11         960           1
                           51             11         960           1
2          16              38            -10        3720           2
                           38             27        3720           2
3          1               38            -44        3840           3
                           38              6        3840           3
4          10              38            -27        6840           4
                           38             27        6840           4
5          16              38            -12        9480           5
                           38             26        9480           5
                           38             52        9480           5
6          16              38             -3       11400           6
                           38             41       11400           6
9          16              38            -13       17160           9
                           38             22       17160           9
10         16              38            -24       19080          10
                           38             12       19080          10
                           38             36       19080          10
13         16              38            -43       24840          13
                           38              5       24840          13
                           38             36       24840          13
14         16              38            -27       26760          14
                           38             18       26760          14
                           38             45       26760          14

                                 bar_beat_number
bar_number bar_beat_number note
1          9               42                  9
                           51                  9
                           42                  9
                           51                  9
2          16              38                 16
                           38                 16
3          1               38                  1
                           38                  1
4          10              38                 10
                           38                 10
5          16              38                 16
                           38                 16
                           38                 16
6          16              38                 16
                           38                 16
9          16              38                 16
                           38                 16
10         16              38                 16
                           38                 16
                           38                 16
13         16              38                 16
                           38                 16
                           38                 16
14         16              38                 16
                           38                 16
                           38                 16

# Groupby over x number bars

***DON'T KNOW IF I NEED THIS***

Was considering spreading out the histogram table over 2 bars (32 beats).

In [0]:
bins_32 = file_df.copy()
#bins_32.head()

# Gather other stats (mean, median, min/ max, std, etc.)

Handy reference..
* https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

In [0]:
stats_df = file_df.drop(columns=['bar_beat_number', 'note', 'track_msg_num', 'total_ticks', 'beat_center', 'bar_number' ]).copy()

In [0]:
stats_df.head()

                                 velocity  beat_offset
bar_number bar_beat_number note
1          1               49          60            3
                           51          55            7
                           36          64           10
           3               36          57          -29
                           51          31           -2

## Detour: save file to csv for test/ review of stats

In [0]:
stats_df.to_csv('/content/drive/My Drive/tmp1.csv')

In [0]:
# check csv was written
import glob
from pprint import pprint
pprint(glob.glob("/content/drive/My Drive/*.csv"))

['/content/drive/My Drive/tmp1.csv', '/content/drive/My Drive/stats_tmp.csv']

## Build stats functions

In [0]:
# IQR (Inter Qurtile Range) function
def iqr(x):
  q75, q25 = np.percentile(x, [75 ,25],interpolation='midpoint')
  iqr = q75 - q25
  return iqr

In [0]:
stats_1 = stats_df.groupby(by=['bar_beat_number', 'note']).agg(
    hits=('velocity', "count"),               # count of hits at position
    off_min=('beat_offset', "min"),           # earliest hit offset time
    off_max=('beat_offset', "max"),           # latest hit offset time 
    off_median =('beat_offset', np.median),   # median offset
    off_mean=('beat_offset', np.mean),        # mean offset
    off_iqr=('beat_offset', iqr),             # IQR of hit times
    off_std=('beat_offset', np.std),          # std deviation of hit times
    vel_min=('velocity', "min"),              # quietest hit volume
    vel_max=('velocity', "max"),              # loudest hit volume
    vel_median =('velocity', np.median),      # median vol of all hits
    vel_mean=('velocity', np.mean),           # mean vol of all hits
    vel_iqr=('velocity', iqr),                # IQR of hit volumes
    vel_std=('velocity', np.std)              # std deviation of hit vols
    )

In [0]:
stats_1.head()

                      hits  off_min  off_max  off_median   off_mean  off_iqr  \
bar_beat_number note
1               36      12      -25       10        -8.0  -9.250000     18.0
                38      10      -58       55       -41.0 -20.800000     39.0
                42      15      -60      -10       -30.0 -28.933333     21.0
                49       1        3        3         3.0   3.000000      0.0
                51      16      -29       13        -2.5  -2.937500     16.5

                        off_std  vel_min  vel_max  vel_median   vel_mean  \
bar_beat_number note
1               36    12.144022       50       69        61.5  60.500000
                38    42.202686       23       34        29.5  28.800000
                42    14.129335       70       82        77.0  77.066667
                49          NaN       60       60        60.0  60.000000
                51    10.828781       38       60        51.0  50.500000

                      vel_iqr   vel_std
bar_beat_number note
1               36        8.0  5.452272
                38        8.0  4.491968
                42        5.0  3.712271
                49        0.0       NaN
                51        9.5  6.491019

Smooth out our decimal places...
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.round.html

In [0]:
stats_1 = stats_1.round(2)
stats_1

                      hits  off_min  off_max  off_median  off_mean  off_iqr  \
bar_beat_number note
1               36      12      -25       10        -8.0     -9.25     18.0
                38      10      -58       55       -41.0    -20.80     39.0
                42      15      -60      -10       -30.0    -28.93     21.0
                49       1        3        3         3.0      3.00      0.0
                51      16      -29       13        -2.5     -2.94     16.5
2               38       5      -38       -3       -18.0    -21.40     22.0
                42       2       45       58        51.5     51.50      0.0
3               36      16      -29        6       -10.0    -10.56     17.0
                42      11      -52      -21       -40.0    -37.36     12.5
                51      16      -41       11       -11.5    -11.06     14.0
4               36       4      -20        5        -8.5     -8.00     21.0
                51       3      -12       -6        -8.0     -8.67      3.0
5               38      16      -24       16        -6.0     -4.94     10.5
                42      16      -57       -2       -20.0    -24.38     12.0
                51      16      -30       20        -2.0     -3.69      9.5
6               42       2       54       55        54.5     54.50      0.0
7               42      14      -54      -16       -37.0    -35.57      9.0
                51      16      -29       27         3.5      1.38     14.5
8               38      16      -44       10       -12.0    -11.69     18.5
9               42      17      -52       11       -26.0    -24.71     15.0
                51      17      -33       23         0.0     -2.00     18.0
10              38      17      -28       27        -5.0     -4.94     20.0
                42       3       51       56        54.0     53.67      2.5
11              36      15      -54        6       -26.0    -25.87     28.0
                42      13      -54      -19       -43.0    -39.46     14.0
                43       1      -21      -21       -21.0    -21.00      0.0
                49       3      -37      -16       -33.0    -28.67     10.5
                51      12      -32       19         2.0     -0.08     14.0
12              36       6      -42       -6       -13.5    -17.33     10.0
                38       2        7       55        31.0     31.00      0.0
13              38       8      -24        7       -15.0    -11.25     15.5
                42      16      -50       -4       -31.5    -30.31     16.0
                51      16      -37       12       -11.5     -9.88     18.0
14              36       1        6        6         6.0      6.00      0.0
                42       1       57       57        57.0     57.00      0.0
15              38       8      -40        4       -12.5    -15.75     31.5
                42      13      -57      -23       -39.0    -41.54     18.0
                51      16      -39       11        -5.5     -7.38     24.0
16              38      19      -43       52        12.0      9.74     42.5
                42       1       58       58        58.0     58.00      0.0

                      off_std  vel_min  vel_max  vel_median  vel_mean  \
bar_beat_number note
1               36      12.14       50       69        61.5     60.50
                38      42.20       23       34        29.5     28.80
                42      14.13       70       82        77.0     77.07
                49        NaN       60       60        60.0     60.00
                51      10.83       38       60        51.0     50.50
2               38      14.84       30       39        38.0     35.40
                42       9.19       35       55        45.0     45.00
3               36      10.75       42      125        60.5     61.50
                42       9.87       20       60        50.0     45.18
                51      12.40       31       51        45.0     44.31
4               36      12.36       48       57        54.5     53.50
                51       3.06       39       49        45.0     44.33
5               38      10.04       88      111       101.0    100.06
                42      14.01       75       85        81.0     81.25
                51      12.21       48       71        57.5     57.81
6               42       0.71       45       62        53.5     53.50
7               42      10.30       17       67        48.5     47.71
                51      12.88       36       48        42.5     42.25
8               38      14.99       32      117        97.5     88.44
9               42      15.72        0       82        77.0     72.18
                51      14.54        0       64        52.0     49.41
10              38      16.77       16       42        33.0     30.65
                42       2.52       22       47        42.0     37.00
11              36      18.63       46      127        59.0     64.53
                42      11.51       20       62        42.0     42.31
                43        NaN      127      127       127.0    127.00
                49      11.15       55       84        61.0     66.67
                51      13.26       36       56        46.0     45.83
12              36      13.35       48       65        56.5     56.50
                38      33.94        8       34        21.0     21.00
13              38      10.73       89      114       101.5    102.00
                42      12.87       75       87        80.0     80.12
                51      12.27       33       73        54.0     55.19
14              36        NaN       52       52        52.0     52.00
                42        NaN       42       42        42.0     42.00
15              38      17.49       94      116       111.5    109.00
                42      11.45       17       65        52.0     46.00
                51      14.75       39       83        51.5     54.81
16              38      27.05       30       46        37.0     36.47
                42        NaN       25       25        25.0     25.00

                      vel_iqr  vel_std
bar_beat_number note
1               36        8.0     5.45
                38        8.0     4.49
                42        5.0     3.71
                49        0.0      NaN
                51        9.5     6.49
2               38        6.0     4.10
                42        0.0    14.14
3               36        9.0    18.30
                42       11.0    13.72
                51        8.0     5.40
4               36        5.0     3.87
                51        5.0     5.03
5               38        9.0     6.48
                42        3.5     2.89
                51        9.5     7.00
6               42        0.0    12.02
7               42       17.0    12.96
                51        6.0     3.84
8               38       17.5    23.66
9               42        2.0    18.82
                51        9.0    15.25
10              38        9.0     7.03
                42       12.5    13.23
11              36       24.0    21.73
                42       17.0    13.33
                43        0.0      NaN
                49       14.5    15.31
                51        8.0     5.84
12              36        6.0     6.02
                38        0.0    18.38
13              38       19.0    10.04
                42        5.0     3.77
                51       14.5    11.03
14              36        0.0      NaN
                42        0.0      NaN
15              38        9.5     7.37
                42       17.0    15.96
                51       18.5    14.61
16              38        7.5     4.59
                42        0.0      NaN

In [0]:
instrument_list = stats_1.index.unique(level=1)._data
instrument_map = dict(zip(instrument_list, mt.getInstruments(instrument_list)))
instrument_map

{36: 'Bass Drum 1 (36)',
 38: 'Acoustic Snare (38)',
 42: 'Closed Hi Hat (42)',
 43: 'High Floor Tom (43)',
 49: 'Crash Cymbal 1 (49)',
 51: 'Ride Cymbal 1 (51)'}

## Completed stats matrix (v1)
This one is a bit long winded, sideways speaking ...

In [0]:
stats_1.T.stack(1).unstack(0).fillna(0)

bar_beat_number    1                                                       \
                 hits off_iqr off_max off_mean off_median off_min off_std
note
36               12.0    18.0    10.0    -9.25       -8.0   -25.0   12.14
38               10.0    39.0    55.0   -20.80      -41.0   -58.0   42.20
42               15.0    21.0   -10.0   -28.93      -30.0   -60.0   14.13
43                0.0     0.0     0.0     0.00        0.0     0.0    0.00
49                1.0     0.0     3.0     3.00        3.0     3.0    0.00
51               16.0    16.5    13.0    -2.94       -2.5   -29.0   10.83

bar_beat_number                                                       2   \
                vel_iqr vel_max vel_mean vel_median vel_min vel_std hits
note
36                  8.0    69.0    60.50       61.5    50.0    5.45  0.0
38                  8.0    34.0    28.80       29.5    23.0    4.49  5.0
42                  5.0    82.0    77.07       77.0    70.0    3.71  2.0
43                  0.0     0.0     0.00        0.0     0.0    0.00  0.0
49                  0.0    60.0    60.00       60.0    60.0    0.00  0.0
51                  9.5    60.0    50.50       51.0    38.0    6.49  0.0

bar_beat_number                                                              \
                off_iqr off_max off_mean off_median off_min off_std vel_iqr
note
36                  0.0     0.0      0.0        0.0     0.0    0.00     0.0
38                 22.0    -3.0    -21.4      -18.0   -38.0   14.84     6.0
42                  0.0    58.0     51.5       51.5    45.0    9.19     0.0
43                  0.0     0.0      0.0        0.0     0.0    0.00     0.0
49                  0.0     0.0      0.0        0.0     0.0    0.00     0.0
51                  0.0     0.0      0.0        0.0     0.0    0.00     0.0

bar_beat_number                                                3           \
                vel_max vel_mean vel_median vel_min vel_std  hits off_iqr
note
36                  0.0      0.0        0.0     0.0    0.00  16.0    17.0
38                 39.0     35.4       38.0    30.0    4.10   0.0     0.0
42                 55.0     45.0       45.0    35.0   14.14  11.0    12.5
43                  0.0      0.0        0.0     0.0    0.00   0.0     0.0
49                  0.0      0.0        0.0     0.0    0.00   0.0     0.0
51                  0.0      0.0        0.0     0.0    0.00  16.0    14.0

bar_beat_number                                                              \
                off_max off_mean off_median off_min off_std vel_iqr vel_max
note
36                  6.0   -10.56      -10.0   -29.0   10.75     9.0   125.0
38                  0.0     0.00        0.0     0.0    0.00     0.0     0.0
42                -21.0   -37.36      -40.0   -52.0    9.87    11.0    60.0
43                  0.0     0.00        0.0     0.0    0.00     0.0     0.0
49                  0.0     0.00        0.0     0.0    0.00     0.0     0.0
51                 11.0   -11.06      -11.5   -41.0   12.40     8.0    51.0

bar_beat_number                                       4                   \
                vel_mean vel_median vel_min vel_std hits off_iqr off_max
note
36                 61.50       60.5    42.0   18.30  4.0    21.0     5.0
38                  0.00        0.0     0.0    0.00  0.0     0.0     0.0
42                 45.18       50.0    20.0   13.72  0.0     0.0     0.0
43                  0.00        0.0     0.0    0.00  0.0     0.0     0.0
49                  0.00        0.0     0.0    0.00  0.0     0.0     0.0
51                 44.31       45.0    31.0    5.40  3.0     3.0    -6.0

bar_beat_number                                                               \
                off_mean off_median off_min off_std vel_iqr vel_max vel_mean
note
36                 -8.00       -8.5   -20.0   12.36     5.0    57.0    53.50
38                  0.00        0.0     0.0    0.00     0.0     0.0     0.00
42                  0.00        0.0     0.0    0.00     0.0     0.0     0.00
43                  0.00        0.0     0.0    0.00     0.0     0.0     0.00
49                  0.00        0.0     0.0    0.00     0.0     0.0     0.00
51                 -8.67       -8.0   -12.0    3.06     5.0    49.0    44.33

bar_beat_number                               5                            \
                vel_median vel_min vel_std  hits off_iqr off_max off_mean
note
36                    54.5    48.0    3.87   0.0     0.0     0.0     0.00
38                     0.0     0.0    0.00  16.0    10.5    16.0    -4.94
42                     0.0     0.0    0.00  16.0    12.0    -2.0   -24.38
43                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
49                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
51                    45.0    39.0    5.03  16.0     9.5    20.0    -3.69

bar_beat_number                                                      \
                off_median off_min off_std vel_iqr vel_max vel_mean
note
36                     0.0     0.0    0.00     0.0     0.0     0.00
38                    -6.0   -24.0   10.04     9.0   111.0   100.06
42                   -20.0   -57.0   14.01     3.5    85.0    81.25
43                     0.0     0.0    0.00     0.0     0.0     0.00
49                     0.0     0.0    0.00     0.0     0.0     0.00
51                    -2.0   -30.0   12.21     9.5    71.0    57.81

bar_beat_number                              6                            \
                vel_median vel_min vel_std hits off_iqr off_max off_mean
note
36                     0.0     0.0    0.00  0.0     0.0     0.0      0.0
38                   101.0    88.0    6.48  0.0     0.0     0.0      0.0
42                    81.0    75.0    2.89  2.0     0.0    55.0     54.5
43                     0.0     0.0    0.00  0.0     0.0     0.0      0.0
49                     0.0     0.0    0.00  0.0     0.0     0.0      0.0
51                    57.5    48.0    7.00  0.0     0.0     0.0      0.0

bar_beat_number                                                      \
                off_median off_min off_std vel_iqr vel_max vel_mean
note
36                     0.0     0.0    0.00     0.0     0.0      0.0
38                     0.0     0.0    0.00     0.0     0.0      0.0
42                    54.5    54.0    0.71     0.0    62.0     53.5
43                     0.0     0.0    0.00     0.0     0.0      0.0
49                     0.0     0.0    0.00     0.0     0.0      0.0
51                     0.0     0.0    0.00     0.0     0.0      0.0

bar_beat_number                               7                            \
                vel_median vel_min vel_std  hits off_iqr off_max off_mean
note
36                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
38                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
42                    53.5    45.0   12.02  14.0     9.0   -16.0   -35.57
43                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
49                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
51                     0.0     0.0    0.00  16.0    14.5    27.0     1.38

bar_beat_number                                                      \
                off_median off_min off_std vel_iqr vel_max vel_mean
note
36                     0.0     0.0    0.00     0.0     0.0     0.00
38                     0.0     0.0    0.00     0.0     0.0     0.00
42                   -37.0   -54.0   10.30    17.0    67.0    47.71
43                     0.0     0.0    0.00     0.0     0.0     0.00
49                     0.0     0.0    0.00     0.0     0.0     0.00
51                     3.5   -29.0   12.88     6.0    48.0    42.25

bar_beat_number                               8                            \
                vel_median vel_min vel_std  hits off_iqr off_max off_mean
note
36                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
38                     0.0     0.0    0.00  16.0    18.5    10.0   -11.69
42                    48.5    17.0   12.96   0.0     0.0     0.0     0.00
43                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
49                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
51                    42.5    36.0    3.84   0.0     0.0     0.0     0.00

bar_beat_number                                                      \
                off_median off_min off_std vel_iqr vel_max vel_mean
note
36                     0.0     0.0    0.00     0.0     0.0     0.00
38                   -12.0   -44.0   14.99    17.5   117.0    88.44
42                     0.0     0.0    0.00     0.0     0.0     0.00
43                     0.0     0.0    0.00     0.0     0.0     0.00
49                     0.0     0.0    0.00     0.0     0.0     0.00
51                     0.0     0.0    0.00     0.0     0.0     0.00

bar_beat_number                               9                            \
                vel_median vel_min vel_std  hits off_iqr off_max off_mean
note
36                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
38                    97.5    32.0   23.66   0.0     0.0     0.0     0.00
42                     0.0     0.0    0.00  17.0    15.0    11.0   -24.71
43                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
49                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
51                     0.0     0.0    0.00  17.0    18.0    23.0    -2.00

bar_beat_number                                                      \
                off_median off_min off_std vel_iqr vel_max vel_mean
note
36                     0.0     0.0    0.00     0.0     0.0     0.00
38                     0.0     0.0    0.00     0.0     0.0     0.00
42                   -26.0   -52.0   15.72     2.0    82.0    72.18
43                     0.0     0.0    0.00     0.0     0.0     0.00
49                     0.0     0.0    0.00     0.0     0.0     0.00
51                     0.0   -33.0   14.54     9.0    64.0    49.41

bar_beat_number                               10                           \
                vel_median vel_min vel_std  hits off_iqr off_max off_mean
note
36                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
38                     0.0     0.0    0.00  17.0    20.0    27.0    -4.94
42                    77.0     0.0   18.82   3.0     2.5    56.0    53.67
43                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
49                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
51                    52.0     0.0   15.25   0.0     0.0     0.0     0.00

bar_beat_number                                                      \
                off_median off_min off_std vel_iqr vel_max vel_mean
note
36                     0.0     0.0    0.00     0.0     0.0     0.00
38                    -5.0   -28.0   16.77     9.0    42.0    30.65
42                    54.0    51.0    2.52    12.5    47.0    37.00
43                     0.0     0.0    0.00     0.0     0.0     0.00
49                     0.0     0.0    0.00     0.0     0.0     0.00
51                     0.0     0.0    0.00     0.0     0.0     0.00

bar_beat_number                               11                           \
                vel_median vel_min vel_std  hits off_iqr off_max off_mean
note
36                     0.0     0.0    0.00  15.0    28.0     6.0   -25.87
38                    33.0    16.0    7.03   0.0     0.0     0.0     0.00
42                    42.0    22.0   13.23  13.0    14.0   -19.0   -39.46
43                     0.0     0.0    0.00   1.0     0.0   -21.0   -21.00
49                     0.0     0.0    0.00   3.0    10.5   -16.0   -28.67
51                     0.0     0.0    0.00  12.0    14.0    19.0    -0.08

bar_beat_number                                                      \
                off_median off_min off_std vel_iqr vel_max vel_mean
note
36                   -26.0   -54.0   18.63    24.0   127.0    64.53
38                     0.0     0.0    0.00     0.0     0.0     0.00
42                   -43.0   -54.0   11.51    17.0    62.0    42.31
43                   -21.0   -21.0    0.00     0.0   127.0   127.00
49                   -33.0   -37.0   11.15    14.5    84.0    66.67
51                     2.0   -32.0   13.26     8.0    56.0    45.83

bar_beat_number                              12                           \
                vel_median vel_min vel_std hits off_iqr off_max off_mean
note
36                    59.0    46.0   21.73  6.0    10.0    -6.0   -17.33
38                     0.0     0.0    0.00  2.0     0.0    55.0    31.00
42                    42.0    20.0   13.33  0.0     0.0     0.0     0.00
43                   127.0   127.0    0.00  0.0     0.0     0.0     0.00
49                    61.0    55.0   15.31  0.0     0.0     0.0     0.00
51                    46.0    36.0    5.84  0.0     0.0     0.0     0.00

bar_beat_number                                                      \
                off_median off_min off_std vel_iqr vel_max vel_mean
note
36                   -13.5   -42.0   13.35     6.0    65.0     56.5
38                    31.0     7.0   33.94     0.0    34.0     21.0
42                     0.0     0.0    0.00     0.0     0.0      0.0
43                     0.0     0.0    0.00     0.0     0.0      0.0
49                     0.0     0.0    0.00     0.0     0.0      0.0
51                     0.0     0.0    0.00     0.0     0.0      0.0

bar_beat_number                               13                           \
                vel_median vel_min vel_std  hits off_iqr off_max off_mean
note
36                    56.5    48.0    6.02   0.0     0.0     0.0     0.00
38                    21.0     8.0   18.38   8.0    15.5     7.0   -11.25
42                     0.0     0.0    0.00  16.0    16.0    -4.0   -30.31
43                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
49                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
51                     0.0     0.0    0.00  16.0    18.0    12.0    -9.88

bar_beat_number                                                      \
                off_median off_min off_std vel_iqr vel_max vel_mean
note
36                     0.0     0.0    0.00     0.0     0.0     0.00
38                   -15.0   -24.0   10.73    19.0   114.0   102.00
42                   -31.5   -50.0   12.87     5.0    87.0    80.12
43                     0.0     0.0    0.00     0.0     0.0     0.00
49                     0.0     0.0    0.00     0.0     0.0     0.00
51                   -11.5   -37.0   12.27    14.5    73.0    55.19

bar_beat_number                              14                           \
                vel_median vel_min vel_std hits off_iqr off_max off_mean
note
36                     0.0     0.0    0.00  1.0     0.0     6.0      6.0
38                   101.5    89.0   10.04  0.0     0.0     0.0      0.0
42                    80.0    75.0    3.77  1.0     0.0    57.0     57.0
43                     0.0     0.0    0.00  0.0     0.0     0.0      0.0
49                     0.0     0.0    0.00  0.0     0.0     0.0      0.0
51                    54.0    33.0   11.03  0.0     0.0     0.0      0.0

bar_beat_number                                                      \
                off_median off_min off_std vel_iqr vel_max vel_mean
note
36                     6.0     6.0     0.0     0.0    52.0     52.0
38                     0.0     0.0     0.0     0.0     0.0      0.0
42                    57.0    57.0     0.0     0.0    42.0     42.0
43                     0.0     0.0     0.0     0.0     0.0      0.0
49                     0.0     0.0     0.0     0.0     0.0      0.0
51                     0.0     0.0     0.0     0.0     0.0      0.0

bar_beat_number                               15                           \
                vel_median vel_min vel_std  hits off_iqr off_max off_mean
note
36                    52.0    52.0     0.0   0.0     0.0     0.0     0.00
38                     0.0     0.0     0.0   8.0    31.5     4.0   -15.75
42                    42.0    42.0     0.0  13.0    18.0   -23.0   -41.54
43                     0.0     0.0     0.0   0.0     0.0     0.0     0.00
49                     0.0     0.0     0.0   0.0     0.0     0.0     0.00
51                     0.0     0.0     0.0  16.0    24.0    11.0    -7.38

bar_beat_number                                                      \
                off_median off_min off_std vel_iqr vel_max vel_mean
note
36                     0.0     0.0    0.00     0.0     0.0     0.00
38                   -12.5   -40.0   17.49     9.5   116.0   109.00
42                   -39.0   -57.0   11.45    17.0    65.0    46.00
43                     0.0     0.0    0.00     0.0     0.0     0.00
49                     0.0     0.0    0.00     0.0     0.0     0.00
51                    -5.5   -39.0   14.75    18.5    83.0    54.81

bar_beat_number                               16                           \
                vel_median vel_min vel_std  hits off_iqr off_max off_mean
note
36                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
38                   111.5    94.0    7.37  19.0    42.5    52.0     9.74
42                    52.0    17.0   15.96   1.0     0.0    58.0    58.00
43                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
49                     0.0     0.0    0.00   0.0     0.0     0.0     0.00
51                    51.5    39.0   14.61   0.0     0.0     0.0     0.00

bar_beat_number                                                      \
                off_median off_min off_std vel_iqr vel_max vel_mean
note
36                     0.0     0.0    0.00     0.0     0.0     0.00
38                    12.0   -43.0   27.05     7.5    46.0    36.47
42                    58.0    58.0    0.00     0.0    25.0    25.00
43                     0.0     0.0    0.00     0.0     0.0     0.00
49                     0.0     0.0    0.00     0.0     0.0     0.00
51                     0.0     0.0    0.00     0.0     0.0     0.00

bar_beat_number
                vel_median vel_min vel_std
note
36                     0.0     0.0    0.00
38                    37.0    30.0    4.59
42                    25.0    25.0    0.00
43                     0.0     0.0    0.00
49                     0.0     0.0    0.00
51                     0.0     0.0    0.00

## Completed stats matrix (v2): single stats df, all instruments in song
Little easier on the eyes...

In [0]:
stats_2 = stats_1.T.stack(1).fillna(0) #.unstack(0).fillna(0)
stats_2

bar_beat_number     1      2       3      4       5      6      7       8   \
           note
hits       36    12.00   0.00   16.00   4.00    0.00   0.00   0.00    0.00
           38    10.00   5.00    0.00   0.00   16.00   0.00   0.00   16.00
           42    15.00   2.00   11.00   0.00   16.00   2.00  14.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     1.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    16.00   0.00   16.00   3.00   16.00   0.00  16.00    0.00
off_min    36   -25.00   0.00  -29.00 -20.00    0.00   0.00   0.00    0.00
           38   -58.00 -38.00    0.00   0.00  -24.00   0.00   0.00  -44.00
           42   -60.00  45.00  -52.00   0.00  -57.00  54.00 -54.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     3.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51   -29.00   0.00  -41.00 -12.00  -30.00   0.00 -29.00    0.00
off_max    36    10.00   0.00    6.00   5.00    0.00   0.00   0.00    0.00
           38    55.00  -3.00    0.00   0.00   16.00   0.00   0.00   10.00
           42   -10.00  58.00  -21.00   0.00   -2.00  55.00 -16.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     3.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    13.00   0.00   11.00  -6.00   20.00   0.00  27.00    0.00
off_median 36    -8.00   0.00  -10.00  -8.50    0.00   0.00   0.00    0.00
           38   -41.00 -18.00    0.00   0.00   -6.00   0.00   0.00  -12.00
           42   -30.00  51.50  -40.00   0.00  -20.00  54.50 -37.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     3.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    -2.50   0.00  -11.50  -8.00   -2.00   0.00   3.50    0.00
off_mean   36    -9.25   0.00  -10.56  -8.00    0.00   0.00   0.00    0.00
           38   -20.80 -21.40    0.00   0.00   -4.94   0.00   0.00  -11.69
           42   -28.93  51.50  -37.36   0.00  -24.38  54.50 -35.57    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     3.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    -2.94   0.00  -11.06  -8.67   -3.69   0.00   1.38    0.00
off_iqr    36    18.00   0.00   17.00  21.00    0.00   0.00   0.00    0.00
           38    39.00  22.00    0.00   0.00   10.50   0.00   0.00   18.50
           42    21.00   0.00   12.50   0.00   12.00   0.00   9.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    16.50   0.00   14.00   3.00    9.50   0.00  14.50    0.00
off_std    36    12.14   0.00   10.75  12.36    0.00   0.00   0.00    0.00
           38    42.20  14.84    0.00   0.00   10.04   0.00   0.00   14.99
           42    14.13   9.19    9.87   0.00   14.01   0.71  10.30    0.00
           49     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    10.83   0.00   12.40   3.06   12.21   0.00  12.88    0.00
vel_min    36    50.00   0.00   42.00  48.00    0.00   0.00   0.00    0.00
           38    23.00  30.00    0.00   0.00   88.00   0.00   0.00   32.00
           42    70.00  35.00   20.00   0.00   75.00  45.00  17.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49    60.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    38.00   0.00   31.00  39.00   48.00   0.00  36.00    0.00
vel_max    36    69.00   0.00  125.00  57.00    0.00   0.00   0.00    0.00
           38    34.00  39.00    0.00   0.00  111.00   0.00   0.00  117.00
           42    82.00  55.00   60.00   0.00   85.00  62.00  67.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49    60.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    60.00   0.00   51.00  49.00   71.00   0.00  48.00    0.00
vel_median 36    61.50   0.00   60.50  54.50    0.00   0.00   0.00    0.00
           38    29.50  38.00    0.00   0.00  101.00   0.00   0.00   97.50
           42    77.00  45.00   50.00   0.00   81.00  53.50  48.50    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49    60.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    51.00   0.00   45.00  45.00   57.50   0.00  42.50    0.00
vel_mean   36    60.50   0.00   61.50  53.50    0.00   0.00   0.00    0.00
           38    28.80  35.40    0.00   0.00  100.06   0.00   0.00   88.44
           42    77.07  45.00   45.18   0.00   81.25  53.50  47.71    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49    60.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    50.50   0.00   44.31  44.33   57.81   0.00  42.25    0.00
vel_iqr    36     8.00   0.00    9.00   5.00    0.00   0.00   0.00    0.00
           38     8.00   6.00    0.00   0.00    9.00   0.00   0.00   17.50
           42     5.00   0.00   11.00   0.00    3.50   0.00  17.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51     9.50   0.00    8.00   5.00    9.50   0.00   6.00    0.00
vel_std    36     5.45   0.00   18.30   3.87    0.00   0.00   0.00    0.00
           38     4.49   4.10    0.00   0.00    6.48   0.00   0.00   23.66
           42     3.71  14.14   13.72   0.00    2.89  12.02  12.96    0.00
           49     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51     6.49   0.00    5.40   5.03    7.00   0.00   3.84    0.00

bar_beat_number     9      10      11     12      13    14      15     16
           note
hits       36     0.00   0.00   15.00   6.00    0.00   1.0    0.00   0.00
           38     0.00  17.00    0.00   2.00    8.00   0.0    8.00  19.00
           42    17.00   3.00   13.00   0.00   16.00   1.0   13.00   1.00
           43     0.00   0.00    1.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00    3.00   0.00    0.00   0.0    0.00   0.00
           51    17.00   0.00   12.00   0.00   16.00   0.0   16.00   0.00
off_min    36     0.00   0.00  -54.00 -42.00    0.00   6.0    0.00   0.00
           38     0.00 -28.00    0.00   7.00  -24.00   0.0  -40.00 -43.00
           42   -52.00  51.00  -54.00   0.00  -50.00  57.0  -57.00  58.00
           43     0.00   0.00  -21.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00  -37.00   0.00    0.00   0.0    0.00   0.00
           51   -33.00   0.00  -32.00   0.00  -37.00   0.0  -39.00   0.00
off_max    36     0.00   0.00    6.00  -6.00    0.00   6.0    0.00   0.00
           38     0.00  27.00    0.00  55.00    7.00   0.0    4.00  52.00
           42    11.00  56.00  -19.00   0.00   -4.00  57.0  -23.00  58.00
           43     0.00   0.00  -21.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00  -16.00   0.00    0.00   0.0    0.00   0.00
           51    23.00   0.00   19.00   0.00   12.00   0.0   11.00   0.00
off_median 36     0.00   0.00  -26.00 -13.50    0.00   6.0    0.00   0.00
           38     0.00  -5.00    0.00  31.00  -15.00   0.0  -12.50  12.00
           42   -26.00  54.00  -43.00   0.00  -31.50  57.0  -39.00  58.00
           43     0.00   0.00  -21.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00  -33.00   0.00    0.00   0.0    0.00   0.00
           51     0.00   0.00    2.00   0.00  -11.50   0.0   -5.50   0.00
off_mean   36     0.00   0.00  -25.87 -17.33    0.00   6.0    0.00   0.00
           38     0.00  -4.94    0.00  31.00  -11.25   0.0  -15.75   9.74
           42   -24.71  53.67  -39.46   0.00  -30.31  57.0  -41.54  58.00
           43     0.00   0.00  -21.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00  -28.67   0.00    0.00   0.0    0.00   0.00
           51    -2.00   0.00   -0.08   0.00   -9.88   0.0   -7.38   0.00
off_iqr    36     0.00   0.00   28.00  10.00    0.00   0.0    0.00   0.00
           38     0.00  20.00    0.00   0.00   15.50   0.0   31.50  42.50
           42    15.00   2.50   14.00   0.00   16.00   0.0   18.00   0.00
           43     0.00   0.00    0.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00   10.50   0.00    0.00   0.0    0.00   0.00
           51    18.00   0.00   14.00   0.00   18.00   0.0   24.00   0.00
off_std    36     0.00   0.00   18.63  13.35    0.00   0.0    0.00   0.00
           38     0.00  16.77    0.00  33.94   10.73   0.0   17.49  27.05
           42    15.72   2.52   11.51   0.00   12.87   0.0   11.45   0.00
           49     0.00   0.00   11.15   0.00    0.00   0.0    0.00   0.00
           51    14.54   0.00   13.26   0.00   12.27   0.0   14.75   0.00
vel_min    36     0.00   0.00   46.00  48.00    0.00  52.0    0.00   0.00
           38     0.00  16.00    0.00   8.00   89.00   0.0   94.00  30.00
           42     0.00  22.00   20.00   0.00   75.00  42.0   17.00  25.00
           43     0.00   0.00  127.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00   55.00   0.00    0.00   0.0    0.00   0.00
           51     0.00   0.00   36.00   0.00   33.00   0.0   39.00   0.00
vel_max    36     0.00   0.00  127.00  65.00    0.00  52.0    0.00   0.00
           38     0.00  42.00    0.00  34.00  114.00   0.0  116.00  46.00
           42    82.00  47.00   62.00   0.00   87.00  42.0   65.00  25.00
           43     0.00   0.00  127.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00   84.00   0.00    0.00   0.0    0.00   0.00
           51    64.00   0.00   56.00   0.00   73.00   0.0   83.00   0.00
vel_median 36     0.00   0.00   59.00  56.50    0.00  52.0    0.00   0.00
           38     0.00  33.00    0.00  21.00  101.50   0.0  111.50  37.00
           42    77.00  42.00   42.00   0.00   80.00  42.0   52.00  25.00
           43     0.00   0.00  127.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00   61.00   0.00    0.00   0.0    0.00   0.00
           51    52.00   0.00   46.00   0.00   54.00   0.0   51.50   0.00
vel_mean   36     0.00   0.00   64.53  56.50    0.00  52.0    0.00   0.00
           38     0.00  30.65    0.00  21.00  102.00   0.0  109.00  36.47
           42    72.18  37.00   42.31   0.00   80.12  42.0   46.00  25.00
           43     0.00   0.00  127.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00   66.67   0.00    0.00   0.0    0.00   0.00
           51    49.41   0.00   45.83   0.00   55.19   0.0   54.81   0.00
vel_iqr    36     0.00   0.00   24.00   6.00    0.00   0.0    0.00   0.00
           38     0.00   9.00    0.00   0.00   19.00   0.0    9.50   7.50
           42     2.00  12.50   17.00   0.00    5.00   0.0   17.00   0.00
           43     0.00   0.00    0.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00   14.50   0.00    0.00   0.0    0.00   0.00
           51     9.00   0.00    8.00   0.00   14.50   0.0   18.50   0.00
vel_std    36     0.00   0.00   21.73   6.02    0.00   0.0    0.00   0.00
           38     0.00   7.03    0.00  18.38   10.04   0.0    7.37   4.59
           42    18.82  13.23   13.33   0.00    3.77   0.0   15.96   0.00
           49     0.00   0.00   15.31   0.00    0.00   0.0    0.00   0.00
           51    15.25   0.00    5.84   0.00   11.03   0.0   14.61   0.00

**Flesh out missing metric placeholders.**
Note this helps when there are some metric positions that don't have any beats, it'll insert columns that are missing, filling with zeros.

In [0]:
stats_2 = stats_2.reindex(columns=full_col_list, fill_value=0)
stats_2

bar_beat_number     1      2       3      4       5      6      7       8   \
           note
hits       36    12.00   0.00   16.00   4.00    0.00   0.00   0.00    0.00
           38    10.00   5.00    0.00   0.00   16.00   0.00   0.00   16.00
           42    15.00   2.00   11.00   0.00   16.00   2.00  14.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     1.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    16.00   0.00   16.00   3.00   16.00   0.00  16.00    0.00
off_min    36   -25.00   0.00  -29.00 -20.00    0.00   0.00   0.00    0.00
           38   -58.00 -38.00    0.00   0.00  -24.00   0.00   0.00  -44.00
           42   -60.00  45.00  -52.00   0.00  -57.00  54.00 -54.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     3.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51   -29.00   0.00  -41.00 -12.00  -30.00   0.00 -29.00    0.00
off_max    36    10.00   0.00    6.00   5.00    0.00   0.00   0.00    0.00
           38    55.00  -3.00    0.00   0.00   16.00   0.00   0.00   10.00
           42   -10.00  58.00  -21.00   0.00   -2.00  55.00 -16.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     3.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    13.00   0.00   11.00  -6.00   20.00   0.00  27.00    0.00
off_median 36    -8.00   0.00  -10.00  -8.50    0.00   0.00   0.00    0.00
           38   -41.00 -18.00    0.00   0.00   -6.00   0.00   0.00  -12.00
           42   -30.00  51.50  -40.00   0.00  -20.00  54.50 -37.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     3.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    -2.50   0.00  -11.50  -8.00   -2.00   0.00   3.50    0.00
off_mean   36    -9.25   0.00  -10.56  -8.00    0.00   0.00   0.00    0.00
           38   -20.80 -21.40    0.00   0.00   -4.94   0.00   0.00  -11.69
           42   -28.93  51.50  -37.36   0.00  -24.38  54.50 -35.57    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     3.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    -2.94   0.00  -11.06  -8.67   -3.69   0.00   1.38    0.00
off_iqr    36    18.00   0.00   17.00  21.00    0.00   0.00   0.00    0.00
           38    39.00  22.00    0.00   0.00   10.50   0.00   0.00   18.50
           42    21.00   0.00   12.50   0.00   12.00   0.00   9.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    16.50   0.00   14.00   3.00    9.50   0.00  14.50    0.00
off_std    36    12.14   0.00   10.75  12.36    0.00   0.00   0.00    0.00
           38    42.20  14.84    0.00   0.00   10.04   0.00   0.00   14.99
           42    14.13   9.19    9.87   0.00   14.01   0.71  10.30    0.00
           49     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    10.83   0.00   12.40   3.06   12.21   0.00  12.88    0.00
vel_min    36    50.00   0.00   42.00  48.00    0.00   0.00   0.00    0.00
           38    23.00  30.00    0.00   0.00   88.00   0.00   0.00   32.00
           42    70.00  35.00   20.00   0.00   75.00  45.00  17.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49    60.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    38.00   0.00   31.00  39.00   48.00   0.00  36.00    0.00
vel_max    36    69.00   0.00  125.00  57.00    0.00   0.00   0.00    0.00
           38    34.00  39.00    0.00   0.00  111.00   0.00   0.00  117.00
           42    82.00  55.00   60.00   0.00   85.00  62.00  67.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49    60.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    60.00   0.00   51.00  49.00   71.00   0.00  48.00    0.00
vel_median 36    61.50   0.00   60.50  54.50    0.00   0.00   0.00    0.00
           38    29.50  38.00    0.00   0.00  101.00   0.00   0.00   97.50
           42    77.00  45.00   50.00   0.00   81.00  53.50  48.50    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49    60.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    51.00   0.00   45.00  45.00   57.50   0.00  42.50    0.00
vel_mean   36    60.50   0.00   61.50  53.50    0.00   0.00   0.00    0.00
           38    28.80  35.40    0.00   0.00  100.06   0.00   0.00   88.44
           42    77.07  45.00   45.18   0.00   81.25  53.50  47.71    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49    60.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51    50.50   0.00   44.31  44.33   57.81   0.00  42.25    0.00
vel_iqr    36     8.00   0.00    9.00   5.00    0.00   0.00   0.00    0.00
           38     8.00   6.00    0.00   0.00    9.00   0.00   0.00   17.50
           42     5.00   0.00   11.00   0.00    3.50   0.00  17.00    0.00
           43     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           49     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51     9.50   0.00    8.00   5.00    9.50   0.00   6.00    0.00
vel_std    36     5.45   0.00   18.30   3.87    0.00   0.00   0.00    0.00
           38     4.49   4.10    0.00   0.00    6.48   0.00   0.00   23.66
           42     3.71  14.14   13.72   0.00    2.89  12.02  12.96    0.00
           49     0.00   0.00    0.00   0.00    0.00   0.00   0.00    0.00
           51     6.49   0.00    5.40   5.03    7.00   0.00   3.84    0.00

bar_beat_number     9      10      11     12      13    14      15     16
           note
hits       36     0.00   0.00   15.00   6.00    0.00   1.0    0.00   0.00
           38     0.00  17.00    0.00   2.00    8.00   0.0    8.00  19.00
           42    17.00   3.00   13.00   0.00   16.00   1.0   13.00   1.00
           43     0.00   0.00    1.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00    3.00   0.00    0.00   0.0    0.00   0.00
           51    17.00   0.00   12.00   0.00   16.00   0.0   16.00   0.00
off_min    36     0.00   0.00  -54.00 -42.00    0.00   6.0    0.00   0.00
           38     0.00 -28.00    0.00   7.00  -24.00   0.0  -40.00 -43.00
           42   -52.00  51.00  -54.00   0.00  -50.00  57.0  -57.00  58.00
           43     0.00   0.00  -21.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00  -37.00   0.00    0.00   0.0    0.00   0.00
           51   -33.00   0.00  -32.00   0.00  -37.00   0.0  -39.00   0.00
off_max    36     0.00   0.00    6.00  -6.00    0.00   6.0    0.00   0.00
           38     0.00  27.00    0.00  55.00    7.00   0.0    4.00  52.00
           42    11.00  56.00  -19.00   0.00   -4.00  57.0  -23.00  58.00
           43     0.00   0.00  -21.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00  -16.00   0.00    0.00   0.0    0.00   0.00
           51    23.00   0.00   19.00   0.00   12.00   0.0   11.00   0.00
off_median 36     0.00   0.00  -26.00 -13.50    0.00   6.0    0.00   0.00
           38     0.00  -5.00    0.00  31.00  -15.00   0.0  -12.50  12.00
           42   -26.00  54.00  -43.00   0.00  -31.50  57.0  -39.00  58.00
           43     0.00   0.00  -21.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00  -33.00   0.00    0.00   0.0    0.00   0.00
           51     0.00   0.00    2.00   0.00  -11.50   0.0   -5.50   0.00
off_mean   36     0.00   0.00  -25.87 -17.33    0.00   6.0    0.00   0.00
           38     0.00  -4.94    0.00  31.00  -11.25   0.0  -15.75   9.74
           42   -24.71  53.67  -39.46   0.00  -30.31  57.0  -41.54  58.00
           43     0.00   0.00  -21.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00  -28.67   0.00    0.00   0.0    0.00   0.00
           51    -2.00   0.00   -0.08   0.00   -9.88   0.0   -7.38   0.00
off_iqr    36     0.00   0.00   28.00  10.00    0.00   0.0    0.00   0.00
           38     0.00  20.00    0.00   0.00   15.50   0.0   31.50  42.50
           42    15.00   2.50   14.00   0.00   16.00   0.0   18.00   0.00
           43     0.00   0.00    0.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00   10.50   0.00    0.00   0.0    0.00   0.00
           51    18.00   0.00   14.00   0.00   18.00   0.0   24.00   0.00
off_std    36     0.00   0.00   18.63  13.35    0.00   0.0    0.00   0.00
           38     0.00  16.77    0.00  33.94   10.73   0.0   17.49  27.05
           42    15.72   2.52   11.51   0.00   12.87   0.0   11.45   0.00
           49     0.00   0.00   11.15   0.00    0.00   0.0    0.00   0.00
           51    14.54   0.00   13.26   0.00   12.27   0.0   14.75   0.00
vel_min    36     0.00   0.00   46.00  48.00    0.00  52.0    0.00   0.00
           38     0.00  16.00    0.00   8.00   89.00   0.0   94.00  30.00
           42     0.00  22.00   20.00   0.00   75.00  42.0   17.00  25.00
           43     0.00   0.00  127.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00   55.00   0.00    0.00   0.0    0.00   0.00
           51     0.00   0.00   36.00   0.00   33.00   0.0   39.00   0.00
vel_max    36     0.00   0.00  127.00  65.00    0.00  52.0    0.00   0.00
           38     0.00  42.00    0.00  34.00  114.00   0.0  116.00  46.00
           42    82.00  47.00   62.00   0.00   87.00  42.0   65.00  25.00
           43     0.00   0.00  127.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00   84.00   0.00    0.00   0.0    0.00   0.00
           51    64.00   0.00   56.00   0.00   73.00   0.0   83.00   0.00
vel_median 36     0.00   0.00   59.00  56.50    0.00  52.0    0.00   0.00
           38     0.00  33.00    0.00  21.00  101.50   0.0  111.50  37.00
           42    77.00  42.00   42.00   0.00   80.00  42.0   52.00  25.00
           43     0.00   0.00  127.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00   61.00   0.00    0.00   0.0    0.00   0.00
           51    52.00   0.00   46.00   0.00   54.00   0.0   51.50   0.00
vel_mean   36     0.00   0.00   64.53  56.50    0.00  52.0    0.00   0.00
           38     0.00  30.65    0.00  21.00  102.00   0.0  109.00  36.47
           42    72.18  37.00   42.31   0.00   80.12  42.0   46.00  25.00
           43     0.00   0.00  127.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00   66.67   0.00    0.00   0.0    0.00   0.00
           51    49.41   0.00   45.83   0.00   55.19   0.0   54.81   0.00
vel_iqr    36     0.00   0.00   24.00   6.00    0.00   0.0    0.00   0.00
           38     0.00   9.00    0.00   0.00   19.00   0.0    9.50   7.50
           42     2.00  12.50   17.00   0.00    5.00   0.0   17.00   0.00
           43     0.00   0.00    0.00   0.00    0.00   0.0    0.00   0.00
           49     0.00   0.00   14.50   0.00    0.00   0.0    0.00   0.00
           51     9.00   0.00    8.00   0.00   14.50   0.0   18.50   0.00
vel_std    36     0.00   0.00   21.73   6.02    0.00   0.0    0.00   0.00
           38     0.00   7.03    0.00  18.38   10.04   0.0    7.37   4.59
           42    18.82  13.23   13.33   0.00    3.77   0.0   15.96   0.00
           49     0.00   0.00   15.31   0.00    0.00   0.0    0.00   0.00
           51    15.25   0.00    5.84   0.00   11.03   0.0   14.61   0.00

## Completed stats matrix (v3): multiple stats df, one for each instrument

In [0]:
keys=stats_2.index.unique(level=1)._data

In [0]:
keys

array([36, 38, 42, 43, 49, 51])

In [0]:

for i in keys:
  print('\n\n >>>> Showing stats for instrument: {}'.format(instrument_map[i]))
  #stats_2[stats_2.index.isin([i], level=1)]#.droplevel('note')
  stats_2[stats_2.index.isin([i], level=1)].droplevel('note')

 >>>> Showing stats for instrument: Bass Drum 1 (36)

bar_beat_number,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
hits,12.00,0.0,16.00,4.00,0.0,0.0,0.0,0.0,0.0,0.0,15.00,6.00,0.0,1.0,0.0,0.0
off_min,-25.00,0.0,-29.00,-20.00,0.0,0.0,0.0,0.0,0.0,0.0,-54.00,-42.00,0.0,6.0,0.0,0.0
off_max,10.00,0.0,6.00,5.00,0.0,0.0,0.0,0.0,0.0,0.0,6.00,-6.00,0.0,6.0,0.0,0.0
off_median,-8.00,0.0,-10.00,-8.50,0.0,0.0,0.0,0.0,0.0,0.0,-26.00,-13.50,0.0,6.0,0.0,0.0
off_mean,-9.25,0.0,-10.56,-8.00,0.0,0.0,0.0,0.0,0.0,0.0,-25.87,-17.33,0.0,6.0,0.0,0.0
off_iqr,18.00,0.0,17.00,21.00,0.0,0.0,0.0,0.0,0.0,0.0,28.00,10.00,0.0,0.0,0.0,0.0
off_std,12.14,0.0,10.75,12.36,0.0,0.0,0.0,0.0,0.0,0.0,18.63,13.35,0.0,0.0,0.0,0.0
vel_min,50.00,0.0,42.00,48.00,0.0,0.0,0.0,0.0,0.0,0.0,46.00,48.00,0.0,52.0,0.0,0.0
vel_max,69.00,0.0,125.00,57.00,0.0,0.0,0.0,0.0,0.0,0.0,127.00,65.00,0.0,52.0,0.0,0.0
vel_median,61.50,0.0,60.50,54.50,0.0,0.0,0.0,0.0,0.0,0.0,59.00,56.50,0.0,52.0,0.0,0.0
vel_mean,60.50,0.0,61.50,53.50,0.0,0.0,0.0,0.0,0.0,0.0,64.53,56.50,0.0,52.0,0.0,0.0
vel_iqr,8.00,0.0,9.00,5.00,0.0,0.0,0.0,0.0,0.0,0.0,24.00,6.00,0.0,0.0,0.0,0.0
vel_std,5.45,0.0,18.30,3.87,0.0,0.0,0.0,0.0,0.0,0.0,21.73,6.02,0.0,0.0,0.0,0.0

 >>>> Showing stats for instrument: Acoustic Snare (38)

bar_beat_number,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
hits,10.00,5.00,0.0,0.0,16.00,0.0,0.0,16.00,0.0,17.00,0.0,2.00,8.00,0.0,8.00,19.00
off_min,-58.00,-38.00,0.0,0.0,-24.00,0.0,0.0,-44.00,0.0,-28.00,0.0,7.00,-24.00,0.0,-40.00,-43.00
off_max,55.00,-3.00,0.0,0.0,16.00,0.0,0.0,10.00,0.0,27.00,0.0,55.00,7.00,0.0,4.00,52.00
off_median,-41.00,-18.00,0.0,0.0,-6.00,0.0,0.0,-12.00,0.0,-5.00,0.0,31.00,-15.00,0.0,-12.50,12.00
off_mean,-20.80,-21.40,0.0,0.0,-4.94,0.0,0.0,-11.69,0.0,-4.94,0.0,31.00,-11.25,0.0,-15.75,9.74
off_iqr,39.00,22.00,0.0,0.0,10.50,0.0,0.0,18.50,0.0,20.00,0.0,0.00,15.50,0.0,31.50,42.50
off_std,42.20,14.84,0.0,0.0,10.04,0.0,0.0,14.99,0.0,16.77,0.0,33.94,10.73,0.0,17.49,27.05
vel_min,23.00,30.00,0.0,0.0,88.00,0.0,0.0,32.00,0.0,16.00,0.0,8.00,89.00,0.0,94.00,30.00
vel_max,34.00,39.00,0.0,0.0,111.00,0.0,0.0,117.00,0.0,42.00,0.0,34.00,114.00,0.0,116.00,46.00
vel_median,29.50,38.00,0.0,0.0,101.00,0.0,0.0,97.50,0.0,33.00,0.0,21.00,101.50,0.0,111.50,37.00
vel_mean,28.80,35.40,0.0,0.0,100.06,0.0,0.0,88.44,0.0,30.65,0.0,21.00,102.00,0.0,109.00,36.47
vel_iqr,8.00,6.00,0.0,0.0,9.00,0.0,0.0,17.50,0.0,9.00,0.0,0.00,19.00,0.0,9.50,7.50
vel_std,4.49,4.10,0.0,0.0,6.48,0.0,0.0,23.66,0.0,7.03,0.0,18.38,10.04,0.0,7.37,4.59

 >>>> Showing stats for instrument: Closed Hi Hat (42)

bar_beat_number,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
hits,15.00,2.00,11.00,0.0,16.00,2.00,14.00,0.0,17.00,3.00,13.00,0.0,16.00,1.0,13.00,1.0
off_min,-60.00,45.00,-52.00,0.0,-57.00,54.00,-54.00,0.0,-52.00,51.00,-54.00,0.0,-50.00,57.0,-57.00,58.0
off_max,-10.00,58.00,-21.00,0.0,-2.00,55.00,-16.00,0.0,11.00,56.00,-19.00,0.0,-4.00,57.0,-23.00,58.0
off_median,-30.00,51.50,-40.00,0.0,-20.00,54.50,-37.00,0.0,-26.00,54.00,-43.00,0.0,-31.50,57.0,-39.00,58.0
off_mean,-28.93,51.50,-37.36,0.0,-24.38,54.50,-35.57,0.0,-24.71,53.67,-39.46,0.0,-30.31,57.0,-41.54,58.0
off_iqr,21.00,0.00,12.50,0.0,12.00,0.00,9.00,0.0,15.00,2.50,14.00,0.0,16.00,0.0,18.00,0.0
off_std,14.13,9.19,9.87,0.0,14.01,0.71,10.30,0.0,15.72,2.52,11.51,0.0,12.87,0.0,11.45,0.0
vel_min,70.00,35.00,20.00,0.0,75.00,45.00,17.00,0.0,0.00,22.00,20.00,0.0,75.00,42.0,17.00,25.0
vel_max,82.00,55.00,60.00,0.0,85.00,62.00,67.00,0.0,82.00,47.00,62.00,0.0,87.00,42.0,65.00,25.0
vel_median,77.00,45.00,50.00,0.0,81.00,53.50,48.50,0.0,77.00,42.00,42.00,0.0,80.00,42.0,52.00,25.0
vel_mean,77.07,45.00,45.18,0.0,81.25,53.50,47.71,0.0,72.18,37.00,42.31,0.0,80.12,42.0,46.00,25.0
vel_iqr,5.00,0.00,11.00,0.0,3.50,0.00,17.00,0.0,2.00,12.50,17.00,0.0,5.00,0.0,17.00,0.0
vel_std,3.71,14.14,13.72,0.0,2.89,12.02,12.96,0.0,18.82,13.23,13.33,0.0,3.77,0.0,15.96,0.0

 >>>> Showing stats for instrument: High Floor Tom (43)

bar_beat_number,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
hits,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
off_min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-21.0,0.0,0.0,0.0,0.0,0.0
off_max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-21.0,0.0,0.0,0.0,0.0,0.0
off_median,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-21.0,0.0,0.0,0.0,0.0,0.0
off_mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-21.0,0.0,0.0,0.0,0.0,0.0
off_iqr,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
vel_min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,127.0,0.0,0.0,0.0,0.0,0.0
vel_max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,127.0,0.0,0.0,0.0,0.0,0.0
vel_median,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,127.0,0.0,0.0,0.0,0.0,0.0
vel_mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,127.0,0.0,0.0,0.0,0.0,0.0
vel_iqr,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

 >>>> Showing stats for instrument: Crash Cymbal 1 (49)

bar_beat_number,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
hits,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.00,0.0,0.0,0.0,0.0,0.0
off_min,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-37.00,0.0,0.0,0.0,0.0,0.0
off_max,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-16.00,0.0,0.0,0.0,0.0,0.0
off_median,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-33.00,0.0,0.0,0.0,0.0,0.0
off_mean,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-28.67,0.0,0.0,0.0,0.0,0.0
off_iqr,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.50,0.0,0.0,0.0,0.0,0.0
off_std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.15,0.0,0.0,0.0,0.0,0.0
vel_min,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55.00,0.0,0.0,0.0,0.0,0.0
vel_max,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84.00,0.0,0.0,0.0,0.0,0.0
vel_median,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.00,0.0,0.0,0.0,0.0,0.0
vel_mean,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66.67,0.0,0.0,0.0,0.0,0.0
vel_iqr,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.50,0.0,0.0,0.0,0.0,0.0
vel_std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.31,0.0,0.0,0.0,0.0,0.0

 >>>> Showing stats for instrument: Ride Cymbal 1 (51)

bar_beat_number,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
hits,16.00,0.0,16.00,3.00,16.00,0.0,16.00,0.0,17.00,0.0,12.00,0.0,16.00,0.0,16.00,0.0
off_min,-29.00,0.0,-41.00,-12.00,-30.00,0.0,-29.00,0.0,-33.00,0.0,-32.00,0.0,-37.00,0.0,-39.00,0.0
off_max,13.00,0.0,11.00,-6.00,20.00,0.0,27.00,0.0,23.00,0.0,19.00,0.0,12.00,0.0,11.00,0.0
off_median,-2.50,0.0,-11.50,-8.00,-2.00,0.0,3.50,0.0,0.00,0.0,2.00,0.0,-11.50,0.0,-5.50,0.0
off_mean,-2.94,0.0,-11.06,-8.67,-3.69,0.0,1.38,0.0,-2.00,0.0,-0.08,0.0,-9.88,0.0,-7.38,0.0
off_iqr,16.50,0.0,14.00,3.00,9.50,0.0,14.50,0.0,18.00,0.0,14.00,0.0,18.00,0.0,24.00,0.0
off_std,10.83,0.0,12.40,3.06,12.21,0.0,12.88,0.0,14.54,0.0,13.26,0.0,12.27,0.0,14.75,0.0
vel_min,38.00,0.0,31.00,39.00,48.00,0.0,36.00,0.0,0.00,0.0,36.00,0.0,33.00,0.0,39.00,0.0
vel_max,60.00,0.0,51.00,49.00,71.00,0.0,48.00,0.0,64.00,0.0,56.00,0.0,73.00,0.0,83.00,0.0
vel_median,51.00,0.0,45.00,45.00,57.50,0.0,42.50,0.0,52.00,0.0,46.00,0.0,54.00,0.0,51.50,0.0
vel_mean,50.50,0.0,44.31,44.33,57.81,0.0,42.25,0.0,49.41,0.0,45.83,0.0,55.19,0.0,54.81,0.0
vel_iqr,9.50,0.0,8.00,5.00,9.50,0.0,6.00,0.0,9.00,0.0,8.00,0.0,14.50,0.0,18.50,0.0
vel_std,6.49,0.0,5.40,5.03,7.00,0.0,3.84,0.0,15.25,0.0,5.84,0.0,11.03,0.0,14.61,0.0

# Initial review of data above

## Checking results

Was a bit concerned about just accepting I did everthing above correctly, wondered about running some checks. e.g. I'm seeing some output showing that IQR > standard deviation for some data. I'd thought it should always be smaller, but after a google turned up this ..
* https://stats.stackexchange.com/questions/439020/can-iqr-ever-be-larger-than-standard-deviation

**DataFrameGroupBy.describe**
After doing all the work above, I discovered that 'DataFrameGroupBy.describe' does it all for you, d'oh... It was useful to pick some of the summary stats I gathered from the data manually to compare my results to the system 'describe' function - I explored some randomly, and everyone I looked into checked out and tallied with it.

Note in the output below, IQR = 75%-25%. Median = 50%, which helps match up the data with the headers I used in the DIY stats above.

In [0]:
stats_tmp = stats_df.groupby(by=['bar_beat_number', 'note']).describe()
# stats_tmp.to_csv('/content/drive/My Drive/stats_tmp.csv')
stats_tmp

                     velocity                                               \
                        count        mean        std    min     25%    50%
bar_beat_number note
1               36       12.0   60.500000   5.452272   50.0   56.50   61.5
                38       10.0   28.800000   4.491968   23.0   25.00   29.5
                42       15.0   77.066667   3.712271   70.0   75.00   77.0
                49        1.0   60.000000        NaN   60.0   60.00   60.0
                51       16.0   50.500000   6.491019   38.0   45.75   51.0
2               38        5.0   35.400000   4.098780   30.0   32.00   38.0
                42        2.0   45.000000  14.142136   35.0   40.00   45.0
3               36       16.0   61.500000  18.297541   42.0   55.25   60.5
                42       11.0   45.181818  13.724563   20.0   41.00   50.0
                51       16.0   44.312500   5.400231   31.0   41.00   45.0
4               36        4.0   53.500000   3.872983   48.0   52.50   54.5
                51        3.0   44.333333   5.033223   39.0   42.00   45.0
5               38       16.0  100.062500   6.475273   88.0   96.25  101.0
                42       16.0   81.250000   2.886751   75.0   80.00   81.0
                51       16.0   57.812500   6.997321   48.0   52.50   57.5
6               42        2.0   53.500000  12.020815   45.0   49.25   53.5
7               42       14.0   47.714286  12.958090   17.0   40.00   48.5
                51       16.0   42.250000   3.838402   36.0   39.50   42.5
8               38       16.0   88.437500  23.664231   32.0   85.25   97.5
9               42       17.0   72.176471  18.822312    0.0   75.00   77.0
                51       17.0   49.411765  15.248192    0.0   49.00   52.0
10              38       17.0   30.647059   7.026211   16.0   27.00   33.0
                42        3.0   37.000000  13.228757   22.0   32.00   42.0
11              36       15.0   64.533333  21.728410   46.0   48.00   59.0
                42       13.0   42.307692  13.325318   20.0   35.00   42.0
                43        1.0  127.000000        NaN  127.0  127.00  127.0
                49        3.0   66.666667  15.307950   55.0   58.00   61.0
                51       12.0   45.833333   5.843930   36.0   42.00   46.0
12              36        6.0   56.500000   6.024948   48.0   53.25   56.5
                38        2.0   21.000000  18.384776    8.0   14.50   21.0
13              38        8.0  102.000000  10.042766   89.0   94.50  101.5
                42       16.0   80.125000   3.774917   75.0   77.00   80.0
                51       16.0   55.187500  11.028561   33.0   49.00   54.0
14              36        1.0   52.000000        NaN   52.0   52.00   52.0
                42        1.0   42.000000        NaN   42.0   42.00   42.0
15              38        8.0  109.000000   7.367884   94.0  105.00  111.5
                42       13.0   46.000000  15.963500   17.0   40.00   52.0
                51       16.0   54.812500  14.611497   39.0   44.75   51.5
16              38       19.0   36.473684   4.587040   30.0   32.50   37.0
                42        1.0   25.000000        NaN   25.0   25.00   25.0

                                    beat_offset                              \
                         75%    max       count       mean        std   min
bar_beat_number note
1               36     64.00   69.0        12.0  -9.250000  12.144022 -25.0
                38     33.00   34.0        10.0 -20.800000  42.202686 -58.0
                42     80.00   82.0        15.0 -28.933333  14.129335 -60.0
                49     60.00   60.0         1.0   3.000000        NaN   3.0
                51     55.00   60.0        16.0  -2.937500  10.828781 -29.0
2               38     38.00   39.0         5.0 -21.400000  14.842507 -38.0
                42     50.00   55.0         2.0  51.500000   9.192388  45.0
3               36     62.25  125.0        16.0 -10.562500  10.745348 -29.0
                42     52.00   60.0        11.0 -37.363636   9.871907 -52.0
                51     49.00   51.0        16.0 -11.062500  12.401445 -41.0
4               36     55.50   57.0         4.0  -8.000000  12.355835 -20.0
                51     47.00   49.0         3.0  -8.666667   3.055050 -12.0
5               38    104.25  111.0        16.0  -4.937500  10.043032 -24.0
                42     82.75   85.0        16.0 -24.375000  14.013684 -57.0
                51     60.75   71.0        16.0  -3.687500  12.213210 -30.0
6               42     57.75   62.0         2.0  54.500000   0.707107  54.0
7               42     57.00   67.0        14.0 -35.571429  10.300965 -54.0
                51     45.00   48.0        16.0   1.375000  12.878276 -29.0
8               38    102.00  117.0        16.0 -11.687500  14.987634 -44.0
9               42     77.00   82.0        17.0 -24.705882  15.723250 -52.0
                51     58.00   64.0        17.0  -2.000000  14.543040 -33.0
10              38     36.00   42.0        17.0  -4.941176  16.772264 -28.0
                42     44.50   47.0         3.0  53.666667   2.516611  51.0
11              36     72.00  127.0        15.0 -25.866667  18.627425 -54.0
                42     52.00   62.0        13.0 -39.461538  11.508080 -54.0
                43    127.00  127.0         1.0 -21.000000        NaN -21.0
                49     72.50   84.0         3.0 -28.666667  11.150486 -37.0
                51     49.50   56.0        12.0  -0.083333  13.255931 -32.0
12              36     59.75   65.0         6.0 -17.333333  13.351654 -42.0
                38     27.50   34.0         2.0  31.000000  33.941125   7.0
13              38    111.00  114.0         8.0 -11.250000  10.727135 -24.0
                42     82.00   87.0        16.0 -30.312500  12.872289 -50.0
                51     63.25   73.0        16.0  -9.875000  12.268523 -37.0
14              36     52.00   52.0         1.0   6.000000        NaN   6.0
                42     42.00   42.0         1.0  57.000000        NaN  57.0
15              38    114.25  116.0         8.0 -15.750000  17.490814 -40.0
                42     57.00   65.0        13.0 -41.538462  11.450003 -57.0
                51     61.00   83.0        16.0  -7.375000  14.750706 -39.0
16              38     40.00   46.0        19.0   9.736842  27.046959 -43.0
                42     25.00   25.0         1.0  58.000000        NaN  58.0


                        25%   50%    75%   max
bar_beat_number note
1               36   -19.25  -8.0  -3.25  10.0
                38   -50.00 -41.0  -1.50  55.0
                42   -39.00 -30.0 -18.00 -10.0
                49     3.00   3.0   3.00   3.0
                51    -9.50  -2.5   6.25  13.0
2               38   -35.00 -18.0 -13.00  -3.0
                42    48.25  51.5  54.75  58.0
3               36   -16.75 -10.0  -2.75   6.0
                42   -43.00 -40.0 -30.50 -21.0
                51   -15.25 -11.5  -1.75  11.0
4               36   -17.75  -8.5   1.25   5.0
                51   -10.00  -8.0  -7.00  -6.0
5               38    -8.50  -6.0   0.25  16.0
                42   -30.50 -20.0 -19.00  -2.0
                51    -6.25  -2.0   1.00  20.0
6               42    54.25  54.5  54.75  55.0
7               42   -40.50 -37.0 -30.50 -16.0
                51    -5.00   3.5   7.75  27.0
8               38   -18.00 -12.0  -0.75  10.0
9               42   -33.00 -26.0 -18.00  11.0
                51   -12.00   0.0   6.00  23.0
10              38   -15.00  -5.0   5.00  27.0
                42    52.50  54.0  55.00  56.0
11              36   -40.00 -26.0 -12.00   6.0
                42   -46.00 -43.0 -32.00 -19.0
                43   -21.00 -21.0 -21.00 -21.0
                49   -35.00 -33.0 -24.50 -16.0
                51    -6.50   2.0   6.00  19.0
12              36   -20.00 -13.5  -8.50  -6.0
                38    19.00  31.0  43.00  55.0
13              38   -18.25 -15.0  -5.00   7.0
                42   -37.75 -31.5 -23.75  -4.0
                51   -18.00 -11.5   0.00  12.0
14              36     6.00   6.0   6.00   6.0
                42    57.00  57.0  57.00  57.0
15              38   -32.00 -12.5  -1.25   4.0
                42   -54.00 -39.0 -36.00 -23.0
                51   -15.25  -5.5   6.25  11.0
16              38   -11.00  12.0  31.50  52.0
                42    58.00  58.0  58.00  58.0

## Formatting output

I found the following useful looking doc on formatting DF output to make it prettier, or highlight certain, rows/ cells, etc.

* https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html