<a href="https://colab.research.google.com/github/curtiscu/LYIT/blob/master/MiscTestingStuff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scratchpad notebook

Copy anything you want to save out of here if you want to keep it!!!

# Setup env

In [0]:
# print all cell output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Google drive access

In [2]:
# mount google drive

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
# test, peek at data
! ls -al '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/'

# test, modules from local  'E:\Google Drive\LYIT\Dissertation\modules'
! ls -al '/content/drive/My Drive/LYIT/Dissertation/modules/'

total 35
-rw------- 1 root root 2589 Apr 27 12:01 10_soul-groove10_102_beat_4-4.mid
-rw------- 1 root root 4793 Apr 27 12:01 1_funk-groove1_138_beat_4-4.mid
-rw------- 1 root root 3243 Apr 27 12:01 2_funk-groove2_105_beat_4-4.mid
-rw------- 1 root root 4466 Apr 27 12:01 3_soul-groove3_86_beat_4-4.mid
-rw------- 1 root root 2551 Apr 27 12:01 4_soul-groove4_80_beat_4-4.mid
-rw------- 1 root root 3798 Apr 27 12:01 5_funk-groove5_84_beat_4-4.mid
-rw------- 1 root root 3760 Apr 27 12:01 6_hiphop-groove6_87_beat_4-4.mid
-rw------- 1 root root 1894 Apr 27 12:01 7_pop-groove7_138_beat_4-4.mid
-rw------- 1 root root 2437 Apr 27 12:01 8_rock-groove8_65_beat_4-4.mid
-rw------- 1 root root 3448 Apr 27 12:01 9_soul-groove9_105_beat_4-4.mid
total 34
-rw------- 1 root root 21622 Jun  2 22:14 data_prep.py
drwx------ 2 root root  4096 Jun  2 22:14 __pycache__
-rw------- 1 root root  8416 Jun  2 21:24 visualizations.py

## Auto reload module

Now using library code I've created and saved to google drive which is automatically pushed to the cloud and made available to the colab env. The autoreload stuff below should help imports to 'reimport' to load changes to the library code.

It's not the quickest/ most reliable, so if in a hurry, brute force loading of changes by restarting the runtime.

In [0]:
# tool to auto reload modules.
%load_ext autoreload

# config to auto-reload all modules, handy to make 
# writing and testing modules much easier.
%autoreload 2

## Imports and accessing lib functions

In [5]:
# install required libs
!pip install mido

Requirement already satisfied: mido in /usr/local/lib/python3.6/dist-packages (1.2.9)

In [6]:
# import my modules
import sys
sys.path.append('/content/drive/My Drive/LYIT/Dissertation/modules/')
import data_prep

LOADING custom module, when: 2020-06-02 22:16:55.543340, module name: data_prep

In [0]:
# imports
import pandas as pd
import math
import matplotlib.pyplot as plt
import numpy as np


# object that provides colours for charts
from itertools import cycle

In [8]:
# testing auto reload of modules 
data_prep.test_function_call('bling2')

Test function called worked! when: 2020-06-02 22:16:55.604881,  param:bling2

## Pandas display options

In [0]:
def set_pandas_display_options() -> None:
    # Ref: https://stackoverflow.com/a/52432757/
    display = pd.options.display

    display.max_columns = 1000
    display.max_rows = 2000
    display.max_colwidth = 1000
    display.width = None
    # display.precision = 2  # set as needed

set_pandas_display_options()
#pd.reset_option('all')

# Playground

In [10]:

loaded_dict = {}

my_files = []
my_files.append('/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/1_funk-groove1_138_beat_4-4.mid')
#my_files.append('/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/1_funk-groove1_138_beat_4-4.mid')
#my_files.append('/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/1_funk-groove1_138_beat_4-4.mid')
#my_files.append('/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/1_funk-groove1_138_beat_4-4.mid')

# this is a file ceated by Cubasis on iOS, it makes files of type 1 which is 
# multiple concurrent tracks, good test drive!
my_files.append('/content/drive/My Drive/LYIT/Dissertation/Midi/Midi drums.mid')

for f in my_files:
  df, _, _ = data_prep.load_file(file_name=f)
  loaded_dict[f] = df

FILE name: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/1_funk-groove1_138_beat_4-4.mid
    loaded file: <midi file '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/1_funk-groove1_138_beat_4-4.mid' type 0, 1 tracks, 1300 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=434783 time=0>
    track count: 1, tracks: [<midi track 'MIDI' 1300 messages>]
    MIDI file type: 0
    > processing track: <midi track 'MIDI' 1300 messages>
    note_on span - first tick: 3 , last tick: 30658
    good instruments: 6, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 43.0: 'High Floor Tom (43)', 49.0: 'Crash Cymbal 1 (49)', 51.0: 'Ride Cymbal 1 (51)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE name: /content/drive/My Drive/LYIT/Dissertation/Midi/Midi drums.mid
    loaded file: <midi file '/content/drive/My Drive/LYIT/Dissertation/Midi/Midi drums.mid' type 1, 2 tracks, 63 messages>
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=631579 time=0>
    track count: 2, tracks: [<midi track 'Midi drums' 4 messages>, <midi track 'AM Pop Kit 1' 59 messages>]
    MIDI file type: 1
    CAREFUL - THIS MAY BE A PROBLEM! file of type: 1
    > processing track: <midi track 'Midi drums' 4 messages>
    > processing track: <midi track 'AM Pop Kit 1' 59 messages>
    note_on span - first tick: 0 , last tick: 360
    good instruments: 3, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)'}
    bar info - bars in file: 2, bar quantize level: 16.0
    tick info - ticks per time sig beat: 48.0, ticks per quantize bin: 12

In [11]:

for n in loaded_dict.keys():
  print('Summary info for: {}'.format(n))
  loaded_dict[n].info()
  loaded_dict[n].head(20)

Summary info for: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/1_funk-groove1_138_beat_4-4.mid
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 412 entries, (6, 1, 1, 49) to (1296, 16, 16, 42)
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   track_msg_num    412 non-null    string
 1   total_ticks      412 non-null    int64
 2   note             412 non-null    int64
 3   velocity         412 non-null    int64
 4   beat_offset      412 non-null    int64
 5   beat_center      412 non-null    category
 6   bar_number       412 non-null    int64
 7   bar_beat_number  412 non-null    int64
dtypes: category(1), int64(6), string(1)
memory usage: 29.2 KB

,,,,track_msg_num,total_ticks,note,velocity,beat_offset,beat_center,bar_number,bar_beat_number
,bar_number,bar_beat_number,note,,,,,,,,
6,1,1,49,0:6,3,49,60,3,0,1,1
7,1,1,51,0:7,7,51,55,7,0,1,1
8,1,1,36,0:8,10,36,64,10,0,1,1
14,1,3,36,0:14,211,36,57,-29,240,1,3
16,1,3,51,0:16,238,51,31,-2,240,1,3
22,1,5,42,0:22,446,42,77,-34,480,1,5
23,1,5,51,0:23,467,51,54,-13,480,1,5
24,1,5,38,0:24,475,38,93,-5,480,1,5
32,1,7,42,0:32,666,42,52,-54,720,1,7
34,1,7,51,0:34,704,51,42,-16,720,1,7
38,1,8,38,0:38,828,38,33,-12,840,1,8
41,1,9,42,0:41,908,42,77,-52,960,1,9
43,1,9,51,0:43,940,51,46,-20,960,1,9
45,1,9,42,0:45,971,42,0,11,960,1,9
46,1,9,51,0:46,971,51,0,11,960,1,9
47,1,10,38,0:47,1066,38,33,-14,1080,1,10
49,1,10,42,0:50,1131,42,47,51,1080,1,10
51,1,11,36,0:51,1163,36,59,-37,1200,1,11
53,1,11,51,0:53,1168,51,42,-32,1200,1,11
61,1,13,42,0:61,1390,42,77,-50,1440,1,13

Summary info for: /content/drive/My Drive/LYIT/Dissertation/Midi/Midi drums.mid
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 27 entries, (7, 1, 1, 36) to (59, 2, 15, 36)
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   track_msg_num    27 non-null     string
 1   total_ticks      27 non-null     int64
 2   note             27 non-null     int64
 3   velocity         27 non-null     int64
 4   beat_offset      27 non-null     int64
 5   beat_center      27 non-null     category
 6   bar_number       27 non-null     int64
 7   bar_beat_number  27 non-null     int64
dtypes: category(1), int64(6), string(1)
memory usage: 2.3 KB

,,,,track_msg_num,total_ticks,note,velocity,beat_offset,beat_center,bar_number,bar_beat_number
,bar_number,bar_beat_number,note,,,,,,,,
7,1,1,36,1:4,0,36,95,0,0,1,1
8,1,1,42,1:5,0,42,94,0,0,1,1
11,1,3,42,1:8,24,42,92,0,24,1,3
13,1,5,42,1:10,48,42,54,0,48,1,5
14,1,5,38,1:11,49,38,114,1,48,1,5
17,1,7,42,1:14,73,42,71,1,72,1,7
19,1,9,42,1:16,96,42,82,0,96,1,9
22,1,11,36,1:18,120,36,101,0,120,1,11
23,1,11,42,1:19,120,42,81,0,120,1,11
26,1,13,42,1:22,144,42,94,0,144,1,13
27,1,13,38,1:23,144,38,109,0,144,1,13
30,1,15,42,1:26,168,42,92,0,168,1,15
32,2,1,36,1:28,191,36,67,-1,192,2,1
33,2,1,42,1:29,192,42,89,0,192,2,1
36,2,3,36,1:32,216,36,75,0,216,2,3
37,2,3,42,1:33,217,42,83,1,216,2,3
40,2,5,42,1:36,240,42,71,0,240,2,5
41,2,5,38,1:37,241,38,84,1,240,2,5
44,2,7,42,1:40,264,42,80,0,264,2,7
46,2,8,36,1:42,277,36,84,1,276,2,8