<a href="https://colab.research.google.com/github/curtiscu/LYIT/blob/master/MiscTestingStuff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scratchpad notebook

Copy anything you want to save out of here if you want to keep it!!!

# Setup env

In [0]:
# print all cell output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Google drive access

In [0]:
# mount google drive

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# test, peek at data
! ls -al '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/'

# test, modules from local  'E:\Google Drive\LYIT\Dissertation\modules'
! ls -al '/content/drive/My Drive/LYIT/Dissertation/modules/'

total 35
-rw------- 1 root root 2589 Apr 27 12:01 10_soul-groove10_102_beat_4-4.mid
-rw------- 1 root root 4793 Apr 27 12:01 1_funk-groove1_138_beat_4-4.mid
-rw------- 1 root root 3243 Apr 27 12:01 2_funk-groove2_105_beat_4-4.mid
-rw------- 1 root root 4466 Apr 27 12:01 3_soul-groove3_86_beat_4-4.mid
-rw------- 1 root root 2551 Apr 27 12:01 4_soul-groove4_80_beat_4-4.mid
-rw------- 1 root root 3798 Apr 27 12:01 5_funk-groove5_84_beat_4-4.mid
-rw------- 1 root root 3760 Apr 27 12:01 6_hiphop-groove6_87_beat_4-4.mid
-rw------- 1 root root 1894 Apr 27 12:01 7_pop-groove7_138_beat_4-4.mid
-rw------- 1 root root 2437 Apr 27 12:01 8_rock-groove8_65_beat_4-4.mid
-rw------- 1 root root 3448 Apr 27 12:01 9_soul-groove9_105_beat_4-4.mid
total 21
-rw------- 1 root root 16831 May 29 14:08 data_prep.py
drwx------ 2 root root  4096 May 10 13:31 __pycache__

## Auto reload module

Now using library code I've created and saved to google drive which is automatically pushed to the cloud and made available to the colab env. The autoreload stuff below should help imports to 'reimport' to load changes to the library code.

It's not the quickest/ most reliable, so if in a hurry, brute force loading of changes by restarting the runtime.

In [0]:
# tool to auto reload modules.
%load_ext autoreload

# config to auto-reload all modules, handy to make 
# writing and testing modules much easier.
%autoreload 2

## Imports and accessing lib functions

In [0]:
# install required libs
!pip install mido

Collecting mido
  Downloading https://files.pythonhosted.org/packages/20/0a/81beb587b1ae832ea6a1901dc7c6faa380e8dd154e0a862f0a9f3d2afab9/mido-1.2.9-py2.py3-none-any.whl (52kB)
     |████████████████████████████████| 61kB 1.8MB/s
Installing collected packages: mido
Successfully installed mido-1.2.9

In [0]:
# import my modules
import sys
sys.path.append('/content/drive/My Drive/LYIT/Dissertation/modules/')
import data_prep

LOADING - data_prep.py module name is: data_prep

In [0]:
# imports
import pandas as pd
import math
import matplotlib.pyplot as plt
import numpy as np


# object that provides colours for charts
from itertools import cycle

In [0]:
# testing auto reload of modules 
data_prep.test_function_call('bling2')

LOADING custom module, when: 2020-05-29 14:22:58.766060, module name: data_prep
Test function called worked! when: 2020-05-29 14:22:58.768302,  param:bling2

## Pandas display options

In [0]:
def set_pandas_display_options() -> None:
    # Ref: https://stackoverflow.com/a/52432757/
    display = pd.options.display

    display.max_columns = 1000
    display.max_rows = 2000
    display.max_colwidth = 1000
    display.width = None
    # display.precision = 2  # set as needed

set_pandas_display_options()
#pd.reset_option('all')

# Playground

In [0]:

loaded_dict = {}

my_files = []
my_files.append('/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/1_funk-groove1_138_beat_4-4.mid')
my_files.append('/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/1_funk-groove1_138_beat_4-4.mid')
my_files.append('/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/1_funk-groove1_138_beat_4-4.mid')
my_files.append('/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/1_funk-groove1_138_beat_4-4.mid')

for f in my_files:
  df = data_prep.load_file(file_name=f)
  loaded_dict[f] = df

FILE: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/1_funk-groove1_138_beat_4-4.mid
    tracks: [<midi track 'MIDI' 1300 messages>]
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=434783 time=0>
    note_on span - first tick: 3 , last tick: 30658
    good instruments: 6, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 43.0: 'High Floor Tom (43)', 49.0: 'Crash Cymbal 1 (49)', 51.0: 'Ride Cymbal 1 (51)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/1_funk-groove1_138_beat_4-4.mid
    tracks: [<midi track 'Base Midi' 1037 messages>]
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=434783 time=0>
    note_on span - first tick: 5 , last tick: 30634
    good instruments: 4, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)', 51.0: 'Ride Cymbal 1 (51)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/1_funk-groove1_138_beat_4-4.mid
    tracks: [<midi track 'Midi Drums' 521 messages>]
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=434783 time=0>
    note_on span - first tick: 0 , last tick: 30493
    good instruments: 4, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 49.0: 'Crash Cymbal 1 (49)', 51.0: 'Ride Cymbal 1 (51)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120
FILE: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/1_funk-groove1_138_beat_4-4.mid
    tracks: [<midi track 'Base Midi' 728 messages>]
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=434783 time=0>
    note_on span - first tick: 0 , last tick: 30476
    good instruments: 3, {36.0: 'Bass Drum 1 (36)', 38.0: 'Acoustic Snare (38)', 42.0: 'Closed Hi Hat (42)'}
    bar info - bars in file: 16, bar quantize level: 16.0
    tick info - ticks per time sig beat: 480.0, ticks per quantize bin: 120

In [0]:

for n in loaded_dict.keys():
  print('Summary info for: {}'.format(n))
  loaded_dict[n].head()

Summary info for: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/1_funk-groove1_138_beat_4-4.mid

,,,,total_ticks,note,velocity,beat_offset,beat_center,bar_number,bar_beat_number
,bar_number,bar_beat_number,note,,,,,,,
6,1,1,49.0,3,49.0,60.0,3,0,1,1
7,1,1,51.0,7,51.0,55.0,7,0,1,1
8,1,1,36.0,10,36.0,64.0,10,0,1,1
14,1,3,36.0,211,36.0,57.0,-29,240,1,3
16,1,3,51.0,238,51.0,31.0,-2,240,1,3

Summary info for: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/1_funk-groove1_138_beat_4-4.mid

,,,,total_ticks,note,velocity,beat_offset,beat_center,bar_number,bar_beat_number
,bar_number,bar_beat_number,note,,,,,,,
7,1,1,42.0,5,42.0,55.0,5,0,1,1
8,1,1,36.0,9,36.0,39.0,9,0,1,1
9,1,1,51.0,15,51.0,67.0,15,0,1,1
14,1,3,36.0,226,36.0,41.0,-14,240,1,3
15,1,3,51.0,258,51.0,58.0,18,240,1,3

Summary info for: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer7/eval_session/1_funk-groove1_138_beat_4-4.mid

,,,,total_ticks,note,velocity,beat_offset,beat_center,bar_number,bar_beat_number
,bar_number,bar_beat_number,note,,,,,,,
6,1,1,36.0,0,36.0,47.0,0,0,1,1
7,1,1,51.0,0,51.0,113.0,0,0,1,1
10,1,3,51.0,241,51.0,55.0,1,240,1,3
11,1,3,36.0,245,36.0,43.0,5,240,1,3
14,1,5,38.0,505,38.0,108.0,25,480,1,5

Summary info for: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer8/eval_session/1_funk-groove1_138_beat_4-4.mid

,,,,total_ticks,note,velocity,beat_offset,beat_center,bar_number,bar_beat_number
,bar_number,bar_beat_number,note,,,,,,,
6,1,1,36.0,0,36.0,67.0,0,0,1,1
8,1,1,42.0,0,42.0,40.0,0,0,1,1
11,1,3,36.0,210,36.0,64.0,-30,240,1,3
13,1,3,42.0,228,42.0,37.0,-12,240,1,3
17,1,5,42.0,468,42.0,83.0,-12,480,1,5