<a href="https://colab.research.google.com/github/curtiscu/LYIT/blob/master/Visualizations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Gathering visualizations ideas

# Setup env

In [0]:
# print all cell output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Google drive access

In [2]:
# mount google drive

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
# test, peek at data
! ls -al '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer1/eval_session/'

# test, modules from local  'E:\Google Drive\LYIT\Dissertation\modules'
! ls -al '/content/drive/My Drive/LYIT/Dissertation/modules/'

total 35
-rw------- 1 root root 2589 Apr 27 12:01 10_soul-groove10_102_beat_4-4.mid
-rw------- 1 root root 4793 Apr 27 12:01 1_funk-groove1_138_beat_4-4.mid
-rw------- 1 root root 3243 Apr 27 12:01 2_funk-groove2_105_beat_4-4.mid
-rw------- 1 root root 4466 Apr 27 12:01 3_soul-groove3_86_beat_4-4.mid
-rw------- 1 root root 2551 Apr 27 12:01 4_soul-groove4_80_beat_4-4.mid
-rw------- 1 root root 3798 Apr 27 12:01 5_funk-groove5_84_beat_4-4.mid
-rw------- 1 root root 3760 Apr 27 12:01 6_hiphop-groove6_87_beat_4-4.mid
-rw------- 1 root root 1894 Apr 27 12:01 7_pop-groove7_138_beat_4-4.mid
-rw------- 1 root root 2437 Apr 27 12:01 8_rock-groove8_65_beat_4-4.mid
-rw------- 1 root root 3448 Apr 27 12:01 9_soul-groove9_105_beat_4-4.mid
total 15
-rw------- 1 root root 11226 May 21 19:57 data_prep.py
drwx------ 2 root root  4096 May 10 13:31 __pycache__

## Auto reload module

I'm now using a module edited and saved to google drive which is automatically pushed to the cloud and made available to the colab env. Changes need time to propagate, and imports don't 'reimport' to load changes, so trying the following...

Note the code below is not very reliable, it seems to work occasionally, after some time, but haven't been able to work out the pattern to it. 

If in a hurry, brute force loading of changes by restarting the runtime.

In [0]:
# tool to auto reload modules.
%load_ext autoreload

# config to auto-reload all modules, handy to make 
# writing and testing modules much easier.
%autoreload 2

## Imports and accessing lib functions

In [5]:
# install required libs
!pip install mido

Collecting mido
  Downloading https://files.pythonhosted.org/packages/20/0a/81beb587b1ae832ea6a1901dc7c6faa380e8dd154e0a862f0a9f3d2afab9/mido-1.2.9-py2.py3-none-any.whl (52kB)
     |████████████████████████████████| 61kB 1.7MB/s
Installing collected packages: mido
Successfully installed mido-1.2.9

In [6]:
# imports
import pandas as pd
import math

# import my modules
import sys
sys.path.append('/content/drive/My Drive/LYIT/Dissertation/modules/')
import data_prep

LOADING - data_prep.py module name is: data_prep

In [7]:
# testing auto reload of modules 
data_prep.test_function_call('bling')

test function called worked! :)  bling

## Pandas display options

In [0]:
def set_pandas_display_options() -> None:
    # Ref: https://stackoverflow.com/a/52432757/
    display = pd.options.display

    display.max_columns = 1000
    display.max_rows = 200
    display.max_colwidth = 1000
    display.width = None
    # display.precision = 2  # set as needed

set_pandas_display_options()
#pd.reset_option('all')

## Test creating object from custom module

In [0]:
gmt = data_prep.GrooveMidiTools

In [10]:
file_name = '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/1_funk-groove1_138_beat_4-4.mid'
midi_file = data_prep.MIDI_File_Wrapper(file_name, gmt.mappings)

FILE: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/1_funk-groove1_138_beat_4-4.mid
    tracks: [<midi track 'Base Midi' 1037 messages>]
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=434783 time=0>
    last note_on: 30634
    good instruments: 4, {36.0: 'Bass Drum 1', 38.0: 'Acoustic Snare', 42.0: 'Closed Hi Hat', 51.0: 'Ride Cymbal 1'}

... the above verifies I'm able to create custom objects from custom code, great!

# Visualization class

Don't think I'm going to be using this, it's getting too complex and I'm getting nowhere...

In [0]:

import matplotlib
import matplotlib.pyplot as plt
import numpy as np

class DataVis:
  '''
  Class to collect come visualizations created so far

  Attributes:
      < stuff from __init__ >

  '''

  def __init__(self):
    pass

  # might want to just use something like this method to configure
  # things then call the chart I want.
  def setup():
    pass

  # uses broken_barh
  def score_plot(self, ts_num, ts_denom, start_tick, end_tick, s_notes, s_cum_ticks, s_offset_ticks, instruments=None):
    ''' 
    Print horizontal bar chart, somewhat resembles music score layout

    s_notes (MIDI note numbers), s_cum_ticks (cumulative tick position), s_offset_ticks (offset of MIDI event) should
    be series of aligned values, a row in one series relates to a row in the other series. These could be pulled
    from the same DataFrame holding (in order) the list of MIDI events load from a file.

    The expectation is that only 'note_on' events are passed in.

    Parameters:
      ts_num (int): time signature numerator
      ts_denom (int): time signature denominator
      start_tick (int): position to start printing from
      end_tick (int): click to print to
      s_notes (Series): Series of notes to print
      s_cum_ticks (Series): Series of cumulative tick counts to print
      s_offset_ticks (Series): Series of offsets to print
      instruments (array): array of instruments to display, can be a subset of those passed in which will filter
        the printed events. array order indicates chart order y-axis from low to high. empty array prints all.

    '''

    if ( s_notes.size != s_cum_ticks.size or s_cum_ticks.size != s_offset_ticks.size):
      raise ValueError('ERROR! s_notes ({}), s_cum_ticks({}), and s_offset_ticks({}) must all be the same size!'.format(s_notes, s_cum_ticks, s_offset_ticks))
    
    frame_data = {'note':s_notes, 'tick':s_cum_ticks, 'offset':s_offset_ticks}

    data_df = pd.DataFrame(frame_data)

    # filter to tick range
    time_limited_df = data_df[data_df.tick >= start_tick]
    time_limited_df = data_df[time_limited_df.tick < end_tick]

    if instruments is None:
      instruments = data_df.note.unique()


    for i in instruments:
      instrument_hits = []
      for i_time in time_limited_df.loc[time_limited_df[time_limited_df.note] == i, time_limited_df.tick]:
        instrument_hits.append((i_time, 10))

      print('instrument {}: {}'.format(i, instrument_hits))
    


  def time_offsets():
    pass


## Scratchpad for horitzonal broken_barh

```


#############################################
## Setup steps
#############################################

# number bars to render
ticks_to_render = ticks_per_bar * 2

print('will render bars: {}, total ticks: {}'.format(int(ticks_to_render/ ticks_per_bar), ticks_to_render))

# filter to first bar
limited_df = df[df.total_ticks < ticks_to_render]

# filter to only note_ons
df_ons_only = limited_df[limited_df[midi_file.type_col] == 'note_on']

# filter to selected instruments...
kic_sn_hats_df = df_ons_only[df_ons_only[midi_file.note_col].isin([36, 38, 51] )] 

# check just the specified notes...
kic_sn_hats_df.note.unique()

def get_hit_times_tuple():
  
  hh = [] # hi hats
  for t in kic_sn_hats_df.loc[kic_sn_hats_df[midi_file.note_col] == 51, midi_file.cum_ticks_col]:
    hh.append((t, 10))
  print('hat times: {}'.format(hh))

  sn = [] # snare drum
  for t in kic_sn_hats_df.loc[kic_sn_hats_df[midi_file.note_col] == 38, midi_file.cum_ticks_col]:
    sn.append((t, 10))
  print('snare times: {}'.format(sn))

  k = [] # kick/ bass drum
  for t in kic_sn_hats_df.loc[kic_sn_hats_df[midi_file.note_col] == 36, midi_file.cum_ticks_col]:
    k.append((t, 10))
  print('kick times: {}'.format(k))

  return hh, k, sn

hats, kicks, snares = get_hit_times_tuple()  

#############################################
## Show plot
#############################################

fig, ax = plt.subplots()
fig.set_size_inches(24, 4, forward=True)

ax.broken_barh(hats, (30, 9), facecolors='tab:green')

# do snares
ax.broken_barh(snares, (20, 9), facecolors='tab:blue')

# do kicks
ax.broken_barh(kicks, (10, 9), 
               facecolors='tab:red')


ax.set_ylim(5, 45)
ax.set_xlim(0, ticks_to_render) 
ax.set_xlabel('ticks since start')
ax.set_yticks([15, 25, 35])
ax.set_yticklabels(['Kick', 'Snare', 'Hats'])
ax.set_xticks(range(0, int(ticks_to_render), int(ticks_per_16)))
ax.grid(True)

plt.show()
```

### Testing - Setup timing info

In [157]:
file_name = '/content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/1_funk-groove1_138_beat_4-4.mid'
midi_file = data_prep.MIDI_File_Wrapper(file_name, gmt.mappings)
f = midi_file

FILE: /content/drive/My Drive/groove-v1.0.0-midionly/groove/drummer5/eval_session/1_funk-groove1_138_beat_4-4.mid
    tracks: [<midi track 'Base Midi' 1037 messages>]
    time sig: <meta message time_signature numerator=4 denominator=4 clocks_per_click=24 notated_32nd_notes_per_beat=8 time=0>
    tempo: <meta message set_tempo tempo=434783 time=0>
    last note_on: 30634
    good instruments: 4, {36.0: 'Bass Drum 1', 38.0: 'Acoustic Snare', 42.0: 'Closed Hi Hat', 51.0: 'Ride Cymbal 1'}

In [0]:
# capture timing data in df

mtt = data_prep.MidiTimingTools(file_name, f.ticks(), f.tempo_us(), f.ts_num(), f.ts_denom(), f.last_hit())
# print(mtt)

beats_col, offsets_col = mtt.get_offsets(f_df[f.cum_ticks_col])
f_df = f.df_midi_data
f_df['offset'] = offsets_col
f_df['beat'] = beats_col

# f_df.info()

### Testing - specify/ configure what to print
The next cell is all you need, put in what bar to start at and how many bars to print and hit the go button and it should do the rest ...

In [0]:
# specify what bar to start chart
bar_to_start=15

# specify how many bars to include
bars_to_render=2

# instrument filter
# if you leave empty, all instruments will be
# rendered, otherwise filtered to this list, will
# be ordered from bottom to top y-axis.

instruments_to_render=[]  # good empty list
# instruments_to_render=[38, 36, 42]  # good list
# instruments_to_render=[33, 32, 49, 999]  # broken list

### Testing - do the required calculations and print

In [149]:
# time filtering the df here...

ts_num = f.ts_num()
ts_den = f.ts_denom()
ticks_per_bar=mtt.ticks_per_bar()

# workout ticks
start_tick, end_tick = mtt.get_tick_range(bar_to_start, bars_to_render)
print('start tick: {}, end tick: {}'.format(start_tick, end_tick))
print('total to print, ticks: {}, bars: {}'.format(end_tick - start_tick, (end_tick - start_tick) /ticks_per_bar))

# filter our events to render
time_filtered_df = f_df[f_df.total_ticks >= start_tick]  # chop off early ones
time_filtered_df = time_filtered_df[time_filtered_df.total_ticks < end_tick] # chop off later ones

start tick: 26820.0, end tick: 30660.0
total to print, ticks: 3840.0, bars: 2.0

In [155]:
names = data_prep.MidiTools.getInstruments(instruments_to_render)
print('provided instrument filter: {}, names: {}'.format(instruments_to_render, names ))

instr_time_filtered_df = None 

# instrument filtering the df here ...
if len(instruments_to_render) == 0:
  instr_time_filtered_df = time_filtered_df[time_filtered_df['msg_type'] == 'note_on']
else:
  instr_time_filtered_df = time_filtered_df[time_filtered_df['note'].isin(instruments_to_render)]


final_instruments_to_render = instr_time_filtered_df.note.unique()
names = data_prep.MidiTools.getInstruments(final_instruments_to_render)
print('final instruments: {}, names: {}'.format(final_instruments_to_render, names ))

provided instrument filter: [], names: []
final instruments: [36. 42. 51. 38.], names: ['Bass Drum 1', 'Closed Hi Hat', 'Ride Cymbal 1', 'Acoustic Snare']

In [156]:
instr_time_filtered_df
instr_time_filtered_df.info()

,msg_type,delta_ticks,total_ticks,total_seconds,note,velocity,raw_data,offset,beat
903,note_on,7,26894,24.360529,36.0,43.0,"{'type': 'note_on', 'time': 7, 'note': 36, 'velocity': 43, 'channel': 9}",14,26880
905,note_on,0,26897,24.363247,42.0,62.0,"{'type': 'note_on', 'time': 0, 'note': 44, 'velocity': 62, 'channel': 9}",17,26880
906,note_on,6,26903,24.368681,51.0,72.0,"{'type': 'note_on', 'time': 6, 'note': 51, 'velocity': 72, 'channel': 9}",23,26880
911,note_on,6,27020,24.474660,38.0,23.0,"{'type': 'note_on', 'time': 6, 'note': 38, 'velocity': 23, 'channel': 9}",20,27000
912,note_on,71,27091,24.538971,38.0,9.0,"{'type': 'note_on', 'time': 71, 'note': 38, 'velocity': 9, 'channel': 9}",-29,27120
914,note_on,32,27123,24.567957,36.0,44.0,"{'type': 'note_on', 'time': 32, 'note': 36, 'velocity': 44, 'channel': 9}",3,27120
916,note_on,4,27135,24.578826,51.0,44.0,"{'type': 'note_on', 'time': 4, 'note': 51, 'velocity': 44, 'channel': 9}",15,27120
917,note_on,3,27138,24.581544,38.0,6.0,"{'type': 'note_on', 'time': 3, 'note': 38, 'velocity': 6, 'channel': 9}",18,27120
924,note_on,0,27353,24.776290,42.0,67.0,"{'type': 'note_on', 'time': 0, 'note': 44, 'velocity': 67, 'channel': 9}",-7,27360
926,note_on,6,27394,24.813428,51.0,42.0,"{'type': 'note_on', 'time': 6, 'note': 51, 'velocity': 42, 'channel': 9}",34,27360
929,note_on,116,27621,25.019044,51.0,105.0,"{'type': 'note_on', 'time': 116, 'note': 51, 'velocity': 105, 'channel': 9}",21,27600
930,note_on,8,27629,25.026291,38.0,110.0,"{'type': 'note_on', 'time': 8, 'note': 40, 'velocity': 110, 'channel': 9}",29,27600
936,note_on,0,27863,25.238247,42.0,70.0,"{'type': 'note_on', 'time': 0, 'note': 44, 'velocity': 70, 'channel': 9}",23,27840
937,note_on,4,27867,25.241871,51.0,33.0,"{'type': 'note_on', 'time': 4, 'note': 51, 'velocity': 33, 'channel': 9}",27,27840
940,note_on,31,27967,25.332450,38.0,40.0,"{'type': 'note_on', 'time': 31, 'note': 38, 'velocity': 40, 'channel': 9}",7,27960
944,note_on,68,28064,25.420313,38.0,40.0,"{'type': 'note_on', 'time': 68, 'note': 38, 'velocity': 40, 'channel': 9}",-16,28080
947,note_on,16,28095,25.448392,36.0,33.0,"{'type': 'note_on', 'time': 16, 'note': 36, 'velocity': 33, 'channel': 9}",15,28080
948,note_on,17,28112,25.463791,51.0,60.0,"{'type': 'note_on', 'time': 17, 'note': 51, 'velocity': 60, 'channel': 9}",32,28080
953,note_on,8,28232,25.572487,36.0,26.0,"{'type': 'note_on', 'time': 8, 'note': 36, 'velocity': 26, 'channel': 9}",32,28200
955,note_on,1,28286,25.621400,42.0,42.0,"{'type': 'note_on', 'time': 1, 'note': 44, 'velocity': 42, 'channel': 9}",-34,28320
957,note_on,14,28334,25.664878,51.0,80.0,"{'type': 'note_on', 'time': 14, 'note': 51, 'velocity': 80, 'channel': 9}",14,28320
958,note_on,7,28341,25.671219,38.0,101.0,"{'type': 'note_on', 'time': 7, 'note': 40, 'velocity': 101, 'channel': 9}",21,28320
961,note_on,45,28442,25.762704,38.0,40.0,"{'type': 'note_on', 'time': 45, 'note': 38, 'velocity': 40, 'channel': 9}",2,28440
965,note_on,30,28584,25.891328,51.0,37.0,"{'type': 'note_on', 'time': 30, 'note': 51, 'velocity': 37, 'channel': 9}",24,28560
968,note_on,41,28692,25.989154,38.0,51.0,"{'type': 'note_on', 'time': 41, 'note': 38, 'velocity': 51, 'channel': 9}",12,28680
972,note_on,1,28808,26.094226,42.0,55.0,"{'type': 'note_on', 'time': 1, 'note': 44, 'velocity': 55, 'channel': 9}",8,28800
973,note_on,3,28811,26.096944,36.0,42.0,"{'type': 'note_on', 'time': 3, 'note': 36, 'velocity': 42, 'channel': 9}",11,28800
974,note_on,8,28819,26.104190,51.0,67.0,"{'type': 'note_on', 'time': 8, 'note': 51, 'velocity': 67, 'channel': 9}",19,28800
979,note_on,28,28958,26.230096,38.0,18.0,"{'type': 'note_on', 'time': 28, 'note': 38, 'velocity': 18, 'channel': 9}",38,28920
980,note_on,57,29015,26.281727,38.0,10.0,"{'type': 'note_on', 'time': 57, 'note': 38, 'velocity': 10, 'channel': 9}",-25,29040
982,note_on,17,29032,26.297125,36.0,46.0,"{'type': 'note_on', 'time': 17, 'note': 36, 'velocity': 46, 'channel': 9}",-8,29040
983,note_on,27,29059,26.321582,51.0,54.0,"{'type': 'note_on', 'time': 27, 'note': 51, 'velocity': 54, 'channel': 9}",19,29040
990,note_on,1,29281,26.522669,42.0,65.0,"{'type': 'note_on', 'time': 1, 'note': 44, 'velocity': 65, 'channel': 9}",1,29280
992,note_on,0,29315,26.553466,51.0,48.0,"{'type': 'note_on', 'time': 0, 'note': 51, 'velocity': 48, 'channel': 9}",35,29280
997,note_on,111,29538,26.755459,51.0,107.0,"{'type': 'note_on', 'time': 111, 'note': 51, 'velocity': 107, 'channel': 9}",18,29520
998,note_on,4,29542,26.759082,38.0,104.0,"{'type': 'note_on', 'time': 4, 'note': 40, 'velocity': 104, 'channel': 9}",22,29520
1003,note_on,128,29781,26.975568,51.0,40.0,"{'type': 'note_on', 'time': 128, 'note': 51, 'velocity': 40, 'channel': 9}",21,29760
1005,note_on,1,29799,26.991872,42.0,62.0,"{'type': 'note_on', 'time': 1, 'note': 44, 'velocity': 62, 'channel': 9}",39,29760
1008,note_on,0,29877,27.062524,38.0,55.0,"{'type': 'note_on', 'time': 0, 'note': 38, 'velocity': 55, 'channel': 9}",-3,29880
1013,note_on,13,30001,27.174843,36.0,27.0,"{'type': 'note_on', 'time': 13, 'note': 36, 'velocity': 27, 'channel': 9}",1,30000
1014,note_on,3,30004,27.177561,38.0,40.0,"{'type': 'note_on', 'time': 3, 'note': 38, 'velocity': 40, 'channel': 9}",4,30000
1015,note_on,22,30026,27.197488,51.0,68.0,"{'type': 'note_on', 'time': 22, 'note': 51, 'velocity': 68, 'channel': 9}",26,30000
1019,note_on,6,30121,27.283539,36.0,33.0,"{'type': 'note_on', 'time': 6, 'note': 36, 'velocity': 33, 'channel': 9}",1,30120
1022,note_on,0,30230,27.382271,42.0,42.0,"{'type': 'note_on', 'time': 0, 'note': 44, 'velocity': 42, 'channel': 9}",-10,30240
1024,note_on,23,30256,27.405822,51.0,96.0,"{'type': 'note_on', 'time': 23, 'note': 51, 'velocity': 96, 'channel': 9}",16,30240
1025,note_on,7,30263,27.412162,38.0,109.0,"{'type': 'note_on', 'time': 7, 'note': 40, 'velocity': 109, 'channel': 9}",23,30240
1030,note_on,137,30511,27.636800,51.0,43.0,"{'type': 'note_on', 'time': 137, 'note': 51, 'velocity': 43, 'channel': 9}",31,30480
1034,note_on,12,30634,27.748213,38.0,60.0,"{'type': 'note_on', 'time': 12, 'note': 38, 'velocity': 60, 'channel': 9}",34,30600

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 903 to 1034
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   msg_type       48 non-null     string
 1   delta_ticks    48 non-null     int64
 2   total_ticks    48 non-null     int64
 3   total_seconds  48 non-null     float64
 4   note           48 non-null     float64
 5   velocity       48 non-null     float64
 6   raw_data       48 non-null     string
 7   offset         48 non-null     int64
 8   beat           48 non-null     category
dtypes: category(1), float64(3), int64(3), string(2)
memory usage: 3.6 KB

### Build data structure required by broken_barh

In [0]:
for i in instruments:
  instrument_hits = []
  for i_time in time_limited_df.loc[time_limited_df[time_limited_df.note] == i, time_limited_df.tick]:
    instrument_hits.append((i_time, 10))

  print('instrument {}: {}'.format(i, instrument_hits))

  df_ons_only[df_ons_only[midi_file.note_col].isin([36, 38, 51] )]

In [0]:

#############################################
## Setup steps
#############################################
 
# number bars to render
ticks_to_render = ticks_per_bar * 2
 
print('will render bars: {}, total ticks: {}'.format(int(ticks_to_render/ ticks_per_bar), ticks_to_render))
 
# filter to first bar
limited_df = df[df.total_ticks < ticks_to_render]
 
# filter to only note_ons
df_ons_only = limited_df[limited_df[midi_file.type_col] == 'note_on']
 
# filter to selected instruments...
kic_sn_hats_df = df_ons_only[df_ons_only[midi_file.note_col].isin([36, 38, 51] )] 
 
# check just the specified notes...
kic_sn_hats_df.note.unique()
 
def get_hit_times_tuple():
 
  hh = [] # hi hats
  for t in kic_sn_hats_df.loc[kic_sn_hats_df[midi_file.note_col] == 51, midi_file.cum_ticks_col]:
    hh.append((t, 10))
  print('hat times: {}'.format(hh))
 
  sn = [] # snare drum
  for t in kic_sn_hats_df.loc[kic_sn_hats_df[midi_file.note_col] == 38, midi_file.cum_ticks_col]:
    sn.append((t, 10))
  print('snare times: {}'.format(sn))
 
  k = [] # kick/ bass drum
  for t in kic_sn_hats_df.loc[kic_sn_hats_df[midi_file.note_col] == 36, midi_file.cum_ticks_col]:
    k.append((t, 10))
  print('kick times: {}'.format(k))
 
  return hh, k, sn
 
hats, kicks, snares = get_hit_times_tuple()  
 
#############################################
## Show plot
#############################################
 
fig, ax = plt.subplots()
fig.set_size_inches(24, 4, forward=True)
 
ax.broken_barh(hats, (30, 9), facecolors='tab:green')
 
# do snares
ax.broken_barh(snares, (20, 9), facecolors='tab:blue')
 
# do kicks
ax.broken_barh(kicks, (10, 9), 
               facecolors='tab:red')
 
 
ax.set_ylim(5, 45)
ax.set_xlim(0, ticks_to_render) 
ax.set_xlabel('ticks since start')
ax.set_yticks([15, 25, 35])
ax.set_yticklabels(['Kick', 'Snare', 'Hats'])
ax.set_xticks(range(0, int(ticks_to_render), int(ticks_per_16)))
ax.grid(True)
 
plt.show()


## Scratchpad for offset chart


```


#############################################
## Setup
#############################################

def get_hit_times_array():
  
  hh = [] # hi hats
  for t in kic_sn_hats_df.loc[kic_sn_hats_df[midi_file.note_col] == 51, midi_file.cum_ticks_col]:
    hh.append(t)
  print('hat times: {} - {}'.format(len(hh), hh))

  sn = [] # snare drum
  for t in kic_sn_hats_df.loc[kic_sn_hats_df[midi_file.note_col] == 38, midi_file.cum_ticks_col]:
    sn.append(t)
  print('snare times: {} - {}'.format(len(sn), sn))

  k = [] # kick/ bass drum
  for t in kic_sn_hats_df.loc[kic_sn_hats_df[midi_file.note_col] == 36, midi_file.cum_ticks_col]:
    k.append(t)
  print('kick times: {} - {}'.format(len(k), k))

  return np.array(hh), np.array(k), np.array(sn)

def get_offset_times_array():
  hats = [] # hi-hats
  for t in kic_sn_hats_df.loc[kic_sn_hats_df[midi_file.note_col] == 51, 'beat_offset']:
    hats.append(t)
  print('hat offsets: {} - {}'.format(len(hats), hats))

  snares = [] # snare offsets
  for t in kic_sn_hats_df.loc[kic_sn_hats_df[midi_file.note_col] == 38, 'beat_offset']:
    snares.append(t)
  print('snare offset: {} - {}'.format(len(snares), snares))

  kicks = [] # kick offsets
  for t in kic_sn_hats_df.loc[kic_sn_hats_df[midi_file.note_col] == 36, 'beat_offset']:
    kicks.append(t)
  print('kick offset: {} - {}'.format(len(kicks), kicks))

  return np.array(hats), np.array(kicks), np.array(snares)

# gather times of notes strikes of performance
hh_hits, kick_hits, sn_hits = get_hit_times_array()  

# gather list of strike offsets, i.e. how far the strikes were ahead/ behind the beat
hh_offsets, kick_offsets, sn_offsets = get_offset_times_array()

#############################################
## Show plot
#############################################

x_ticks = [*range(0, int(ticks_to_render), int(ticks_per_16))]
print(x_ticks)
len(x_ticks)

fig, ax = plt.subplots()

fig.set_size_inches(24, 6, forward=True)

ax.plot(hh_hits, hh_offsets, '-o', ms= 10, label='hats offsets')
ax.plot(kick_hits, kick_offsets, '-o', ms= 10, label='kick offsets')
ax.plot(sn_hits, sn_offsets, '-o', ms= 10,label='snare offsets')



ax.set(xlabel='time (ticks)', ylabel='offset (ticks)',
       title='kick, sn, hats timing offset data')

#Add horizontal and vertical lines
plt.axhline(0, color='black', linestyle='dotted', linewidth=4)  #horizontal line

# for xc in x_ticks:
#  plt.axvline(x=xc, color='black', linestyle='dotted')

ax.set_xticks(range(0, int(ticks_to_render), int(ticks_per_16)))

#ax.grid(axis='y')
ax.grid()
ax.legend()

#fig.savefig("test.png")
plt.show()


```